Repository madfam-io/dhanam: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prisma format

feat: implement comprehensive provider integrations and FX rates
  apps/api/package.json
  apps/api/prisma/schema.prisma
  apps/api/src/app.module.ts
  apps/api/src/modules/fx-rates/fx-rates.controller.ts
  apps/api/src/modules/fx-rates/fx-rates.module.ts
  apps/api/src/modules/fx-rates/fx-rates.service.ts
  apps/api/src/modules/providers/belvo/belvo.controller.ts
  apps/api/src/modules/providers/belvo/belvo.service.ts
  apps/api/src/modules/providers/blockchain/blockchain.controller.ts
  apps/api/src/modules/providers/blockchain/blockchain.module.ts
  apps/api/src/modules/providers/blockchain/blockchain.service.ts
  apps/api/src/modules/providers/blockchain/dto/add-wallet.dto.ts
  apps/api/src/modules/providers/blockchain/dto/import-wallet.dto.ts
  apps/api/src/modules/providers/blockchain/dto/index.ts
  apps/api/src/modules/providers/providers.module.ts
Due: eslint --fix, prettier --write, prisma format

feat: implement one-line platform orchestration with ./dhanam CLI
  DHANAM_CLI.md
  apps/api/prisma/manual-schema.sql
  apps/api/prisma/schema.prisma
  apps/api/prisma/seed-enhanced.ts
  apps/api/src/core/auth/auth.controller.ts
  apps/api/src/core/auth/auth.module.ts
  apps/api/src/core/auth/guest-auth.service.ts
  dhanam
  dhanam-quick
  docker-compose.local.yml
  docs/RESET_COMMAND.md
  manual-start.sh
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, prisma format

fix: permanent workaround for Prisma PostgreSQL 15 permission bug
  dhanam
  fix-prisma.sh
Due: none

feat: implement guest access with demo UI and critical bug fixes
  apps/api/prisma/full-schema.sql
  apps/api/prisma/seed-data.sql
  apps/api/src/core/auth/auth.controller.ts
  apps/api/src/core/auth/guest-auth.service.ts
  apps/api/src/main.ts
  apps/web/src/app/(auth)/login/page.tsx
  apps/web/src/components/onboarding/steps/feature-tour-step.tsx
  apps/web/src/lib/api/auth.ts
Due: eslint --fix, prettier --write

fix: stabilize codebase for TypeScript and linting compliance
  apps/web/jest.config.js
  apps/web/src/app/(auth)/login/page.tsx
  apps/web/src/components/onboarding/steps/feature-tour-step.tsx
  apps/web/src/contexts/PreferencesContext.tsx
  apps/web/src/lib/api/admin.ts
  apps/web/src/lib/api/client.ts
  apps/web/src/lib/api/onboarding.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat: comprehensive codebase quality audit with actionable recommendations
  CODEBASE_QUALITY_AUDIT_REPORT.md
  DATABASE_ARCHITECTURE_AUDIT.md
  DATABASE_AUDIT_SUMMARY.txt
  DEPENDENCY_ANALYSIS_INDEX.md
  DEPENDENCY_ANALYSIS_REPORT.txt
  DEPENDENCY_FIXES_CHECKLIST.md
  DEPENDENCY_SUMMARY.md
Due: prettier --write

fix(security): resolve 6 critical security vulnerabilities (P0)
  apps/api/prisma/seed-enhanced.ts
  apps/api/prisma/seed.ts
  apps/api/src/core/auth/auth.service.ts
  apps/api/src/core/auth/strategies/jwt.strategy.ts
  apps/api/src/core/auth/totp.service.ts
  apps/api/src/main.ts
Due: eslint --fix, prettier --write

fix(database): resolve critical schema issues and add performance indexes
  apps/api/prisma/schema.prisma
Due: prisma format

fix(performance): eliminate N+1 query, add connection pooling, and SECURITY.md
  SECURITY.md
  apps/api/.env.example
  apps/api/src/core/prisma/prisma.service.ts
  apps/api/src/modules/categories/rules.service.ts
Due: eslint --fix, prettier --write

test(auth): add comprehensive auth module tests (Day 1 - Testing Sprint)
  apps/api/src/core/auth/__tests__/auth.service.spec.ts
  apps/api/src/core/auth/__tests__/totp.service.spec.ts
Due: eslint --fix, prettier --write

test(auth): complete Day 1-2 auth module comprehensive tests
  apps/api/src/core/auth/__tests__/jwt.strategy.spec.ts
  apps/api/src/core/auth/__tests__/session.service.spec.ts
Due: eslint --fix, prettier --write

test(providers): add comprehensive webhook contract tests for Belvo, Plaid, and Bitso
  apps/api/src/modules/providers/belvo/__tests__/belvo.webhook.spec.ts
  apps/api/src/modules/providers/bitso/__tests__/bitso.webhook.spec.ts
  apps/api/src/modules/providers/plaid/__tests__/plaid.webhook.spec.ts
Due: eslint --fix, prettier --write

test(business-logic): add comprehensive tests for rules engine and budgets modules
  apps/api/src/modules/budgets/__tests__/budgets.service.spec.ts
  apps/api/src/modules/categories/__tests__/rules.service.spec.ts
Due: eslint --fix, prettier --write

fix(web): resolve TypeScript error in admin analytics page
  apps/web/src/app/(admin)/admin/analytics/page.tsx
Due: eslint --fix, prettier --write

fix(web): add non-null assertion for dropoff value in analytics page
  apps/web/src/app/(admin)/admin/analytics/page.tsx
Due: eslint --fix, prettier --write

fix(web): add @types/recharts for TypeScript support
  apps/web/package.json
Due: prettier --write

chore: update pnpm-lock.yaml after adding @types/recharts
  pnpm-lock.yaml
Due: none

fix(web): correct Recharts XAxis and YAxis props in budget analytics
  apps/web/src/components/budgets/budget-analytics.tsx
Due: eslint --fix, prettier --write

docs: add comprehensive remediation plan
  REMEDIATION_PLAN.md
Due: prettier --write

security: implement Priority 1 security fixes from remediation plan
  apps/api/.env.example
  apps/api/src/config/validation.ts
  apps/api/src/core/auth/auth.controller.ts
  apps/api/src/core/auth/auth.module.ts
  apps/api/src/core/config/env-validation.service.ts
  apps/api/src/core/crypto/kms.service.ts
  apps/api/src/core/logger/log-sanitizer.ts
  apps/api/src/core/logger/logger.service.ts
Due: eslint --fix, prettier --write

test: add comprehensive authentication service unit tests (Priority 2)
  apps/api/jest.config.js
  apps/api/src/core/auth/__tests__/auth.service.spec.ts
Due: eslint --fix, prettier --write

test: add comprehensive unit tests for auth, crypto, and logger services (Priority 2)
  apps/api/src/core/auth/__tests__/session.service.spec.ts
  apps/api/src/core/auth/__tests__/totp.service.spec.ts
  apps/api/src/core/crypto/__tests__/kms.service.spec.ts
  apps/api/src/core/logger/__tests__/log-sanitizer.spec.ts
Due: eslint --fix, prettier --write

test: fix LogSanitizer and test suite issues (Priority 2)
  apps/api/src/core/auth/__tests__/totp.service.spec.ts
  apps/api/src/core/crypto/__tests__/kms.service.spec.ts
  apps/api/src/core/logger/__tests__/log-sanitizer.spec.ts
  apps/api/src/core/logger/log-sanitizer.ts
Due: eslint --fix, prettier --write

test: fix TOTP test spy issue (Priority 2)
  apps/api/src/core/auth/__tests__/totp.service.spec.ts
Due: eslint --fix, prettier --write

docs: add comprehensive test execution summary (Priority 2)
  TEST_EXECUTION_SUMMARY.md
Due: prettier --write

docs: add test results and summary documentation (Priority 2)
  TEST_RESULTS.md
  TEST_SUMMARY.md
Due: prettier --write

feat(plaid): complete Plaid integration (Priority 3 - Task 3.1)
  apps/api/src/modules/providers/plaid/plaid.service.ts
Due: eslint --fix, prettier --write

feat(bitso): complete Bitso integration with valuation tracking (Priority 3 - Task 3.2)
  apps/api/src/modules/providers/bitso/bitso.service.ts
Due: eslint --fix, prettier --write

feat(blockchain): complete blockchain wallet tracking with ERC-20 support (Priority 3 - Task 3.3)
  apps/api/src/modules/jobs/jobs.service.ts
  apps/api/src/modules/providers/blockchain/blockchain.service.ts
Due: eslint --fix, prettier --write

docs: add Priority 3 completion summary
  PRIORITY_3_COMPLETION_SUMMARY.md
Due: prettier --write

refactor: improve type safety for provider services (Priority 4 - Part 1)
  apps/api/src/modules/providers/bitso/bitso.service.ts
  apps/api/src/modules/providers/blockchain/blockchain.service.ts
  apps/api/src/modules/providers/plaid/plaid.service.ts
  apps/api/src/types/metadata.types.ts
  apps/api/src/types/prisma-errors.types.ts
Due: eslint --fix, prettier --write

docs: add Priority 4 Part 1 completion summary
  PRIORITY_4_PART_1_SUMMARY.md
Due: prettier --write

fix(web): correct Recharts Tooltip formatter type signature
  apps/web/src/components/budgets/budget-analytics.tsx
Due: eslint --fix, prettier --write

fix(web): correct Recharts Tooltip formatter type in budget analytics
  apps/web/src/components/budgets/budget-analytics.tsx
Due: eslint --fix, prettier --write

fix(web): resolve undefined feature access in FeatureTourStep
  apps/web/src/components/onboarding/steps/feature-tour-step.tsx
Due: eslint --fix, prettier --write

fix(web): remove unused bulkUpdatePreferences in PreferencesSection
  apps/web/src/components/settings/PreferencesSection.tsx
Due: eslint --fix, prettier --write

fix(web): correct variable name from 'token' to 'tokens' in PreferencesContext
  apps/web/src/contexts/PreferencesContext.tsx
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,mdx,css,scss})
  prisma format: any of: *.prisma
