Repository madfam-io/dhanam: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prisma format

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,md,mdx,css,scss}": [
    "prettier --write"
  ],
  "*.prisma": [
    "prisma format"
  ]
}

test: improve test coverage and fix test database setup
  apps/api/src/modules/transaction-execution/__tests__/provider-integration.spec.ts
  apps/api/src/modules/transaction-execution/__tests__/transaction-execution.service.spec.ts
  apps/api/src/modules/transaction-execution/dto/create-order.dto.ts
  apps/api/test/helpers/test-database.ts
Due: eslint --fix, prettier --write

docs: add comprehensive documentation for Phase 2
  docs/PHASE2-SUMMARY.md
  docs/api/transaction-execution-api.md
  docs/guides/goal-rebalancing-user-guide.md
  docs/guides/transaction-execution-user-guide.md
Due: prettier --write

feat: add Phase 3a - Advanced Order Types & Scheduling
  apps/api/prisma/schema.prisma
  apps/api/src/modules/transaction-execution/services/order-scheduling.service.ts
  apps/api/src/modules/transaction-execution/services/price-monitoring.service.ts
  apps/api/src/modules/transaction-execution/transaction-execution.module.ts
  docs/PHASE3-PLAN.md
Due: eslint --fix, prettier --write, prisma format

fix: update dependencies to address security vulnerabilities
  apps/api/package.json
  apps/mobile/package.json
  apps/web/package.json
  pnpm-lock.yaml
Due: prettier --write

fix: implement Milestone 1 foundational improvements
  apps/api/src/core/audit/audit.service.ts
  apps/api/src/modules/billing/billing.module.ts
  apps/api/src/modules/billing/billing.service.ts
  apps/api/src/modules/households/households.module.ts
  apps/api/src/modules/simulations/simulations.module.ts
  apps/api/src/modules/simulations/simulations.service.ts
  apps/api/src/modules/simulations/utils/statistics.util.ts
Due: eslint --fix, prettier --write

style: fix all remaining linting errors (46 → 0)
  apps/api/src/modules/billing/billing.controller.ts
  apps/api/src/modules/billing/billing.service.ts
  apps/api/src/modules/estate-planning/estate-planning.service.ts
  apps/api/src/modules/goals/goals-execution.service.ts
  apps/api/src/modules/goals/goals.controller.ts
  apps/api/src/modules/goals/goals.service.ts
  apps/api/src/modules/households/households.service.ts
  apps/api/src/modules/simulations/simulations.controller.ts
  apps/api/src/modules/simulations/simulations.service.ts
  apps/api/src/modules/transaction-execution/providers/belvo-execution.provider.ts
  apps/api/src/modules/transaction-execution/providers/bitso-execution.provider.ts
  apps/api/src/modules/transaction-execution/providers/plaid-execution.provider.ts
  apps/api/src/modules/transaction-execution/services/order-scheduling.service.ts
  apps/api/src/modules/transaction-execution/services/price-monitoring.service.ts
  apps/api/src/modules/transaction-execution/transaction-execution.controller.ts
  apps/api/src/modules/transaction-execution/transaction-execution.module.ts
  apps/api/src/modules/transaction-execution/transaction-execution.service.ts
Due: eslint --fix, prettier --write

fix: resolve non-Prisma TypeScript errors (145 → 14 errors)
  apps/api/src/modules/billing/billing.service.ts
  apps/api/src/modules/billing/stripe.service.ts
  apps/api/src/modules/estate-planning/estate-planning.service.ts
  apps/api/src/modules/goals/goals-execution.service.ts
  apps/api/src/modules/goals/goals.controller.ts
  apps/api/src/modules/goals/goals.service.ts
  apps/api/src/modules/households/households.service.ts
  apps/api/src/modules/transaction-execution/transaction-execution.service.ts
Due: eslint --fix, prettier --write

fix: resolve final non-Prisma TypeScript errors (14 → 0 errors)
  apps/api/src/modules/billing/billing.controller.ts
  apps/api/src/modules/billing/billing.service.ts
  apps/api/src/modules/billing/guards/usage-limit.guard.ts
  apps/api/src/modules/billing/stripe.service.ts
  apps/api/src/modules/estate-planning/estate-planning.service.ts
  apps/api/src/modules/goals/goals.controller.ts
  apps/api/src/modules/transaction-execution/providers/provider-factory.service.ts
  apps/api/src/modules/transaction-execution/transaction-execution.service.ts
Due: eslint --fix, prettier --write

chore: update Next.js auto-generated type reference URL
  apps/web/next-env.d.ts
Due: eslint --fix, prettier --write

chore(web): fix web app linting issues (partial)
  apps/web/src/app/(dashboard)/estate-planning/page.tsx
  apps/web/src/app/(dashboard)/goals/page.tsx
  apps/web/src/app/(dashboard)/households/page.tsx
  apps/web/src/app/(dashboard)/retirement/page.tsx
  apps/web/src/app/(dashboard)/scenarios/page.tsx
  apps/web/src/components/billing/PremiumGate.tsx
  apps/web/src/components/billing/PremiumUpsell.tsx
  apps/web/src/components/budgets/budget-analytics.test.tsx
  apps/web/src/components/goals/rebalancing-dashboard.tsx
  apps/web/src/components/orders/order-list.tsx
  apps/web/src/components/orders/order-placement-form.tsx
  apps/web/src/components/simulations/RetirementCalculatorForm.tsx
  apps/web/src/components/simulations/RetirementResults.tsx
  apps/web/src/components/simulations/SimulationChart.tsx
  apps/web/src/components/ui/progress.tsx
  apps/web/src/components/ui/separator.tsx
  apps/web/src/hooks/useAnalytics.ts
  apps/web/src/hooks/useGoals.ts
  apps/web/src/hooks/useHouseholds.ts
  apps/web/src/hooks/useSimulations.ts
  apps/web/src/hooks/useWills.ts
  apps/web/src/lib/api/orders.ts
  apps/web/src/middleware.ts
Due: eslint --fix, prettier --write

chore(web): fix web app linting errors - complete cleanup
  apps/web/.eslintrc.js
  apps/web/src/app/(dashboard)/goals/page.tsx
  apps/web/src/app/(dashboard)/retirement/page.tsx
  apps/web/src/app/demo/page.tsx
  apps/web/src/app/page.tsx
  apps/web/src/components/goals/goal-progress-tracker.tsx
  apps/web/src/components/orders/order-details-modal.tsx
Due: eslint --fix, prettier --write

security: fix critical and high-severity vulnerabilities (21 → 4)
  apps/api/package.json
  apps/web/package.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

security: fix critical and high-severity vulnerabilities
  apps/api/package.json
  apps/web/next-env.d.ts
  apps/web/package.json
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

security: eliminate vulnerable js-yaml and Next.js versions from lock file
  package.json
  pnpm-lock.yaml
Due: prettier --write

security: update Next.js to 15.5.6 to fix critical vulnerabilities
  apps/web/package.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

security: document acceptance of CVE-2025-57319 in fast-redact
  SECURITY.md
  package.json
Due: prettier --write

security: fix CVE-2025-57319 by upgrading to Pino 10.x
  SECURITY.md
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix: update axios to >=1.8.2 in mobile app and regenerate lockfile
  apps/mobile/package.json
  pnpm-lock.yaml
Due: prettier --write

fix: resolve TypeScript type errors in estate planning, goals, and transaction execution services
  apps/api/src/modules/estate-planning/estate-planning.service.ts
  apps/api/src/modules/goals/goals-execution.service.ts
  apps/api/src/modules/goals/goals.service.ts
Due: eslint --fix, prettier --write

test: add comprehensive test coverage for billing module
  apps/api/src/modules/billing/__tests__/billing.controller.spec.ts
  apps/api/src/modules/billing/__tests__/billing.service.spec.ts
  apps/api/src/modules/billing/__tests__/stripe.service.spec.ts
  apps/api/src/modules/billing/__tests__/subscription.guard.spec.ts
  apps/api/src/modules/billing/__tests__/usage-limit.guard.spec.ts
  apps/api/src/modules/billing/__tests__/usage-tracking.interceptor.spec.ts
Due: eslint --fix, prettier --write

test: add comprehensive test coverage for goals module (Priority 2)
  apps/api/src/modules/goals/__tests__/goals-execution.service.spec.ts
  apps/api/src/modules/goals/__tests__/goals.controller.spec.ts
  apps/api/src/modules/goals/__tests__/goals.service.spec.ts
Due: eslint --fix, prettier --write

test: add comprehensive test coverage for analytics, email, and integrations modules
  apps/api/src/modules/analytics/__tests__/analytics.service.spec.ts
  apps/api/src/modules/email/__tests__/email.service.spec.ts
  apps/api/src/modules/integrations/__tests__/integrations.service.spec.ts
Due: eslint --fix, prettier --write

feat: add statistical simulation engine and Monte Carlo capabilities (Week 7-9)
  apps/api/prisma/schema.prisma
  apps/api/src/modules/simulations/dto/index.ts
  apps/api/src/modules/simulations/simulations.controller.ts
  apps/api/src/modules/simulations/simulations.module.ts
  apps/api/src/modules/simulations/simulations.service.ts
  packages/simulations/jest.config.js
  packages/simulations/package.json
  packages/simulations/src/__tests__/statistics.util.spec.ts
  packages/simulations/src/engines/monte-carlo.engine.ts
  packages/simulations/src/index.ts
  packages/simulations/src/utils/statistics.util.ts
  packages/simulations/tsconfig.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, prisma format

feat: add retirement simulator frontend and goal integration (Week 10-12)
  apps/web/src/components/goals/goal-probability-calculator.tsx
  apps/web/src/components/simulations/ScenarioComparison.tsx
  apps/web/src/components/simulations/index.ts
  apps/web/src/hooks/useSimulations.ts
Due: eslint --fix, prettier --write

feat: add scenario analysis stress testing (Weeks 21-24)
  apps/api/src/modules/simulations/dto/analyze-scenario.dto.ts
  apps/api/src/modules/simulations/dto/index.ts
  apps/api/src/modules/simulations/simulations.controller.ts
  apps/api/src/modules/simulations/simulations.service.ts
  apps/web/src/components/simulations/ScenarioComparison.tsx
  apps/web/src/components/simulations/index.ts
  apps/web/src/hooks/useSimulations.ts
  packages/simulations/src/engines/scenario-analysis.engine.ts
  packages/simulations/src/index.ts
Due: eslint --fix, prettier --write

feat: add zero-based allocation budgeting (YNAB-style)
  apps/api/prisma/schema.prisma
  apps/api/src/modules/budgets/budgets.controller.ts
  apps/api/src/modules/budgets/budgets.service.ts
  apps/api/src/modules/budgets/dto/budget-response.dto.ts
  apps/web/src/components/budgets/ready-to-assign.tsx
  docs/audits/MARKET_GAP_ANALYSIS_2025.md
  docs/guides/ZERO_BASED_ALLOCATION.md
Due: eslint --fix, prettier --write, prisma format

feat: add manual asset entry for PE/real estate/collectibles (HNWI)
  apps/api/prisma/schema.prisma
  apps/api/src/app.module.ts
  apps/api/src/modules/manual-assets/dto/create-manual-asset.dto.ts
  apps/api/src/modules/manual-assets/dto/index.ts
  apps/api/src/modules/manual-assets/dto/manual-asset-response.dto.ts
  apps/api/src/modules/manual-assets/dto/update-manual-asset.dto.ts
  apps/api/src/modules/manual-assets/manual-assets.controller.ts
  apps/api/src/modules/manual-assets/manual-assets.module.ts
  apps/api/src/modules/manual-assets/manual-assets.service.ts
  apps/web/src/components/assets/manual-asset-form.tsx
  docs/guides/MANUAL_ASSETS.md
Due: eslint --fix, prettier --write, prisma format

feat: add multi-provider redundancy foundation (Phase 1)
  apps/api/prisma/schema.prisma
  apps/api/src/modules/providers/mx/mx.module.ts
  apps/api/src/modules/providers/mx/mx.service.ts
  apps/api/src/modules/providers/orchestrator/circuit-breaker.service.ts
  apps/api/src/modules/providers/orchestrator/orchestrator.module.ts
  apps/api/src/modules/providers/orchestrator/provider-orchestrator.service.ts
  apps/api/src/modules/providers/orchestrator/provider.interface.ts
  apps/api/src/modules/providers/providers.module.ts
  docs/guides/MULTI_PROVIDER_REDUNDANCY.md
Due: eslint --fix, prettier --write, prisma format

feat: complete MX and Finicity integrations (Phase 2 & 3)
  apps/api/package.json
  apps/api/src/modules/providers/finicity/finicity.module.ts
  apps/api/src/modules/providers/finicity/finicity.service.ts
  apps/api/src/modules/providers/mx/mx.module.ts
  apps/api/src/modules/providers/mx/mx.service.ts
  apps/api/src/modules/providers/providers.module.ts
Due: eslint --fix, prettier --write

feat: implement Yours/Mine/Ours account visibility for couples
  apps/api/prisma/schema.prisma
  apps/api/src/modules/accounts/accounts.controller.ts
  apps/api/src/modules/accounts/accounts.service.ts
  apps/api/src/modules/accounts/dto/update-ownership.dto.ts
  apps/web/src/components/accounts/accounts-by-ownership.tsx
  apps/web/src/components/accounts/ownership-toggle.tsx
Due: eslint --fix, prettier --write, prisma format

feat: add transaction splits and account sharing (Phase 4 enhancements)
  apps/api/prisma/schema.prisma
  apps/api/src/modules/accounts/accounts.service.ts
  apps/api/src/modules/accounts/dto/share-account.dto.ts
  apps/api/src/modules/transactions/dto/split-transaction.dto.ts
  apps/api/src/modules/transactions/transaction-splits.service.ts
  apps/web/src/components/transactions/split-transaction-dialog.tsx
Due: eslint --fix, prettier --write, prisma format

feat: implement AI/ML features for intelligent automation (Phase 5)
  apps/api/src/modules/ml/ml.controller.ts
  apps/api/src/modules/ml/ml.module.ts
  apps/api/src/modules/ml/provider-selection.service.ts
  apps/api/src/modules/ml/split-prediction.service.ts
  apps/api/src/modules/ml/transaction-categorization.service.ts
  apps/api/src/modules/providers/orchestrator/orchestrator.module.ts
  apps/api/src/modules/providers/orchestrator/provider-orchestrator.service.ts
  apps/web/src/components/ml/ml-insights-dashboard.tsx
Due: eslint --fix, prettier --write

feat: implement one-click demo experience from landing page
  apps/api/prisma/seed-enhanced.ts
  apps/web/src/app/(dashboard)/dashboard/page.tsx
  apps/web/src/app/(dashboard)/layout.tsx
  apps/web/src/app/page.tsx
  apps/web/src/components/demo/demo-mode-banner.tsx
  apps/web/src/components/demo/help-tooltip.tsx
Due: eslint --fix, prettier --write

fix: correct seed script data models and add analytics fallback UI
  apps/api/prisma/seed-enhanced.ts
  apps/web/src/app/(dashboard)/dashboard/page.tsx
  apps/web/src/components/demo/analytics-empty-state.tsx
Due: eslint --fix, prettier --write

test: add comprehensive test coverage for demo components and flows
  apps/web/src/components/demo/analytics-empty-state.test.tsx
  apps/web/src/components/demo/demo-mode-banner.test.tsx
  apps/web/src/components/demo/help-tooltip.test.tsx
  apps/web/test/integration/landing-demo-flow.test.tsx
Due: eslint --fix, prettier --write

feat: integrate Monte Carlo engine for probabilistic goal planning
  apps/api/prisma/schema.prisma
  apps/api/src/modules/goals/goal-probability.service.ts
  apps/api/src/modules/goals/goals.controller.ts
  apps/api/src/modules/goals/goals.module.ts
  apps/api/src/modules/simulations/simulations.module.ts
Due: eslint --fix, prettier --write, prisma format

feat: add frontend probabilistic goal components with Monte Carlo integration
  apps/web/src/components/goals/goal-probability-calculator.tsx
  apps/web/src/components/goals/probabilistic-goal-card.tsx
  apps/web/src/components/goals/what-if-scenario-builder.tsx
  apps/web/src/hooks/useGoals.ts
Due: eslint --fix, prettier --write

feat: integrate probabilistic goals into main dashboard
  apps/web/src/app/(dashboard)/dashboard/page.tsx
Due: eslint --fix, prettier --write

feat: add probabilistic goals to demo seed data
  apps/api/prisma/seed-enhanced.ts
Due: eslint --fix, prettier --write
