Repository madfam-io/dhanam: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prisma format

feat(billing): synthetic revenue probe for live monetization smoke test (#355)
  apps/api/src/modules/billing/billing.module.ts
  apps/api/src/modules/billing/jobs/synthetic-revenue-probe.job.ts
  apps/api/src/modules/billing/services/__tests__/synthetic-revenue-probe.service.spec.ts
  apps/api/src/modules/billing/services/synthetic-revenue-probe.service.ts
Due: eslint --fix, prettier --write

fix(billing): resolveUserForOrganization queries UserSpace not Space.ownerId
  apps/api/src/modules/billing/madfam-events.controller.ts
Due: eslint --fix, prettier --write

fix(billing): resolveUserForOrganization queries UserSpace not Space.ownerId (#356)
  apps/api/src/modules/billing/madfam-events.controller.ts
Due: eslint --fix, prettier --write

fix(mobile): declare Jest globals in ESLint config (unblocks 138 errors)
  apps/mobile/eslint.config.mjs
  apps/mobile/package.json
  pnpm-lock.yaml
Due: prettier --write

fix(mobile): declare Jest globals in ESLint config (unblocks 138 errors) (#357)
  apps/mobile/eslint.config.mjs
  apps/mobile/package.json
  pnpm-lock.yaml
Due: prettier --write

feat(web): integrate @madfam/pmf-widget for PMF measurement (RFC 0013)
  CLAUDE.md
  apps/web/.env.example
  apps/web/package.json
  apps/web/src/__tests__/components/pmf/PmfWidgetMount.test.tsx
  apps/web/src/components/pmf/PmfWidgetMount.tsx
  apps/web/src/lib/providers.tsx
  apps/web/src/types/madfam-pmf-widget.d.ts
Due: eslint --fix, prettier --write

feat(web): integrate @madfam/pmf-widget for PMF measurement (RFC 0013) (#358)
  CLAUDE.md
  apps/web/.env.example
  apps/web/package.json
  apps/web/src/__tests__/components/pmf/PmfWidgetMount.test.tsx
  apps/web/src/components/pmf/PmfWidgetMount.tsx
  apps/web/src/lib/providers.tsx
  apps/web/src/types/madfam-pmf-widget.d.ts
Due: eslint --fix, prettier --write

feat(enclii): declare status entries via enclii.yaml
  enclii.yaml
Due: none

feat(enclii): declare status entries via enclii.yaml (#359)
  enclii.yaml
Due: none

fix(ci): repair pnpm/action-setup with: mapping (12 occurrences)
  .github/workflows/ci.yml
Due: none

fix(ci): repair pnpm/action-setup with: mapping (12 occurrences) (#360)
  .github/workflows/ci.yml
Due: none

fix(deps): add @madfam/pmf-widget to pnpm-lock
  pnpm-lock.yaml
Due: none

fix(deps): add @madfam/pmf-widget to pnpm-lock (#361)
  pnpm-lock.yaml
Due: none

fix(security): close 62 lockfile CVEs via pnpm.overrides updates
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix(security): close 62 lockfile CVEs via pnpm.overrides updates (#362)
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix(security): resolve 9 CodeQL code-scanning findings
  apps/api/src/modules/billing/billing.controller.ts
  apps/api/src/modules/kyc/metamap.provider.ts
  apps/api/src/modules/migration/lunchmoney/lunchmoney-mapper.ts
  apps/web/src/components/auth-provider.tsx
  packages/billing-sdk/src/client.ts
  packages/billing-sdk/src/referral.ts
  packages/billing-sdk/src/url.ts
  packages/billing-sdk/src/usage.ts
  scripts/setup-stripe.ts
Due: eslint --fix, prettier --write

fix(web): drop redundant non-null assertion in auth-provider redirect
  apps/web/src/components/auth-provider.tsx
Due: eslint --fix, prettier --write

fix(security): resolve 9 CodeQL code-scanning findings (#363)
  apps/api/src/modules/billing/billing.controller.ts
  apps/api/src/modules/kyc/metamap.provider.ts
  apps/api/src/modules/migration/lunchmoney/lunchmoney-mapper.ts
  apps/web/src/components/auth-provider.tsx
  packages/billing-sdk/src/client.ts
  packages/billing-sdk/src/referral.ts
  packages/billing-sdk/src/url.ts
  packages/billing-sdk/src/usage.ts
  scripts/setup-stripe.ts
Due: eslint --fix, prettier --write

fix(api): add WebhookEndpoint + WebhookDelivery models to Prisma schema
  apps/api/prisma/schema.prisma
Due: prisma format

fix(api): add MerchantAccount + Transfer + Payout + Dispute + ApplicationFee models to Prisma schema
  apps/api/prisma/schema.prisma
Due: prisma format

fix(marketplace): normalize Prisma imports to @db barrel (P0-F)
  apps/api/src/modules/marketplace/dto/marketplace.dto.ts
  apps/api/src/modules/marketplace/services/charge.service.ts
  apps/api/src/modules/marketplace/services/connect-webhook.handler.ts
  apps/api/src/modules/marketplace/services/dispute.service.ts
  apps/api/src/modules/marketplace/services/merchant.service.ts
  apps/api/src/modules/marketplace/services/payout.service.ts
  apps/api/src/modules/marketplace/services/transfer.service.ts
Due: eslint --fix, prettier --write

fix(providers): type-narrow orchestrator params via discriminated union
  apps/api/src/modules/providers/orchestrator/provider-orchestrator.service.ts
Due: eslint --fix, prettier --write

fix(core): shared isPrismaKnownRequestError() guard (P1-E)
  apps/api/src/core/auth/totp.service.ts
  apps/api/src/core/filters/global-exception.filter.ts
  apps/api/src/core/filters/prisma-error.guard.ts
Due: eslint --fix, prettier --write

fix(transaction-execution): coerce User-Agent header to string (P1-F)
  apps/api/src/modules/transaction-execution/transaction-execution.controller.ts
Due: eslint --fix, prettier --write

fix(billing): coerce JWT date strings to Date before TrialService (P1-G)
  apps/api/src/modules/billing/billing.controller.ts
Due: eslint --fix, prettier --write

fix(storage): cast getSignedUrl signature to widen S3Client (P1-H)
  apps/api/src/modules/storage/r2.service.ts
Due: eslint --fix, prettier --write

fix(billing): reconciliation job types — Stripe API + enum extensions (P1-I)
  apps/api/prisma/migrations/20260427000000_add_reconciliation_billing_event_status/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/modules/billing/jobs/reconciliation.job.ts
Due: eslint --fix, prettier --write, prisma format

fix(web): unblock all CI by removing unpublished pmf-widget dep
  CLAUDE.md
  apps/web/package.json
  apps/web/src/components/pmf/PmfWidgetMount.tsx
  apps/web/src/types/madfam-pmf-widget.d.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

fix(web): unblock all CI by removing unpublished pmf-widget dep (#373)
  CLAUDE.md
  apps/web/package.json
  apps/web/src/components/pmf/PmfWidgetMount.tsx
  apps/web/src/types/madfam-pmf-widget.d.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

fix(api): add WebhookEndpoint + WebhookDelivery models to Prisma schema (#364)
  apps/api/prisma/schema.prisma
Due: prisma format

fix(providers): type-narrow orchestrator params via discriminated union (#367)
  apps/api/src/modules/providers/orchestrator/provider-orchestrator.service.ts
Due: eslint --fix, prettier --write

fix(core): shared isPrismaKnownRequestError() guard (P1-E) (#368)
  apps/api/src/core/auth/totp.service.ts
  apps/api/src/core/filters/global-exception.filter.ts
  apps/api/src/core/filters/prisma-error.guard.ts
Due: eslint --fix, prettier --write

fix(transaction-execution): coerce User-Agent header to string (P1-F) (#369)
  apps/api/src/modules/transaction-execution/transaction-execution.controller.ts
Due: eslint --fix, prettier --write

fix(billing): coerce JWT date strings to Date before TrialService (P1-G) (#370)
  apps/api/src/modules/billing/billing.controller.ts
Due: eslint --fix, prettier --write

fix(storage): cast getSignedUrl signature to widen S3Client (P1-H) (#371)
  apps/api/src/modules/storage/r2.service.ts
Due: eslint --fix, prettier --write

fix(billing): reconciliation job types — Stripe API + enum extensions (P1-I) (#372)
  apps/api/prisma/migrations/20260427000000_add_reconciliation_billing_event_status/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/modules/billing/jobs/reconciliation.job.ts
Due: eslint --fix, prettier --write, prisma format

fix(api): add MerchantAccount + Transfer + Payout + Dispute + ApplicationFee models to Prisma schema (#374)
  apps/api/prisma/schema.prisma
Due: prisma format

fix(deps): keep brace-expansion v1 consumers on v1.x in pnpm overrides
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix(deps): keep brace-expansion v1 consumers on v1.x in pnpm overrides (#375)
  package.json
  pnpm-lock.yaml
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,mdx,css,scss})
  prisma format: any of: *.prisma
