Repository madfam-io/dhanam: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prisma format

fix(web): document NEXT_PUBLIC invariant on .env.production + guard script
  apps/web/.env.production
  scripts/verify-env-production.sh
Due: none

test(t5): unskip 5 form validation tests, swap fireEvent to userEvent
  apps/web/src/components/forms/login-form.test.tsx
  apps/web/src/components/forms/register-form.test.tsx
Due: eslint --fix, prettier --write

docs: add self-contained ECOSYSTEM.md
  ECOSYSTEM.md
Due: prettier --write

docs: add self-contained ECOSYSTEM.md (#331)
  ECOSYSTEM.md
Due: prettier --write

test(t5): unskip 5 form validation tests, swap fireEvent to userEvent (#330)
  apps/web/src/components/forms/login-form.test.tsx
  apps/web/src/components/forms/register-form.test.tsx
Due: eslint --fix, prettier --write

fix(web): document NEXT_PUBLIC invariant on .env.production + guard script (#329)
  apps/web/.env.production
  scripts/verify-env-production.sh
Due: none

fix(publish): --ignore-scripts so postinstalls don't block SDK publish
  .github/workflows/publish-packages.yml
Due: none

fix(publish): --ignore-scripts so postinstalls don't block SDK publish (#333)
  .github/workflows/publish-packages.yml
Due: none

fix(publish): filter install + build to target package only
  .github/workflows/publish-packages.yml
Due: none

fix(publish): filter install + build to target package only (#334)
  .github/workflows/publish-packages.yml
Due: none

fix(mobile): regenerate pnpm-lock to match mobile package.json
  apps/mobile/src/hooks/useSpaces.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

fix(mobile): regenerate pnpm-lock to match mobile package.json (#335)
  apps/mobile/src/hooks/useSpaces.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat(billing): Connect marketplace + outbound webhooks (RFC-5)
  apps/api/prisma/migrations/20260424000000_add_marketplace_and_webhook_schema/migration.sql
  apps/api/src/modules/billing/services/__tests__/stripe-connect.service.spec.ts
  apps/api/src/modules/billing/services/payment-processor.interface.ts
  apps/api/src/modules/billing/services/stripe-connect.service.ts
  apps/api/src/modules/marketplace/__tests__/connect-webhook.handler.spec.ts
  apps/api/src/modules/marketplace/__tests__/merchant.service.spec.ts
  apps/api/src/modules/marketplace/dto/marketplace.dto.ts
  apps/api/src/modules/marketplace/marketplace.controller.ts
  apps/api/src/modules/marketplace/marketplace.module.ts
  apps/api/src/modules/marketplace/services/charge.service.ts
  apps/api/src/modules/marketplace/services/connect-webhook.handler.ts
  apps/api/src/modules/marketplace/services/dispute.service.ts
  apps/api/src/modules/marketplace/services/merchant.service.ts
  apps/api/src/modules/marketplace/services/payout.service.ts
  apps/api/src/modules/marketplace/services/transfer.service.ts
  apps/api/src/modules/webhook-outbound/__tests__/event-dispatcher.service.spec.ts
  apps/api/src/modules/webhook-outbound/dto/webhook-endpoint.dto.ts
  apps/api/src/modules/webhook-outbound/services/event-dispatcher.service.ts
  apps/api/src/modules/webhook-outbound/services/svix.client.ts
  apps/api/src/modules/webhook-outbound/webhook-endpoints.controller.ts
  apps/api/src/modules/webhook-outbound/webhook-outbound.module.ts
  docs/rfcs/connect-marketplace.md
Due: eslint --fix, prettier --write

fix(billing-sdk): bump version 0.2.0 -> 0.3.0 (RFC-5 release)
  packages/billing-sdk/package.json
Due: prettier --write

fix(tooling): migrate to ESLint 9 flat config; fix #338
  apps/admin/.eslintrc.json
  apps/admin/eslint.config.mjs
  apps/admin/package.json
  apps/api/.eslintrc.js
  apps/api/eslint.config.mjs
  apps/api/package.json
  apps/mobile/.eslintrc.js
  apps/mobile/eslint.config.mjs
  apps/mobile/package.json
  apps/web/.eslintrc.js
  apps/web/.eslintrc.json
  apps/web/eslint.config.mjs
  apps/web/package.json
  package.json
  packages/billing-sdk/.eslintrc.js
  packages/billing-sdk/eslint.config.mjs
  packages/config/eslint/base.js
  packages/config/eslint/base.mjs
  packages/config/eslint/nestjs.js
  packages/config/eslint/nestjs.mjs
  packages/config/eslint/nextjs.js
  packages/config/eslint/nextjs.mjs
  packages/config/eslint/react-native.js
  packages/config/eslint/react-native.mjs
  packages/config/package.json
  packages/ui/.eslintrc.js
  packages/ui/eslint.config.mjs
  packages/ui/package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

fix(ci): drop pnpm/action-setup version arg (PR #340 follow-up)
  .github/workflows/check-migrations.yml
  .github/workflows/ci.yml
  .github/workflows/lint.yml
  .github/workflows/test-coverage.yml
Due: none

feat(fx): implement /v1/fx/* per RFC 0011 (Phase 1 service skeleton)
  apps/api/eslint.config.mjs
  apps/api/prisma/migrations/20260425000000_add_fx_tables/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/app.module.ts
  apps/api/src/modules/fx/__tests__/fx.service.spec.ts
  apps/api/src/modules/fx/cache/redis-fx-cache.service.ts
  apps/api/src/modules/fx/dto/fx-rate.dto.ts
  apps/api/src/modules/fx/entities/fx.entities.ts
  apps/api/src/modules/fx/fx.controller.ts
  apps/api/src/modules/fx/fx.module.ts
  apps/api/src/modules/fx/fx.service.ts
  apps/api/src/modules/fx/providers/banxico-sie.provider.ts
  apps/api/src/modules/fx/providers/exchangerate-host.provider.ts
  apps/api/src/modules/fx/providers/fake-rate.provider.ts
  apps/api/src/modules/fx/providers/fx-provider.interface.ts
  apps/api/src/modules/fx/providers/openexchangerates.provider.ts
Due: eslint --fix, prettier --write, prisma format

feat(fx): implement /v1/fx/* per RFC 0011 (Phase 1 service skeleton) (#342)
  apps/api/eslint.config.mjs
  apps/api/prisma/migrations/20260425000000_add_fx_tables/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/app.module.ts
  apps/api/src/modules/fx/__tests__/fx.service.spec.ts
  apps/api/src/modules/fx/cache/redis-fx-cache.service.ts
  apps/api/src/modules/fx/dto/fx-rate.dto.ts
  apps/api/src/modules/fx/entities/fx.entities.ts
  apps/api/src/modules/fx/fx.controller.ts
  apps/api/src/modules/fx/fx.module.ts
  apps/api/src/modules/fx/fx.service.ts
  apps/api/src/modules/fx/providers/banxico-sie.provider.ts
  apps/api/src/modules/fx/providers/exchangerate-host.provider.ts
  apps/api/src/modules/fx/providers/fake-rate.provider.ts
  apps/api/src/modules/fx/providers/fx-provider.interface.ts
  apps/api/src/modules/fx/providers/openexchangerates.provider.ts
Due: eslint --fix, prettier --write, prisma format

fix(lint): delegate eslint to per-workspace lint scripts (ESLint v9)
  .lintstagedrc.cjs
  .lintstagedrc.json
Due: prettier --write

fix(lint): delegate eslint to per-workspace lint scripts (ESLint v9) (#343)
  .lintstagedrc.cjs
  .lintstagedrc.json
Due: prettier --write

feat(landing): add /for-platforms B2B billing page
  apps/web/src/app/for-platforms/page.tsx
Due: eslint --fix, prettier --write

feat(landing): add /for-platforms B2B billing page (#344)
  apps/web/src/app/for-platforms/page.tsx
Due: eslint --fix, prettier --write

chore(admin): fix 2 remaining lint errors (unused-catch + html-link-for-pages)
  apps/admin/src/app/(dashboard)/billing-events/page.tsx
  apps/admin/src/app/error.tsx
Due: eslint --fix, prettier --write

chore(admin): disable core no-undef for TS files (typescript-eslint guidance)
  apps/admin/eslint.config.mjs
Due: none

docs(claude): cross-ref Tulana pricing source-of-truth + RFC 0013 PMF
  CLAUDE.md
Due: prettier --write

feat(payments): conekta gateway alongside stripe (wave a pre-flight)
  .env.example
  CLAUDE.md
  apps/api/src/modules/billing/__tests__/conekta.controller.spec.ts
  apps/api/src/modules/billing/__tests__/conekta.service.spec.ts
  apps/api/src/modules/billing/billing.module.ts
  apps/api/src/modules/billing/conekta.controller.ts
  apps/api/src/modules/billing/services/conekta.service.ts
Due: eslint --fix, prettier --write

docs(claude): cross-ref Tulana pricing source-of-truth + RFC 0013 PMF (#346)
  CLAUDE.md
Due: prettier --write

feat(payments): conekta gateway alongside stripe (wave a pre-flight) (#348)
  .env.example
  CLAUDE.md
  apps/api/src/modules/billing/__tests__/conekta.controller.spec.ts
  apps/api/src/modules/billing/__tests__/conekta.service.spec.ts
  apps/api/src/modules/billing/billing.module.ts
  apps/api/src/modules/billing/conekta.controller.ts
  apps/api/src/modules/billing/services/conekta.service.ts
Due: eslint --fix, prettier --write

chore(billing-sdk): bump to 0.3.1 and publish to npm.madfam.io
  packages/billing-sdk/package.json
Due: prettier --write

chore(billing-sdk): bump to 0.3.1 and publish (#349)
  packages/billing-sdk/package.json
Due: prettier --write

docs(claude): cross-ref canonical monetization architecture doc
  CLAUDE.md
Due: prettier --write

docs(claude): cross-ref canonical monetization architecture doc (#353)
  CLAUDE.md
Due: prettier --write

feat(billing): dead-letter queue + replay endpoint for consumer webhook fan-out
  apps/api/.env.example
  apps/api/prisma/migrations/20260426000000_add_webhook_delivery_failures/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/modules/billing/__tests__/dlq.controller.spec.ts
  apps/api/src/modules/billing/__tests__/stripe-mx-spei-relay.service.spec.ts
  apps/api/src/modules/billing/__tests__/webhook-dlq-retry.job.spec.ts
  apps/api/src/modules/billing/__tests__/webhook-dlq.service.spec.ts
  apps/api/src/modules/billing/billing.module.ts
  apps/api/src/modules/billing/dlq.controller.ts
  apps/api/src/modules/billing/dto/dlq-list-query.dto.ts
  apps/api/src/modules/billing/dto/dlq-resolve.dto.ts
  apps/api/src/modules/billing/jobs/webhook-dlq-retry.job.ts
  apps/api/src/modules/billing/services/stripe-mx-spei-relay.service.ts
  apps/api/src/modules/billing/services/subscription-lifecycle.service.ts
  apps/api/src/modules/billing/services/webhook-dlq.service.ts
Due: eslint --fix, prettier --write, prisma format

test(billing): override JwtAuthGuard + RolesGuard in DLQ controller spec
  apps/api/src/modules/billing/__tests__/dlq.controller.spec.ts
Due: eslint --fix, prettier --write

feat(billing): synthetic revenue probe for live monetization smoke test
  apps/api/.env.example
  apps/api/src/modules/billing/billing.module.ts
  apps/api/src/modules/billing/jobs/synthetic-revenue-probe.job.ts
  apps/api/src/modules/billing/services/__tests__/synthetic-revenue-probe.service.spec.ts
  apps/api/src/modules/billing/services/synthetic-revenue-probe.service.ts
Due: eslint --fix, prettier --write

feat(billing): webhook DLQ + admin replay endpoint for consumer fan-out (#354)
  apps/api/.env.example
  apps/api/prisma/migrations/20260426000000_add_webhook_delivery_failures/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/modules/billing/__tests__/dlq.controller.spec.ts
  apps/api/src/modules/billing/__tests__/stripe-mx-spei-relay.service.spec.ts
  apps/api/src/modules/billing/__tests__/webhook-dlq-retry.job.spec.ts
  apps/api/src/modules/billing/__tests__/webhook-dlq.service.spec.ts
  apps/api/src/modules/billing/billing.module.ts
  apps/api/src/modules/billing/dlq.controller.ts
  apps/api/src/modules/billing/dto/dlq-list-query.dto.ts
  apps/api/src/modules/billing/dto/dlq-resolve.dto.ts
  apps/api/src/modules/billing/jobs/webhook-dlq-retry.job.ts
  apps/api/src/modules/billing/services/stripe-mx-spei-relay.service.ts
  apps/api/src/modules/billing/services/subscription-lifecycle.service.ts
  apps/api/src/modules/billing/services/webhook-dlq.service.ts
Due: eslint --fix, prettier --write, prisma format

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,mdx,css,scss})
  prisma format: any of: *.prisma
