Repository madfam-io/dhanam: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prisma format

test(billing): add product catalog service and controller tests
  apps/api/src/modules/billing/__tests__/catalog.controller.spec.ts
  apps/api/src/modules/billing/__tests__/product-catalog.service.spec.ts
Due: eslint --fix, prettier --write

fix(scripts): sync-catalog uses Prisma v7 adapter pattern + correct import path
  scripts/sync-catalog.ts
Due: eslint --fix, prettier --write

feat(billing): cancellation-intent reengagement pipeline + monetization stability
  apps/api/prisma/schema.prisma
  apps/api/src/modules/billing/billing.controller.ts
  apps/api/src/modules/billing/billing.module.ts
  apps/api/src/modules/billing/dto/cancel-confirm.dto.ts
  apps/api/src/modules/billing/dto/cancel-intent.dto.ts
  apps/api/src/modules/billing/dto/pause-subscription.dto.ts
  apps/api/src/modules/billing/jobs/overage-invoicing.job.ts
  apps/api/src/modules/billing/services/cancellation.service.ts
  apps/api/src/modules/billing/services/webhook-processor.service.ts
  apps/api/src/modules/billing/stripe.service.ts
  apps/api/src/modules/email/tasks/drip-campaign.task.ts
  apps/web/src/components/billing/CancellationFlow.tsx
  apps/web/src/components/billing/PauseStatusBanner.tsx
  packages/billing-sdk/src/types.ts
  scripts/setup-stripe.ts
Due: eslint --fix, prettier --write, prisma format

feat(analytics): utm capture + mrr/arr revenue metrics + standardized identify
  apps/api/src/modules/billing/billing.controller.ts
  apps/api/src/modules/billing/billing.module.ts
  apps/api/src/modules/billing/services/revenue-metrics.service.ts
  apps/web/src/lib/hooks/use-auth.ts
  apps/web/src/providers/PostHogProvider.tsx
Due: eslint --fix, prettier --write

fix(billing): export SaveOffer interface from cancellation service
  apps/api/src/modules/billing/services/cancellation.service.ts
Due: eslint --fix, prettier --write

feat(referral): ecosystem-wide referral system with rewards and ambassador tiers
  CLAUDE.md
  apps/api/prisma/schema.prisma
  apps/api/src/app.module.ts
  apps/api/src/modules/billing/services/webhook-processor.service.ts
  apps/api/src/modules/referral/__tests__/referral.service.spec.ts
  apps/api/src/modules/referral/ambassador.service.ts
  apps/api/src/modules/referral/dto/apply-referral.dto.ts
  apps/api/src/modules/referral/dto/create-code.dto.ts
  apps/api/src/modules/referral/dto/referral-event.dto.ts
  apps/api/src/modules/referral/guards/referral-hmac.guard.ts
  apps/api/src/modules/referral/jobs/referral-expiry.job.ts
  apps/api/src/modules/referral/jobs/referral-reward.job.ts
  apps/api/src/modules/referral/referral-reward.service.ts
  apps/api/src/modules/referral/referral.controller.ts
  apps/api/src/modules/referral/referral.module.ts
  apps/api/src/modules/referral/referral.service.ts
  packages/billing-sdk/src/index.ts
  packages/billing-sdk/src/referral-reporter.ts
  packages/billing-sdk/src/referral.ts
  packages/billing-sdk/src/types.ts
Due: eslint --fix, prettier --write, prisma format

test(referral): add referral service and billing SDK tests
  apps/api/src/modules/referral/__tests__/referral.service.spec.ts
  packages/billing-sdk/src/__tests__/referral.spec.ts
Due: eslint --fix, prettier --write

refactor(referral): trim to rewards-only, funnel moved to PhyneCRM
  apps/api/prisma/schema.prisma
  apps/api/src/modules/billing/services/webhook-processor.service.ts
  apps/api/src/modules/referral/__tests__/referral.service.spec.ts
  apps/api/src/modules/referral/dto/apply-referral.dto.ts
  apps/api/src/modules/referral/dto/create-code.dto.ts
  apps/api/src/modules/referral/dto/referral-event.dto.ts
  apps/api/src/modules/referral/guards/referral-hmac.guard.ts
  apps/api/src/modules/referral/jobs/referral-expiry.job.ts
  apps/api/src/modules/referral/referral.controller.ts
  apps/api/src/modules/referral/referral.module.ts
  apps/api/src/modules/referral/referral.service.ts
  packages/billing-sdk/src/__tests__/referral.spec.ts
  packages/billing-sdk/src/index.ts
  packages/billing-sdk/src/referral-reporter.ts
  packages/billing-sdk/src/referral.ts
  packages/billing-sdk/src/types.ts
Due: eslint --fix, prettier --write, prisma format

refactor(referral): update reward/ambassador services for PhyneCRM model
  apps/api/src/modules/referral/ambassador.service.ts
  apps/api/src/modules/referral/jobs/referral-reward.job.ts
  apps/api/src/modules/referral/referral-reward.service.ts
Due: eslint --fix, prettier --write

brand: add 'By Innovaciones MADFAM' footer + ecosystem links + OG tags
  apps/web/src/app/layout.tsx
  apps/web/src/components/landing/footer.tsx
Due: eslint --fix, prettier --write

fix: billing admin guard, JWT verification, token key unification
  apps/api/src/modules/billing/billing.controller.ts
  apps/web/src/app/error.tsx
  apps/web/src/app/global-error.tsx
  apps/web/src/components/landing/footer.tsx
  apps/web/src/lib/api/reports.ts
  apps/web/src/lib/hooks/use-auth.ts
  apps/web/src/lib/providers.tsx
Due: eslint --fix, prettier --write

feat: add Zod env validation with production guards (16 vars, Janua+PostHog)
  apps/web/src/instrumentation.ts
  apps/web/src/lib/env.ts
Due: eslint --fix, prettier --write

chore: standardize sonner Toaster config (theme=system, position=top-right)
  apps/admin/src/app/layout.tsx
  apps/web/src/app/layout.tsx
Due: eslint --fix, prettier --write

feat(ux): add error/global-error/loading boundaries
  apps/admin/src/app/error.tsx
  apps/admin/src/app/global-error.tsx
  apps/admin/src/app/loading.tsx
  apps/web/src/app/loading.tsx
  apps/web/src/instrumentation.ts
  apps/web/src/lib/env.ts
Due: eslint --fix, prettier --write

feat(billing): madfam ecosystem event receiver
  apps/api/src/modules/billing/__tests__/madfam-events.sig.spec.ts
  apps/api/src/modules/billing/billing.module.ts
  apps/api/src/modules/billing/madfam-events.controller.ts
  apps/api/src/modules/billing/madfam-events.sig.ts
Due: eslint --fix, prettier --write

feat(catalog): fix karafiel yearly bug + year-1 founding member + price routecraft
  catalog.yaml
Due: none

feat(catalog): add missing tier additions per PRICING_OVERHAUL_20260417.md
  catalog.yaml
Due: none

feat(catalog): dhanam pro/premium raise + latam_regional time-bounded + PPP roadmap
  catalog.yaml
Due: none

refactor(catalog): rename selva tiers starter->team, professional->business
  catalog.yaml
Due: none

docs(dhanam): production catalog-sync runbook
  scripts/sync-catalog-prod.md
Due: prettier --write

docs: document MadfamEventsController + probe lookup in CLAUDE.md
  CLAUDE.md
Due: prettier --write

docs: document MadfamEventsController + probe lookup in CLAUDE.md (#292)
  CLAUDE.md
Due: prettier --write

feat(billing): t1.1 stripe MXN + SPEI via customer_balance
  CLAUDE.md
  apps/api/src/modules/billing/__tests__/stripe-mx-spei-relay.service.spec.ts
  apps/api/src/modules/billing/__tests__/stripe-mx.service.spec.ts
  apps/api/src/modules/billing/billing.module.ts
  apps/api/src/modules/billing/dto/create-spei-payment-intent.dto.ts
  apps/api/src/modules/billing/dto/index.ts
  apps/api/src/modules/billing/services/stripe-mx-spei-relay.service.ts
  apps/api/src/modules/billing/services/stripe-mx.service.ts
  apps/api/src/modules/billing/stripe-mx.controller.ts
Due: eslint --fix, prettier --write

feat(billing): t1.1 stripe MXN + SPEI via customer_balance (#293)
  CLAUDE.md
  apps/api/src/modules/billing/__tests__/stripe-mx-spei-relay.service.spec.ts
  apps/api/src/modules/billing/__tests__/stripe-mx.service.spec.ts
  apps/api/src/modules/billing/billing.module.ts
  apps/api/src/modules/billing/dto/create-spei-payment-intent.dto.ts
  apps/api/src/modules/billing/dto/index.ts
  apps/api/src/modules/billing/services/stripe-mx-spei-relay.service.ts
  apps/api/src/modules/billing/services/stripe-mx.service.ts
  apps/api/src/modules/billing/stripe-mx.controller.ts
Due: eslint --fix, prettier --write

feat: add q4 codeowners for prod-critical paths
  CODEOWNERS
Due: none

feat: add q4 codeowners for prod-critical paths (#294)
  CODEOWNERS
Due: none

feat(infra): pp.2 dhanam staging audit + rfc 0001 alignment
  CLAUDE.md
  docs/PP_2_STAGING_AUDIT.md
Due: prettier --write

feat(infra): pp.2 dhanam staging audit + rfc 0001 alignment (#295)
  CLAUDE.md
  docs/PP_2_STAGING_AUDIT.md
Due: prettier --write

feat(infra): pp.2b overlays + pp.2c promote/rollback workflows
  .enclii.yml
  .github/workflows/deploy-staging.yml
  .github/workflows/promote-to-prod.yml
  .github/workflows/rollback-prod.yml
  CLAUDE.md
  infra/argocd/dhanam-staging-application.yaml
  infra/k8s/overlays/staging/env-patch-admin.yaml
  infra/k8s/overlays/staging/env-patch-api.yaml
  infra/k8s/overlays/staging/env-patch-web.yaml
  infra/k8s/overlays/staging/hpa-disable-patch.yaml
  infra/k8s/overlays/staging/kustomization.yaml
  infra/k8s/staging-secrets-template.yaml
  infra/k8s/staging/api-deployment.yaml
  infra/k8s/staging/kustomization.yaml
  infra/k8s/staging/namespace.yaml
  infra/k8s/staging/secrets-template.yaml
  infra/k8s/staging/web-deployment.yaml
Due: prettier --write

feat(infra): pp.2b overlays + pp.2c promote/rollback workflows (#296)
  .enclii.yml
  .github/workflows/deploy-staging.yml
  .github/workflows/promote-to-prod.yml
  .github/workflows/rollback-prod.yml
  CLAUDE.md
  infra/argocd/dhanam-staging-application.yaml
  infra/k8s/overlays/staging/env-patch-admin.yaml
  infra/k8s/overlays/staging/env-patch-api.yaml
  infra/k8s/overlays/staging/env-patch-web.yaml
  infra/k8s/overlays/staging/hpa-disable-patch.yaml
  infra/k8s/overlays/staging/kustomization.yaml
  infra/k8s/staging-secrets-template.yaml
  infra/k8s/staging/api-deployment.yaml
  infra/k8s/staging/kustomization.yaml
  infra/k8s/staging/namespace.yaml
  infra/k8s/staging/secrets-template.yaml
  infra/k8s/staging/web-deployment.yaml
Due: prettier --write

feat(preview): add per-PR preview environment overlay + workflow (P1.7)
  .github/workflows/preview-deploy.yml
  CLAUDE.md
  infra/k8s/overlays/preview/env-patch-admin.yaml
  infra/k8s/overlays/preview/env-patch-api.yaml
  infra/k8s/overlays/preview/env-patch-web.yaml
  infra/k8s/overlays/preview/hpa-disable-patch.yaml
  infra/k8s/overlays/preview/kustomization.yaml
  infra/k8s/overlays/preview/quota.yaml
  infra/k8s/overlays/preview/secrets-patch.yaml
  infra/k8s/overlays/preview/secrets-template.yaml
  scripts/preview-smoke.sh
Due: prettier --write

feat(preview): add per-PR preview environment overlay + workflow (P1.7) (#297)
  .github/workflows/preview-deploy.yml
  CLAUDE.md
  infra/k8s/overlays/preview/env-patch-admin.yaml
  infra/k8s/overlays/preview/env-patch-api.yaml
  infra/k8s/overlays/preview/env-patch-web.yaml
  infra/k8s/overlays/preview/hpa-disable-patch.yaml
  infra/k8s/overlays/preview/kustomization.yaml
  infra/k8s/overlays/preview/quota.yaml
  infra/k8s/overlays/preview/secrets-patch.yaml
  infra/k8s/overlays/preview/secrets-template.yaml
  scripts/preview-smoke.sh
Due: prettier --write

feat(billing): P2.2 Waybill usage-alerts ingest + UI
  apps/api/prisma/schema.prisma
  apps/api/src/modules/billing/__tests__/usage-alerts.controller.spec.ts
  apps/api/src/modules/billing/__tests__/usage-alerts.service.spec.ts
  apps/api/src/modules/billing/billing.module.ts
  apps/api/src/modules/billing/services/usage-alerts.service.ts
  apps/api/src/modules/billing/usage-alerts.controller.ts
  apps/web/src/app/(dashboard)/billing/usage-alerts/page.tsx
Due: eslint --fix, prettier --write, prisma format

feat(billing): P2.2 Waybill usage-alerts ingest + UI (#298)
  apps/api/prisma/schema.prisma
  apps/api/src/modules/billing/__tests__/usage-alerts.controller.spec.ts
  apps/api/src/modules/billing/__tests__/usage-alerts.service.spec.ts
  apps/api/src/modules/billing/billing.module.ts
  apps/api/src/modules/billing/services/usage-alerts.service.ts
  apps/api/src/modules/billing/usage-alerts.controller.ts
  apps/web/src/app/(dashboard)/billing/usage-alerts/page.tsx
Due: eslint --fix, prettier --write, prisma format

docs: dependabot sweep decisions — 2026-04-18
  docs/dependabot-sweeps/2026-04-18.md
Due: prettier --write

docs: dependabot sweep decisions — 2026-04-18 (#299)
  docs/dependabot-sweeps/2026-04-18.md
Due: prettier --write

fix(web,ci): regenerate lockfile + fix 2 typecheck errors in usage-alerts page
  apps/web/src/app/(dashboard)/billing/usage-alerts/page.tsx
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

fix(web,ci): regenerate lockfile + fix 2 typecheck errors in usage-alerts page (#300)
  apps/web/src/app/(dashboard)/billing/usage-alerts/page.tsx
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat(billing): PhyneCRM engagement notifier on Stripe MX payment events
  apps/api/.env.example
  apps/api/src/modules/billing/__tests__/phynecrm-engagement-notifier.service.spec.ts
  apps/api/src/modules/billing/__tests__/stripe-mx-spei-relay.service.spec.ts
  apps/api/src/modules/billing/billing.module.ts
  apps/api/src/modules/billing/services/phynecrm-engagement-notifier.service.ts
  apps/api/src/modules/billing/services/stripe-mx-spei-relay.service.ts
Due: eslint --fix, prettier --write

docs(billing): add PhyneCrmEngagementNotifierService to CLAUDE.md
  CLAUDE.md
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,mdx,css,scss})
  prisma format: any of: *.prisma
