Repository madfam-io/dhanam: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prisma format

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,md,mdx,css,scss}": [
    "prettier --write"
  ],
  "*.prisma": [
    "prisma format"
  ]
}

chore: add AGPL-3.0 license per manifesto
  LICENSE
Due: none

fix: handle RangeError in Bitso webhook signature verification
  apps/api/src/modules/providers/bitso/bitso.service.ts
Due: eslint --fix, prettier --write

chore(license): fix package.json to match AGPL v3 LICENSE
  apps/api/src/modules/simulations/utils/statistics.util.spec.ts
  apps/api/src/modules/simulations/utils/statistics.util.ts
  package.json
Due: eslint --fix, prettier --write

feat: add dogfooding setup and Janua OAuth integration
  apps/web/src/app/(auth)/login/page.tsx
  apps/web/src/app/(auth)/register/page.tsx
  apps/web/src/app/api/auth/callback/[provider]/route.ts
  apps/web/src/lib/janua-oauth.ts
  docs/DOGFOODING_QUICKSTART.md
Due: eslint --fix, prettier --write

feat(ui): add golden-ratio design token system
  apps/web/package.json
  packages/ui/README.md
  packages/ui/package.json
  packages/ui/src/tokens/golden-ratio.ts
  packages/ui/src/tokens/index.ts
  packages/ui/src/tokens/tailwind-preset.ts
  packages/ui/tsup.config.ts
Due: eslint --fix, prettier --write

fix(config): update .npmrc with complete MADFAM scopes
  .npmrc
  apps/web/package.json
  apps/web/src/lib/janua-sdk-stub.tsx
  apps/web/src/providers/JanuaAuthBridge.tsx
  packages/ui/src/index.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

docs: add npm.madfam.io registry configuration
  .github/workflows/ci.yml
  README.md
  docs/DEVELOPMENT.md
Due: prettier --write

chore: organize documentation structure
  ARCHITECTURE.md
  TEST_COVERAGE_SESSION_SUMMARY.md
  docs/architecture/ARCHITECTURE.md
  docs/architecture/IMPLEMENTATION_PROGRESS.md
  docs/reports/AUDIT_SUMMARY.md
  docs/testing/ADVANCED_FEATURES_TESTS_SUMMARY.md
  docs/testing/ANALYTICS_TESTS_SUMMARY.md
  docs/testing/COMPLETE_TEST_COVERAGE_SESSION.md
  docs/testing/CONTINUED_TEST_COVERAGE_SESSION.md
  docs/testing/FINAL_TEST_COVERAGE_ACHIEVEMENT.md
  docs/testing/MANUAL_ASSETS_TEST_IMPLEMENTATION.md
  docs/testing/TEST_COVERAGE_REPORT.md
  docs/testing/TEST_COVERAGE_SESSION_SUMMARY.md
Due: prettier --write

docs: add CHANGELOG.md following Keep a Changelog format
  CHANGELOG.md
Due: prettier --write

docs: add CONTRIBUTING.md with development guidelines
  CONTRIBUTING.md
Due: prettier --write

docs: add INDEX.md for documentation navigation
  docs/INDEX.md
Due: prettier --write

chore: update package.json dependencies
  package.json
  packages/shared/package.json
  packages/simulations/package.json
  packages/ui/package.json
Due: prettier --write

docs: update .env.example and README with platform port registry
  .env.example
  README.md
Due: prettier --write

chore: Update Next.js type declarations
  apps/web/next-env.d.ts
Due: eslint --fix, prettier --write

feat(galaxy): integrate Janua OIDC + Hybrid Billing + K8s manifests
  apps/api/package.json
  apps/api/src/config/configuration.ts
  apps/api/src/core/auth/auth.module.ts
  apps/api/src/core/auth/guards/jwt-auth.guard.ts
  apps/api/src/core/auth/strategies/janua.strategy.ts
  apps/api/src/modules/billing/billing.module.ts
  apps/api/src/modules/billing/services/paddle.service.ts
  apps/api/src/modules/billing/services/payment-router.service.ts
  apps/api/src/modules/billing/services/stripe-mx.service.ts
  docs/MIGRATION_CHECKLIST.md
  infra/k8s/production/api-deployment.yaml
  infra/k8s/production/cloudflare-routes.yaml
  infra/k8s/production/namespace.yaml
  infra/k8s/production/secrets-template.yaml
  infra/k8s/production/web-deployment.yaml
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

fix(api): resolve Fastify 4.x compatibility and K8s deployment issues
  .github/workflows/deploy-k8s.yml
  TECH_DEBT.md
  apps/api/Dockerfile
  apps/api/package.json
  apps/api/src/core/auth/guards/jwt-auth.guard.ts
  apps/api/src/core/middleware/request-id.middleware.ts
  apps/api/src/modules/billing/services/stripe-mx.service.ts
  apps/api/src/modules/jobs/queue.service.ts
  apps/api/src/modules/ml/ml.module.ts
  apps/api/src/modules/onboarding/onboarding.module.ts
  apps/api/src/modules/providers/blockchain/blockchain.module.ts
  apps/web/Dockerfile
  apps/web/next.config.js
  apps/web/public/.gitkeep
  infra/k8s/production/api-deployment.yaml
  infra/k8s/production/cloudflare-routes.yaml
  infra/k8s/production/web-deployment.yaml
  package.json
  packages/simulations/package.json
  packages/simulations/tsconfig.json
  packages/simulations/tsup.config.ts
  pnpm-lock.yaml
  scripts/deploy-dhanam.sh
Due: eslint --fix, prettier --write

feat(admin): scaffold admin.dhan.am + fix web health endpoint
  apps/admin/Dockerfile
  apps/admin/next.config.js
  apps/admin/package.json
  apps/admin/src/app/api/health/route.ts
  apps/admin/src/app/globals.css
  apps/admin/src/app/layout.tsx
  apps/admin/src/app/page.tsx
  apps/admin/tsconfig.json
  apps/web/src/app/api/health/route.ts
  infra/k8s/production/admin-deployment.yaml
  infra/k8s/production/cloudflare-routes.yaml
Due: eslint --fix, prettier --write

fix(build): correct web Dockerfile COPY command and refresh lockfile
  apps/web/Dockerfile
  pnpm-lock.yaml
Due: none

fix(build): add workspace package builds to web Dockerfile, fix admin tsconfig path
  apps/admin/tsconfig.json
  apps/web/Dockerfile
Due: prettier --write

fix(admin): add public folder for Next.js build
  apps/admin/public/.gitkeep
Due: none

feat(build): enable dynamic configuration via build-args for OSS support
  apps/web/Dockerfile
Due: none

fix: add NEXT_PUBLIC_JANUA_API_URL build-arg for SSO
  CLAUDE.md
Due: prettier --write

fix: use NEXT_PUBLIC_JANUA_API_URL in Dockerfile for SSO
  apps/web/Dockerfile
Due: none

chore: retry build after clearing job quota
  CLAUDE.md
Due: prettier --write

fix(sso): use NEXT_PUBLIC_BASE_URL for OAuth redirect_uri
  apps/web/src/lib/janua-oauth.ts
Due: eslint --fix, prettier --write

feat(sso): implement Janua SSO with PKCE OAuth flow
  apps/web/src/app/(auth)/login/page.tsx
  apps/web/src/app/auth/callback/page.tsx
  apps/web/src/lib/janua-oauth.ts
Due: eslint --fix, prettier --write

chore: trigger rebuild for Janua SSO
  CLAUDE.md
Due: prettier --write

fix(sso): store OAuth tokens in localStorage without type mismatch
  apps/web/src/app/auth/callback/page.tsx
Due: eslint --fix, prettier --write

chore: trigger rebuild after quota removal
  CLAUDE.md
Due: prettier --write
