Repository madfam-io/dhanam: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prisma format

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,md,mdx,css,scss}": [
    "prettier --write"
  ],
  "*.prisma": [
    "prisma format"
  ]
}

fix(web): correct Tooltip formatter type signature in budget-analytics
  apps/web/src/components/budgets/budget-analytics.tsx
Due: eslint --fix, prettier --write

fix(web): fix second Tooltip formatter type signature in budget-analytics
  apps/web/src/components/budgets/budget-analytics.tsx
Due: eslint --fix, prettier --write

fix(web): properly narrow type for features array access in feature-tour-step
  apps/web/src/components/onboarding/steps/feature-tour-step.tsx
Due: eslint --fix, prettier --write

fix(web): remove unused _handleBulkUpdate function
  apps/web/src/components/settings/PreferencesSection.tsx
Due: eslint --fix, prettier --write

fix(api): resolve build errors and add missing dependencies
  apps/api/package.json
  apps/api/src/core/crypto/kms.service.ts
  apps/api/src/core/monitoring/metrics.service.ts
  apps/api/src/modules/analytics/analytics.service.ts
  apps/api/src/modules/jobs/jobs.service.ts
  apps/api/src/modules/preferences/preferences.service.ts
  apps/api/tsconfig.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

fix(web): add explicit return types to react-query hooks
  apps/web/src/lib/hooks/use-spaces.ts
Due: eslint --fix, prettier --write

fix: add missing build:packages script
  package.json
Due: prettier --write

fix(web): resolve all linting errors and warnings
  apps/web/src/app/(admin)/admin/analytics/page.tsx
  apps/web/src/app/(dashboard)/accounts/page.tsx
  apps/web/src/app/(dashboard)/budgets/page.tsx
  apps/web/src/app/(dashboard)/dashboard/page.tsx
  apps/web/src/app/(dashboard)/transactions/page.tsx
  apps/web/src/components/auth-provider.tsx
  apps/web/src/components/auth/totp-verify.tsx
  apps/web/src/components/budgets/budget-analytics.tsx
  apps/web/src/components/budgets/rule-manager.tsx
  apps/web/src/components/forms/login-form.tsx
  apps/web/src/components/forms/register-form.tsx
  apps/web/src/components/layout/dashboard-header.tsx
  apps/web/src/components/onboarding/email-verification.tsx
  apps/web/src/components/onboarding/onboarding-provider.tsx
  apps/web/src/components/onboarding/steps/completion-step.tsx
  apps/web/src/components/onboarding/steps/email-verification-step.tsx
  apps/web/src/components/onboarding/steps/feature-tour-step.tsx
  apps/web/src/components/onboarding/steps/preferences-step.tsx
  apps/web/src/components/providers/belvo-connect.tsx
  apps/web/src/components/providers/bitso-connect.tsx
  apps/web/src/components/providers/plaid-connect.tsx
  apps/web/src/components/settings/PreferencesSection.tsx
  apps/web/src/lib/api/accounts.ts
  apps/web/src/lib/api/admin.ts
  apps/web/src/lib/api/auth.ts
  apps/web/src/lib/api/belvo.ts
  apps/web/src/lib/api/bitso.ts
  apps/web/src/lib/api/budgets.ts
  apps/web/src/lib/api/categories.ts
  apps/web/src/lib/api/client.ts
  apps/web/src/lib/api/onboarding.ts
  apps/web/src/lib/api/plaid.ts
  apps/web/src/lib/api/transactions.ts
  apps/web/src/lib/hooks/use-spaces.ts
Due: eslint --fix, prettier --write

fix(web): use AuthResponse type for loginAsGuest and relax API client body types
  apps/web/src/lib/api/auth.ts
  apps/web/src/lib/api/client.ts
Due: eslint --fix, prettier --write

docs: comprehensive codebase audit reports
  AUDIT_ACTION_ITEMS.md
  AUDIT_EXECUTIVE_SUMMARY.md
  AUDIT_INDEX.md
  AUDIT_QUICK_SUMMARY.md
  AUDIT_README.md
  AUDIT_SUMMARY.md
  AUDIT_SUMMARY.txt
  CODE_QUALITY_AUDIT_REPORT.md
  COMPREHENSIVE_CODEBASE_AUDIT_REPORT.md
  I18N_AUDIT_REPORT.md
  I18N_AUDIT_SUMMARY.txt
  I18N_IMPLEMENTATION_GAPS.md
  PROVIDER_INTEGRATIONS_AUDIT.md
  SCHEMA_AUDIT_ACTION_ITEMS.md
  SCHEMA_AUDIT_REPORT.md
  lint-output.txt
Due: prettier --write

fix(web): add BudgetSummary type to resolve TypeScript build error
  apps/web/src/lib/api/budgets.ts
Due: eslint --fix, prettier --write

fix(web): use CategorySummary type and handle nullable color field
  apps/web/src/app/(dashboard)/budgets/page.tsx
Due: eslint --fix, prettier --write

fix(web): use CategorySummary type in dashboard page
  apps/web/src/app/(dashboard)/dashboard/page.tsx
Due: eslint --fix, prettier --write

fix(web): add BudgetAnalytics type for analytics API response
  apps/web/src/lib/api/budgets.ts
Due: eslint --fix, prettier --write

fix(web): add type assertion for color field in budget analytics
  apps/web/src/components/budgets/budget-analytics.tsx
Due: eslint --fix, prettier --write

fix(web): add missing totalPercentUsed to BudgetAnalytics summary
  apps/web/src/lib/api/budgets.ts
Due: eslint --fix, prettier --write

fix(web): add missing daysRemaining to BudgetAnalytics summary
  apps/web/src/lib/api/budgets.ts
Due: eslint --fix, prettier --write

fix(web): handle undefined sampleMatches length safely
  apps/web/src/components/budgets/rule-manager.tsx
Due: eslint --fix, prettier --write

docs: add comprehensive codebase audit report
  CODEBASE_STRUCTURE_MAP.md
  COMPREHENSIVE_CODEBASE_AUDIT.md
Due: prettier --write

fix(web): remove incorrect type annotation for Space in dashboard header
  apps/web/src/components/layout/dashboard-header.tsx
Due: eslint --fix, prettier --write

fix(web): add type assertions for API client params
  apps/web/src/lib/api/admin.ts
Due: eslint --fix, prettier --write

fix(web): use Omit to properly override categories in BudgetSummary
  apps/web/src/lib/api/budgets.ts
Due: eslint --fix, prettier --write

fix(web): add type assertion for TransactionsFilterDto params
  apps/web/src/lib/api/transactions.ts
Due: eslint --fix, prettier --write

fix(ci): add Prisma client generation step before build
  .github/workflows/ci.yml
Due: none

docs(audit): add comprehensive codebase audit report 2025
  COMPREHENSIVE_AUDIT_REPORT_2025.md
Due: prettier --write

feat: implement production-ready stability & roadmap (Phase 1)
  .github/workflows/check-migrations.yml
  IMPLEMENTATION_ROADMAP.md
  apps/api/.env.example
  apps/api/MIGRATIONS_GUIDE.md
  apps/api/package.json
  apps/api/prisma/migrations/.gitkeep
  apps/api/src/core/filters/global-exception.filter.ts
  apps/api/src/core/monitoring/monitoring.module.ts
  apps/api/src/core/monitoring/sentry.module.ts
  apps/api/src/core/monitoring/sentry.service.ts
  apps/api/test/helpers/test-data-factory.ts
  docs/SENTRY_SETUP.md
  package.json
  turbo.json
Due: eslint --fix, prettier --write

chore: update pnpm lockfile with Sentry dependencies
  pnpm-lock.yaml
Due: none

feat: implement test infrastructure and Spanish i18n
  apps/api/src/modules/budgets/__tests__/budgets.service.spec.ts
  apps/api/src/modules/transactions/__tests__/transactions.service.spec.ts
  apps/api/test/helpers/auth-helper.ts
  apps/api/test/helpers/test-database.ts
  packages/shared/src/contexts/I18nContext.tsx
  packages/shared/src/hooks/useTranslation.ts
  packages/shared/src/i18n/en/common.ts
  packages/shared/src/i18n/es/accounts.ts
  packages/shared/src/i18n/es/auth.ts
  packages/shared/src/i18n/es/budgets.ts
  packages/shared/src/i18n/es/common.ts
  packages/shared/src/i18n/es/errors.ts
  packages/shared/src/i18n/es/index.ts
  packages/shared/src/i18n/es/spaces.ts
  packages/shared/src/i18n/es/transactions.ts
  packages/shared/src/i18n/es/validations.ts
  packages/shared/src/i18n/es/wealth.ts
  packages/shared/src/i18n/index.ts
  packages/shared/src/utils/formatters.ts
Due: eslint --fix, prettier --write

fix: resolve build errors in i18n translations
  packages/shared/src/contexts/I18nContext.tsx
  packages/shared/src/i18n/es/accounts.ts
  packages/shared/src/i18n/es/errors.ts
  packages/shared/src/i18n/es/spaces.ts
  packages/shared/src/i18n/index.ts
  packages/shared/src/utils/formatters.ts
Due: eslint --fix, prettier --write

docs: add comprehensive test coverage documentation
  TEST_IMPLEMENTATION_STATUS.md
  apps/api/TEST_COVERAGE_GUIDE.md
Due: prettier --write

feat: add comprehensive CI/CD automation
  .github/CICD_SETUP.md
  .github/dependabot.yml
  .github/pull_request_template.md
  .github/workflows/lint.yml
  .github/workflows/test-coverage.yml
  README_BADGES.md
  codecov.yml
  scripts/test-ci.sh
Due: prettier --write

docs: add CI/CD implementation summary
  CICD_IMPLEMENTATION_SUMMARY.md
Due: prettier --write

docs: complete CI/CD verification setup (Option A)
  .github/BRANCH_PROTECTION_GUIDE.md
  .github/CODECOV_SETUP_INSTRUCTIONS.md
  README.md
Due: prettier --write

feat: achieve 80%+ test coverage with comprehensive service tests
  OPTION_B_TEST_COVERAGE_PLAN.md
  TEST_COVERAGE_SESSION_SUMMARY.md
  apps/api/src/core/auth/__tests__/auth.service.spec.ts
  apps/api/src/modules/spaces/__tests__/spaces.service.spec.ts
  apps/api/src/modules/users/__tests__/users.service.spec.ts
Due: eslint --fix, prettier --write

feat: implement PostHog analytics integration
  POSTHOG_INTEGRATION.md
  apps/api/package.json
  apps/api/src/core/analytics/analytics.module.ts
  apps/api/src/core/analytics/posthog.service.ts
  apps/api/src/core/core.module.ts
  apps/web/.env.example
  apps/web/package.json
  apps/web/src/providers/PostHogProvider.tsx
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat: integrate Spanish UI with locale switcher and full i18n support
  SPANISH_UI_INTEGRATION.md
  apps/web/src/app/(auth)/login/page.tsx
  apps/web/src/components/locale-switcher/LocaleSwitcher.tsx
  apps/web/src/components/locale-switcher/index.ts
  apps/web/src/lib/providers.tsx
  packages/shared/src/i18n/es/auth.ts
  packages/shared/src/i18n/index.ts
Due: eslint --fix, prettier --write

fix: configure @dhanam/shared package for React components
  packages/shared/package.json
  packages/shared/src/hooks/useTranslation.ts
  packages/shared/tsconfig.json
  packages/shared/tsup.config.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

fix: update LocaleSwitcher to import UI components from @dhanam/ui
  apps/web/src/components/locale-switcher/LocaleSwitcher.tsx
Due: eslint --fix, prettier --write

fix: add non-null assertion to currentLocale in LocaleSwitcher
  apps/web/src/components/locale-switcher/LocaleSwitcher.tsx
Due: eslint --fix, prettier --write

fix: wrap useSearchParams usage in Suspense boundaries
  apps/web/src/components/onboarding/email-verification.tsx
  apps/web/src/providers/PostHogProvider.tsx
Due: eslint --fix, prettier --write
