Repository madfam-io/dhanam: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prisma format

test: add Cotiza webhook controller tests with signature and event coverage
  apps/api/src/modules/billing/__tests__/cotiza-webhook.controller.spec.ts
Due: eslint --fix, prettier --write

feat: add KYC migration, event bus RFC, contract tests, and K8s secrets
  apps/api/prisma/migrations/20260407000000_add_kyc_schema/migration.sql
  apps/api/src/modules/billing/__tests__/federation-contract.spec.ts
  docs/rfcs/cross-service-event-bus.md
  infra/k8s/production/api-deployment.yaml
  infra/k8s/production/secrets-template.yaml
Due: eslint --fix, prettier --write

feat: add server-side PostHog billing analytics + cross-product identity
  CLAUDE.md
  apps/api/src/modules/billing/__tests__/billing.service.spec.ts
  apps/api/src/modules/billing/billing.service.ts
  apps/api/src/modules/billing/cotiza-webhook.controller.ts
  apps/web/src/lib/hooks/use-auth.ts
  packages/billing-sdk/README.md
  packages/billing-sdk/src/types.ts
Due: eslint --fix, prettier --write

security: remove hardcoded Stripe key and seed fallback passwords
  apps/api/prisma/seed-madfam.ts
  apps/api/prisma/seed.ts
  apps/api/prisma/seed/users.ts
  scripts/setup-stripe.ts
Due: eslint --fix, prettier --write

docs: document required seed env vars (no fallback passwords)
  CLAUDE.md
Due: prettier --write

feat: consolidate Janua auth, enable SPEI, wire KYC automation, add checkout federation + event bus
  apps/api/prisma/schema.prisma
  apps/api/src/modules/billing/billing.service.ts
  apps/api/src/modules/billing/customer-federation.controller.ts
  apps/api/src/modules/billing/services/stripe-mx.service.ts
  apps/api/src/modules/events/event-publisher.service.ts
  apps/api/src/modules/events/events.module.ts
  apps/api/src/modules/kyc/kyc.service.ts
  apps/web/src/lib/hooks/use-auth.ts
  apps/web/src/lib/providers.tsx
  apps/web/src/providers/JanuaAuthBridge.tsx
Due: eslint --fix, prettier --write, prisma format

feat: decompose billing service, add reconciliation job, tests, CI auth
  .github/workflows/deploy-admin-k8s.yml
  .github/workflows/deploy-enclii.yml
  .github/workflows/deploy-k8s.yml
  .github/workflows/deploy-web-k8s.yml
  .husky/pre-commit
  CLAUDE.md
  apps/api/src/modules/billing/__tests__/subscription-lifecycle.service.spec.ts
  apps/api/src/modules/billing/__tests__/usage-tracking.service.spec.ts
  apps/api/src/modules/billing/__tests__/webhook-processor.service.spec.ts
  apps/api/src/modules/billing/billing.module.ts
  apps/api/src/modules/billing/billing.service.ts
  apps/api/src/modules/billing/jobs/__tests__/reconciliation.job.spec.ts
  apps/api/src/modules/billing/jobs/reconciliation.job.ts
  apps/api/src/modules/billing/services/subscription-lifecycle.service.ts
  apps/api/src/modules/billing/services/usage-tracking.service.ts
  apps/api/src/modules/billing/services/webhook-processor.service.ts
  apps/api/src/modules/events/event-publisher.service.ts
Due: eslint --fix, prettier --write

fix: harden security, extract magic numbers, improve UX across monorepo
  CLAUDE.md
  TECH_DEBT.md
  apps/admin/src/app/(dashboard)/billing-events/page.tsx
  apps/api/src/config/validation.ts
  apps/api/src/core/auth/auth.service.ts
  apps/api/src/modules/billing/__tests__/billing.controller.spec.ts
  apps/api/src/modules/billing/__tests__/stripe-mx.service.spec.ts
  apps/api/src/modules/billing/billing.controller.ts
  apps/api/src/modules/billing/services/stripe-mx.service.ts
  apps/api/src/modules/billing/stripe.service.ts
  apps/api/src/modules/providers/finicity/finicity.service.ts
  apps/api/src/modules/providers/orchestrator/provider-orchestrator.service.spec.ts
  apps/api/src/modules/providers/orchestrator/provider-orchestrator.service.ts
  apps/web/src/app/(dashboard)/gaming/page.tsx
  apps/web/src/app/(dashboard)/goals/page.tsx
  apps/web/src/app/(dashboard)/settings/tags/page.tsx
  apps/web/src/app/__tests__/gaming-page.test.tsx
  apps/web/src/app/__tests__/tags-settings-page.test.tsx
  apps/web/src/app/global-error.tsx
  apps/web/src/hooks/useSimulations.ts
  apps/web/src/lib/celebrations.ts
  apps/web/src/lib/fetch-with-timeout.ts
  packages/esg/src/utils/scoring.ts
  packages/shared/src/constants/business-logic.ts
  packages/shared/src/constants/colors.ts
  packages/shared/src/constants/index.ts
  packages/shared/src/types/account.types.ts
  packages/shared/src/types/common.types.ts
  packages/shared/src/types/transaction.types.ts
  packages/ui/src/components/cookie-consent.tsx
  packages/ui/src/hooks/use-toast.ts
Due: eslint --fix, prettier --write

fix: resolve prod config mismatches (port, SMTP var name, Sentry secret)
  .enclii.yml
  CLAUDE.md
  apps/api/src/config/configuration.ts
  apps/api/src/config/validation.ts
  infra/k8s/production/_secrets-template.yaml
Due: eslint --fix, prettier --write

chore: update MADFAM seed to admin@madfam.io, exclude prisma/ from eslint
  apps/api/.eslintrc.js
  apps/api/prisma/seed-madfam.ts
Due: eslint --fix, prettier --write

fix: sync Janua localStorage tokens into auth store + set middleware cookie
  apps/web/src/lib/providers.tsx
Due: eslint --fix, prettier --write

fix: replace MFA stubs with real @janua/react-sdk imports, bump to 0.1.4
  CLAUDE.md
  apps/web/package.json
  apps/web/src/components/billing/MFAGate.tsx
Due: eslint --fix, prettier --write

fix: revert @janua/react-sdk to 0.1.3 (0.1.4 not yet published)
  apps/web/package.json
Due: prettier --write

fix(docker): add all workspace package.json to deps stage, refresh lockfile
  apps/web/Dockerfile
  pnpm-lock.yaml
Due: none

chore(deploy): fix web Dockerfile deps + update image digest
  apps/web/Dockerfile
  infra/k8s/production/kustomization.yaml
Due: none

fix: bootstrap auth from Janua localStorage tokens in AuthProvider
  apps/web/src/components/auth-provider.tsx
Due: eslint --fix, prettier --write

fix: poll localStorage for Janua tokens after SignIn completes
  apps/web/src/components/auth-provider.tsx
Due: eslint --fix, prettier --write

fix: intercept localStorage.setItem for instant auth bootstrap
  apps/web/src/components/auth-provider.tsx
Due: eslint --fix, prettier --write

fix: synchronous Zustand store hydration from Janua localStorage tokens
  apps/web/src/lib/hooks/use-auth.ts
Due: eslint --fix, prettier --write

chore(deploy): update web image digest to sha256:36b0a172f40be968
  infra/k8s/production/kustomization.yaml
Due: none

fix: preserve paginated response shape in API client unwrapping
  apps/web/src/lib/api/client.ts
Due: eslint --fix, prettier --write

fix: add null-safety to transactions page data access
  apps/web/src/app/(dashboard)/transactions/page.tsx
Due: eslint --fix, prettier --write

fix: fix analytics pages — trends shape, statistics totalSpent, staleTime
  apps/web/src/app/(dashboard)/analytics/page.tsx
  apps/web/src/app/(dashboard)/analytics/statistics/page.tsx
  apps/web/src/app/(dashboard)/analytics/trends/page.tsx
  apps/web/src/lib/api/analytics.ts
Due: eslint --fix, prettier --write

fix: harden trends page array extraction with explicit type guard
  apps/web/src/app/(dashboard)/analytics/trends/page.tsx
Due: eslint --fix, prettier --write

fix: platform-wide UX remediation — null safety, error states, i18n
  apps/admin/src/app/(dashboard)/analytics/page.tsx
  apps/admin/src/app/(dashboard)/deployment/page.tsx
  apps/admin/src/app/(dashboard)/queues/page.tsx
  apps/admin/src/app/(dashboard)/system-health/page.tsx
  apps/admin/src/app/(dashboard)/users/page.tsx
  apps/web/src/app/(auth)/register/page.tsx
  apps/web/src/app/(dashboard)/analytics/query/page.tsx
  apps/web/src/app/(dashboard)/budgets/page.tsx
  apps/web/src/app/(dashboard)/budgets/zero-based/page.tsx
  apps/web/src/app/(dashboard)/estate-planning/page.tsx
  apps/web/src/app/(dashboard)/households/page.tsx
  apps/web/src/app/(dashboard)/notifications/page.tsx
  apps/web/src/app/(dashboard)/scenarios/page.tsx
  apps/web/src/app/(dashboard)/transactions/calendar/page.tsx
  apps/web/src/app/__tests__/register-page.test.tsx
  apps/web/src/lib/utils.ts
  packages/shared/src/i18n/en/auth.ts
  packages/shared/src/i18n/es/auth.ts
  packages/shared/src/i18n/pt-BR/auth.ts
Due: eslint --fix, prettier --write

fix: calendar iterable guard + analytics query Select empty value
  apps/web/src/app/(dashboard)/analytics/query/page.tsx
  apps/web/src/app/(dashboard)/transactions/calendar/page.tsx
Due: eslint --fix, prettier --write

fix: auto-redirect after login, remove Docker Hub from CI, fix API routes
  .github/workflows/deploy-admin-k8s.yml
  .github/workflows/deploy-enclii.yml
  .github/workflows/deploy-k8s.yml
  .github/workflows/deploy-web-k8s.yml
  apps/web/src/components/auth-provider.tsx
  apps/web/src/components/layout/notification-dropdown.tsx
  apps/web/src/contexts/PreferencesContext.tsx
Due: eslint --fix, prettier --write

fix(migration): capture all crypto coins and recurring items from lunchmoney
  apps/api/scripts/migrate-lunchmoney.ts
  apps/api/src/modules/migration/lunchmoney/__tests__/lunchmoney-mapper.spec.ts
  apps/api/src/modules/migration/lunchmoney/lunchmoney-client.ts
  apps/api/src/modules/migration/lunchmoney/lunchmoney-mapper.ts
Due: eslint --fix, prettier --write

feat(analytics): add "All Time" filter to statistics page
  apps/web/src/app/(dashboard)/analytics/statistics/page.tsx
Due: eslint --fix, prettier --write

feat: interactive detail views for accounts, budgets, goals, transactions
  apps/web/src/app/(dashboard)/accounts/page.tsx
  apps/web/src/app/(dashboard)/budgets/page.tsx
  apps/web/src/app/(dashboard)/goals/page.tsx
  apps/web/src/app/(dashboard)/transactions/page.tsx
  apps/web/src/app/__tests__/transactions-page.test.tsx
  apps/web/src/components/accounts/account-detail-sheet.tsx
  apps/web/src/components/goals/goal-edit-dialog.tsx
  apps/web/src/components/transactions/transaction-detail-sheet.tsx
Due: eslint --fix, prettier --write

feat: full UX overhaul — 15 improvements across all dimensions
  apps/web/src/app/(dashboard)/accounts/page.tsx
  apps/web/src/app/(dashboard)/analytics/page.tsx
  apps/web/src/app/(dashboard)/budgets/page.tsx
  apps/web/src/app/(dashboard)/dashboard/page.tsx
  apps/web/src/app/(dashboard)/goals/page.tsx
  apps/web/src/app/(dashboard)/layout.tsx
  apps/web/src/app/(dashboard)/transactions/page.tsx
  apps/web/src/app/__tests__/dashboard-page.test.tsx
  apps/web/src/components/dashboard/insights-card.tsx
  apps/web/src/components/dashboard/weekly-summary.tsx
  apps/web/src/components/keyboard-shortcuts.tsx
  apps/web/src/components/layout/dashboard-nav.test.tsx
  apps/web/src/components/layout/dashboard-nav.tsx
  apps/web/src/components/layout/mobile-nav.tsx
  apps/web/src/components/layout/notification-dropdown.tsx
  apps/web/src/components/onboarding/onboarding-wizard.tsx
  apps/web/src/components/search/search-command.tsx
  apps/web/src/lib/utils.ts
Due: eslint --fix, prettier --write

fix: uniform transaction row presentation — merchant icon fallback + field
  apps/web/src/app/(dashboard)/transactions/page.tsx
  apps/web/src/components/transactions/merchant-icon.tsx
Due: eslint --fix, prettier --write

feat: zero-based i18n + dark mode + a11y, admin full-access bypass
  apps/api/prisma/seed-madfam.ts
  apps/api/src/modules/billing/__tests__/subscription.guard.spec.ts
  apps/api/src/modules/billing/__tests__/usage-limit.guard.spec.ts
  apps/api/src/modules/billing/guards/feature-gate.guard.ts
  apps/api/src/modules/billing/guards/space-limit.guard.ts
  apps/api/src/modules/billing/guards/subscription.guard.ts
  apps/api/src/modules/billing/guards/usage-limit.guard.ts
  apps/api/src/modules/billing/services/usage-tracking.service.ts
  apps/web/src/app/(dashboard)/budgets/zero-based/page.tsx
  apps/web/src/components/billing/PremiumGate.test.tsx
  apps/web/src/components/billing/PremiumGate.tsx
  apps/web/src/components/budgets/zero-based/__tests__/zero-based-components.test.tsx
  apps/web/src/components/budgets/zero-based/add-income-modal.tsx
  apps/web/src/components/budgets/zero-based/allocate-modal.tsx
  apps/web/src/components/budgets/zero-based/category-allocation-list.tsx
  apps/web/src/components/budgets/zero-based/category-row.tsx
  apps/web/src/components/budgets/zero-based/goal-editor.tsx
  apps/web/src/components/budgets/zero-based/income-events-list.tsx
  apps/web/src/components/budgets/zero-based/month-selector.tsx
  apps/web/src/components/budgets/zero-based/move-funds-modal.tsx
  apps/web/src/components/budgets/zero-based/ready-to-assign-banner.tsx
  apps/web/src/components/budgets/zero-based/rollover-modal.tsx
  apps/web/src/lib/utils.ts
  packages/shared/src/i18n/en/budgets.ts
  packages/shared/src/i18n/es/budgets.ts
  packages/shared/src/i18n/pt-BR/budgets.ts
  packages/shared/src/types/user.types.ts
Due: eslint --fix, prettier --write

fix: cache user profile in localStorage for immediate hydration
  apps/web/src/lib/hooks/use-auth.ts
Due: eslint --fix, prettier --write

fix: redirect /dashboard/* sub-paths to root-level URLs
  apps/web/src/__tests__/middleware.test.ts
  apps/web/src/middleware.ts
Due: eslint --fix, prettier --write

feat: major calendar overhaul — fix data bug, extract components, i18n, a11y, mobile
  apps/web/src/app/(dashboard)/transactions/calendar/page.tsx
  apps/web/src/app/__tests__/calendar-page.test.tsx
  apps/web/src/components/calendar/calendar-day-cell.tsx
  apps/web/src/components/calendar/calendar-grid.tsx
  apps/web/src/components/calendar/calendar-skeleton.tsx
  apps/web/src/components/calendar/day-detail-panel.tsx
  apps/web/src/components/calendar/day-detail-sheet.tsx
  apps/web/src/components/calendar/index.ts
  apps/web/src/components/calendar/month-navigator.tsx
  apps/web/src/components/calendar/monthly-summary.tsx
  apps/web/src/hooks/use-mobile.ts
  apps/web/src/lib/api/analytics.ts
  packages/shared/src/i18n/en/transactions.ts
  packages/shared/src/i18n/es/transactions.ts
  packages/shared/src/i18n/pt-BR/transactions.ts
Due: eslint --fix, prettier --write

feat(billing): add credit-based usage metering system
  apps/api/prisma/schema.prisma
  apps/api/src/modules/billing/__tests__/credit-billing.controller.spec.ts
  apps/api/src/modules/billing/__tests__/usage-metering.service.spec.ts
  apps/api/src/modules/billing/billing.module.ts
  apps/api/src/modules/billing/credit-billing.controller.ts
  apps/api/src/modules/billing/dto/index.ts
  apps/api/src/modules/billing/dto/record-usage.dto.ts
  apps/api/src/modules/billing/exceptions/credits-exhausted.exception.ts
  apps/api/src/modules/billing/exceptions/index.ts
  apps/api/src/modules/billing/services/usage-metering.service.ts
  packages/billing-sdk/src/index.ts
  packages/billing-sdk/src/types.ts
  packages/billing-sdk/src/usage.ts
Due: eslint --fix, prettier --write, prisma format

feat(billing): replace hardcoded plan/product validation with pattern-based validators
  apps/api/src/modules/billing/billing.controller.ts
  apps/api/src/modules/billing/dto/checkout-query.dto.ts
  apps/api/src/modules/billing/dto/upgrade-to-premium.dto.ts
  apps/api/src/modules/billing/validators/__tests__/plan-id.validator.spec.ts
  apps/api/src/modules/billing/validators/plan-id.validator.ts
  infra/argocd/config.json
  packages/billing-sdk/src/types.ts
Due: eslint --fix, prettier --write

feat(billing): add zero-touch product webhook dispatch
  apps/api/src/modules/billing/services/subscription-lifecycle.service.ts
  apps/api/src/modules/billing/services/webhook-processor.service.ts
Due: eslint --fix, prettier --write

feat(billing): add centralized product catalog with Stripe sync
  apps/api/prisma/schema.prisma
  apps/api/src/modules/billing/billing.module.ts
  apps/api/src/modules/billing/catalog.controller.ts
  apps/api/src/modules/billing/services/price-resolver.service.ts
  apps/api/src/modules/billing/services/product-catalog.service.ts
  catalog.yaml
  packages/billing-sdk/src/client.ts
  packages/billing-sdk/src/types.ts
  scripts/sync-catalog.ts
Due: eslint --fix, prettier --write, prisma format

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,mdx,css,scss})
  prisma format: any of: *.prisma
