Repository madfam-io/dhanam: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prisma format

feat: add goal probability timeline and health score to dashboard
  apps/web/src/app/(dashboard)/dashboard/page.tsx
  apps/web/src/components/goals/goal-health-score.tsx
  apps/web/src/components/goals/goal-probability-timeline.tsx
Due: eslint --fix, prettier --write

feat: add goal collaboration schema for shared goals
  apps/api/prisma/schema.prisma
Due: prisma format

feat: implement goal collaboration backend service and API
  apps/api/src/modules/goals/goal-collaboration.service.ts
  apps/api/src/modules/goals/goals.controller.ts
  apps/api/src/modules/goals/goals.module.ts
Due: eslint --fix, prettier --write

feat: add goal collaboration UI components
  apps/web/src/app/(dashboard)/goals/page.tsx
  apps/web/src/components/goals/goal-activity-feed.tsx
  apps/web/src/components/goals/share-goal-dialog.tsx
  apps/web/src/components/goals/share-management-panel.tsx
  apps/web/src/components/goals/shared-goals-list.tsx
  apps/web/src/hooks/useGoals.ts
Due: eslint --fix, prettier --write

feat: add goal collaboration demo data
  apps/api/prisma/seed-enhanced.ts
Due: eslint --fix, prettier --write

feat: add ESG portfolio scoring dashboard
  apps/web/src/app/(dashboard)/esg/page.tsx
  apps/web/src/components/dashboard/esg-summary-widget.tsx
  apps/web/src/components/esg/esg-holdings-breakdown.tsx
  apps/web/src/components/esg/esg-insights.tsx
  apps/web/src/components/esg/esg-portfolio-summary.tsx
  apps/web/src/hooks/useEsg.ts
Due: eslint --fix, prettier --write

feat: complete comprehensive codebase audit
  AUDIT_SUMMARY.md
Due: prettier --write

feat: implement real PostHog analytics and verify i18n completeness
  IMPLEMENTATION_PROGRESS.md
  apps/api/src/modules/analytics/analytics.module.ts
  apps/api/src/modules/analytics/posthog.service.ts
  apps/api/src/modules/analytics/wealth.analytics.ts
  apps/api/src/modules/budgets/budgets.analytics.ts
  apps/api/src/modules/onboarding/onboarding.analytics.ts
  apps/api/src/modules/providers/providers.analytics.ts
  apps/api/src/modules/transactions/transactions.analytics.ts
  apps/web/src/lib/posthog.ts
Due: eslint --fix, prettier --write

feat: test coverage analysis and categories service tests
  TEST_COVERAGE_REPORT.md
  apps/api/src/modules/categories/categories.service.spec.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat: add comprehensive tests for transaction-splits and fx-rates services
  apps/api/src/modules/fx-rates/fx-rates.service.spec.ts
  apps/api/src/modules/transactions/transaction-splits.service.spec.ts
Due: eslint --fix, prettier --write

docs: update test coverage report with latest metrics
  TEST_COVERAGE_REPORT.md
Due: prettier --write

docs: add comprehensive test coverage session summary
  TEST_COVERAGE_SESSION_SUMMARY.md
Due: prettier --write

feat: add comprehensive tests for manual-assets service (29 tests) 🎉
  TEST_COVERAGE_REPORT.md
  apps/api/src/modules/manual-assets/manual-assets.service.spec.ts
Due: eslint --fix, prettier --write

docs: add comprehensive manual assets test implementation summary
  MANUAL_ASSETS_TEST_IMPLEMENTATION.md
Due: prettier --write

feat: add comprehensive analytics services tests (153 tests) 🎉
  ANALYTICS_TESTS_SUMMARY.md
  apps/api/src/modules/analytics/posthog.service.spec.ts
  apps/api/src/modules/analytics/wealth.analytics.spec.ts
  apps/api/src/modules/budgets/budgets.analytics.spec.ts
  apps/api/src/modules/providers/providers.analytics.spec.ts
  apps/api/src/modules/transactions/transactions.analytics.spec.ts
Due: eslint --fix, prettier --write

feat: add comprehensive tests for advanced features (circuit breaker, ML services)
  apps/api/src/modules/ml/split-prediction.service.spec.ts
  apps/api/src/modules/ml/transaction-categorization.service.spec.ts
  apps/api/src/modules/providers/orchestrator/circuit-breaker.service.spec.ts
Due: eslint --fix, prettier --write

docs: add advanced features test session summary
  ADVANCED_FEATURES_TESTS_SUMMARY.md
Due: prettier --write

feat: add comprehensive provider orchestrator tests (35 tests)
  apps/api/src/modules/providers/orchestrator/provider-orchestrator.service.spec.ts
Due: eslint --fix, prettier --write

docs: add complete test coverage session summary (88 tests, ~88-92% coverage)
  COMPLETE_TEST_COVERAGE_SESSION.md
Due: prettier --write

feat: add comprehensive provider selection ML tests (30 tests)
  apps/api/src/modules/ml/provider-selection.service.spec.ts
Due: eslint --fix, prettier --write

feat: add comprehensive simulations service tests (38 tests)
  apps/api/src/modules/simulations/simulations.service.spec.ts
Due: eslint --fix, prettier --write

feat: add comprehensive goal probability service tests (29 tests)
  apps/api/src/modules/goals/goal-probability.service.spec.ts
Due: eslint --fix, prettier --write

feat: add comprehensive report service tests (25 tests)
  apps/api/src/modules/analytics/report.service.spec.ts
Due: eslint --fix, prettier --write

feat: add comprehensive goal collaboration service tests (35 tests)
  apps/api/src/modules/goals/goal-collaboration.service.spec.ts
Due: eslint --fix, prettier --write

docs: add continued test coverage session summary (157 tests, ~95%+ coverage)
  CONTINUED_TEST_COVERAGE_SESSION.md
Due: prettier --write

docs: add final test coverage achievement report from previous session
  FINAL_TEST_COVERAGE_ACHIEVEMENT.md
Due: prettier --write

fix: resolve provider-selection test failures (30/30 tests passing)
  apps/api/src/modules/ml/provider-selection.service.spec.ts
Due: eslint --fix, prettier --write

feat: add comprehensive service tests (125 tests, 100% passing)
  apps/api/src/modules/esg/esg.service.spec.ts
  apps/api/src/modules/providers/blockchain/blockchain.service.spec.ts
  apps/api/src/modules/providers/finicity/finicity.service.spec.ts
  apps/api/src/modules/providers/mx/mx.service.spec.ts
Due: eslint --fix, prettier --write

fix: resolve ALL remaining TypeScript errors, warnings, and issues (0 errors achieved)
  apps/web/src/app/(admin)/admin/audit-logs/page.tsx
  apps/web/src/app/(admin)/admin/feature-flags/page.tsx
  apps/web/src/app/(admin)/admin/users/page.tsx
  apps/web/src/app/(dashboard)/budgets/page.tsx
  apps/web/src/app/(dashboard)/estate-planning/page.tsx
  apps/web/src/app/(dashboard)/households/page.tsx
  apps/web/src/app/(dashboard)/scenarios/page.tsx
  apps/web/src/app/(dashboard)/transactions/page.tsx
  apps/web/src/app/demo/page.tsx
  apps/web/src/components/accounts/ownership-toggle.tsx
  apps/web/src/components/assets/manual-asset-form.tsx
  apps/web/src/components/auth/totp-setup.tsx
  apps/web/src/components/auth/totp-verify.tsx
  apps/web/src/components/budgets/ready-to-assign.tsx
  apps/web/src/components/goals/goal-probability-calculator.tsx
  apps/web/src/components/goals/share-goal-dialog.tsx
  apps/web/src/components/goals/share-management-panel.tsx
  apps/web/src/components/goals/what-if-scenario-builder.tsx
  apps/web/src/components/ml/ml-insights-dashboard.tsx
  apps/web/src/components/onboarding/steps/preferences-step.tsx
  apps/web/src/components/orders/order-placement-form.tsx
  apps/web/src/components/providers/belvo-connect.tsx
  apps/web/src/components/providers/bitso-connect.tsx
  apps/web/src/components/settings/PreferencesSection.tsx
  apps/web/src/components/simulations/RetirementCalculatorForm.tsx
  apps/web/src/components/ui/avatar.tsx
  apps/web/src/components/ui/progress.tsx
  apps/web/src/components/ui/separator.tsx
  apps/web/src/hooks/useGoals.ts
  apps/web/src/hooks/useSimulations.ts
Due: eslint --fix, prettier --write

fix: reduce TypeScript errors from 48 to 13 (73% reduction)
  apps/web/package.json
  apps/web/src/app/(dashboard)/estate-planning/page.tsx
  apps/web/src/app/(dashboard)/goals/page.tsx
  apps/web/src/app/(dashboard)/households/page.tsx
  apps/web/src/app/(dashboard)/scenarios/page.tsx
  apps/web/src/app/demo/page.tsx
  apps/web/src/components/assets/manual-asset-form.tsx
  apps/web/src/components/budgets/ready-to-assign.tsx
  apps/web/src/components/goals/goal-probability-calculator.tsx
  apps/web/src/components/goals/goal-probability-timeline.tsx
  apps/web/src/components/goals/share-goal-dialog.tsx
  apps/web/src/components/settings/PreferencesSection.tsx
  apps/web/src/components/simulations/RetirementResults.tsx
  apps/web/src/components/ui/slider.tsx
  apps/web/src/components/ui/tooltip.tsx
  apps/web/src/hooks/useGoals.ts
  packages/ui/src/compat.tsx
  packages/ui/src/components/slider.tsx
  packages/ui/src/components/tooltip.tsx
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

fix: resolve ALL remaining TypeScript errors, warnings, and issues (0 errors achieved)
  apps/web/src/components/goals/goal-probability-calculator.tsx
  apps/web/src/components/goals/probabilistic-goal-card.tsx
  apps/web/src/components/goals/share-management-panel.tsx
  apps/web/src/components/goals/what-if-scenario-builder.tsx
  apps/web/src/components/onboarding/email-verification.tsx
  apps/web/src/components/simulations/RetirementCalculatorForm.tsx
Due: eslint --fix, prettier --write

fix: add explicit return type to AnalyticsPage to resolve React type conflict
  apps/web/src/app/(admin)/admin/analytics/page.tsx
Due: eslint --fix, prettier --write

fix: add explicit JSX.Element return type to AuditLogsPage to resolve React 19 type inference issue
  apps/web/src/app/(admin)/admin/audit-logs/page.tsx
Due: eslint --fix, prettier --write

chore: Update configuration and environment files
  .env.example
  apps/api/.env.example
  apps/mobile/.env.example
  docker-compose.production.yml
  docker-compose.yml
Due: none

feat: integrate Janua billing and email services
  .enclii.yml
  .env.example
  .npmrc
  apps/api/.env.example
  apps/api/package.json
  apps/api/prisma/migrations/20251125000001_add_janua_billing_fields/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/prisma/seed-madfam.ts
  apps/api/src/modules/billing/billing.controller.ts
  apps/api/src/modules/billing/billing.module.ts
  apps/api/src/modules/billing/billing.service.ts
  apps/api/src/modules/billing/dto/janua-webhook.dto.ts
  apps/api/src/modules/billing/janua-billing.service.ts
  apps/api/src/modules/email/email.module.ts
  apps/api/src/modules/email/janua-email.service.ts
  apps/web/.env.example
  apps/web/package.json
  apps/web/src/lib/providers.tsx
  apps/web/src/providers/JanuaAuthBridge.tsx
  docs/MADFAM_INTERNAL_FINANCE.md
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, prisma format

chore: ecosystem alignment - standardize pnpm 9.15.0 and framework versions
  apps/api/Dockerfile
  apps/api/Dockerfile.dev
  apps/api/package.json
  apps/mobile/package.json
  apps/web/Dockerfile
  apps/web/Dockerfile.dev
  apps/web/package.json
  docker-compose.dev.yml
  package.json
  packages/esg/package.json
  packages/shared/package.json
  packages/ui/package.json
Due: prettier --write

chore: remove unpublished @madfam/analytics dependency
  apps/web/package.json
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,mdx,css,scss})
  prisma format: any of: *.prisma
