Repository madfam-io/dhanam: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prisma format

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,md,mdx,css,scss}": [
    "prettier --write"
  ],
  "*.prisma": [
    "prisma format"
  ]
}

feat: multi-budget LunchMoney migration with analytics budgetId filter
  CLAUDE.md
  apps/api/prisma/schema.prisma
  apps/api/scripts/migrate-lunchmoney.ts
  apps/api/src/modules/analytics/__tests__/analytics.controller.spec.ts
  apps/api/src/modules/analytics/__tests__/analytics.service.spec.ts
  apps/api/src/modules/analytics/analytics-query.service.ts
  apps/api/src/modules/analytics/analytics.controller.ts
  apps/api/src/modules/analytics/analytics.service.ts
  apps/api/src/modules/migration/lunchmoney/lunchmoney-client.ts
  apps/api/src/modules/migration/lunchmoney/lunchmoney-types.ts
  apps/api/src/modules/transactions/dto/transactions-filter.dto.ts
  apps/api/src/modules/transactions/transactions.service.spec.ts
  apps/api/src/modules/transactions/transactions.service.ts
  apps/web/src/lib/api/analytics.ts
Due: eslint --fix, prettier --write, prisma format

fix: decode HTML entities from LunchMoney API in migration
  apps/api/scripts/migrate-lunchmoney.ts
  apps/api/src/modules/migration/lunchmoney/lunchmoney-mapper.ts
Due: eslint --fix, prettier --write

fix: upgrade path-to-regexp to v8 and transpile Janua SDK packages
  apps/api/package.json
  apps/web/next.config.js
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

fix(web): add @janua/typescript-sdk to transpilePackages
  apps/web/next.config.js
Due: eslint --fix, prettier --write

fix(deps): bump @janua/react-sdk 0.1.1 → 0.1.3
  apps/admin/package.json
  apps/web/package.json
  pnpm-lock.yaml
Due: prettier --write

fix(web): ssr-safe dynamic imports for Janua SDK components
  CLAUDE.md
  apps/web/src/app/(auth)/login/page.tsx
  apps/web/src/app/(auth)/register/page.tsx
  apps/web/src/app/__tests__/login-page.test.tsx
  apps/web/src/app/__tests__/register-page.test.tsx
  apps/web/src/app/auth/callback/page.tsx
  apps/web/src/components/layout/dashboard-header.tsx
Due: eslint --fix, prettier --write

feat(enclii): add network section to enclii.yaml
  enclii.yaml
Due: none

fix(admin): fix redirect URL leak + add own login page
  apps/admin/src/app/(dashboard)/layout.tsx
  apps/admin/src/app/login/page.tsx
  apps/admin/src/lib/hooks/use-admin-auth.ts
  apps/admin/src/middleware.ts
Due: eslint --fix, prettier --write

chore(deps): update @janua/ui to 0.1.2
  pnpm-lock.yaml
Due: none

fix(admin): add @janua/ui and @janua/react-sdk to transpilePackages
  apps/admin/next.config.js
Due: eslint --fix, prettier --write

fix(security): remediate 3 CodeQL findings
  apps/api/src/core/auth/demo-data.builder.ts
  apps/api/src/modules/search/search.controller.ts
  packages/billing-sdk/src/client.ts
Due: eslint --fix, prettier --write

fix(web): add error states to 10 dashboard pages that showed blank on API failure
  apps/web/src/app/(dashboard)/analytics/page.tsx
  apps/web/src/app/(dashboard)/assets/page.tsx
  apps/web/src/app/(dashboard)/esg/page.tsx
  apps/web/src/app/(dashboard)/gaming/page.tsx
  apps/web/src/app/(dashboard)/goals/page.tsx
  apps/web/src/app/(dashboard)/notifications/page.tsx
  apps/web/src/app/(dashboard)/projections/page.tsx
  apps/web/src/app/(dashboard)/reports/page.tsx
  apps/web/src/app/(dashboard)/retirement/page.tsx
  apps/web/src/app/(dashboard)/scenarios/page.tsx
Due: eslint --fix, prettier --write

feat(collectibles): implement Artsy and Hagerty valuation adapters
  apps/api/.env.example
  apps/api/src/modules/collectibles-valuation/adapters/artsy.adapter.spec.ts
  apps/api/src/modules/collectibles-valuation/adapters/artsy.adapter.ts
  apps/api/src/modules/collectibles-valuation/adapters/hagerty.adapter.spec.ts
  apps/api/src/modules/collectibles-valuation/adapters/hagerty.adapter.ts
Due: eslint --fix, prettier --write

feat(admin): add Playwright E2E tests for admin dashboard
  .github/workflows/ci.yml
  apps/admin/e2e/admin-dashboard.spec.ts
  apps/admin/e2e/compliance.spec.ts
  apps/admin/e2e/helpers/auth.ts
  apps/admin/e2e/helpers/fixtures.ts
  apps/admin/e2e/queue-management.spec.ts
  apps/admin/e2e/system-health.spec.ts
  apps/admin/package.json
  apps/admin/playwright.config.ts
Due: eslint --fix, prettier --write

docs: update TECH_DEBT.md and CLAUDE.md for remediation work
  CLAUDE.md
  TECH_DEBT.md
  apps/admin/tsconfig.json
Due: prettier --write

feat(billing): add Stripe setup script and resolve TD-004
  TECH_DEBT.md
  scripts/setup-stripe.ts
Due: eslint --fix, prettier --write

fix(dx): guard typecheck in pre-commit/pre-push against missing DATABASE_URL
  .husky/pre-commit
  .husky/pre-push
  apps/web/src/components/simulations/RetirementCalculatorForm.tsx
Due: eslint --fix, prettier --write

fix(admin): resolve 4 pre-existing test failures across 3 test files
  apps/admin/src/app/__tests__/queues-page.test.tsx
  apps/admin/src/components/__tests__/admin-nav.test.tsx
  apps/admin/src/components/__tests__/compliance-actions.test.tsx
Due: eslint --fix, prettier --write

refactor(api): replace raw console calls with NestJS Logger
  .husky/pre-commit
  apps/api/src/core/auth/demo-data.builder.ts
  apps/api/src/core/config/env-validation.service.ts
  apps/api/src/core/crypto/crypto.module.ts
  apps/api/src/core/monitoring/sentry.service.ts
  apps/api/src/modules/categories/categories.service.ts
  apps/api/src/modules/migration/lunchmoney/lunchmoney-client.ts
  apps/api/src/modules/migration/lunchmoney/lunchmoney-mapper.ts
Due: eslint --fix, prettier --write

fix(mobile): config fixes, console.log cleanup, and ESLint path alias
  apps/mobile/.eslintrc.js
  apps/mobile/package.json
  apps/mobile/src/contexts/AuthContext.tsx
  apps/mobile/src/contexts/OnboardingContext.tsx
  apps/mobile/src/hooks/useBiometric.ts
  apps/mobile/src/hooks/useSpaces.ts
  apps/mobile/src/services/api.ts
  apps/mobile/src/services/notifications.ts
  apps/mobile/src/utils/deeplink.ts
Due: eslint --fix, prettier --write

docs(ops): add backup/restore runbook and operational scripts
  docs/BACKUP_RESTORE.md
  scripts/backup-db.sh
  scripts/restore-db.sh
Due: prettier --write

refactor(api): tighten types — reduce any from 339 to 122 (64% reduction)
  apps/api/src/core/analytics/posthog.service.ts
  apps/api/src/core/auth/auth.controller.ts
  apps/api/src/core/auth/guards/jwt-auth.guard.ts
  apps/api/src/core/auth/guest-auth.service.ts
  apps/api/src/core/auth/totp.service.ts
  apps/api/src/core/decorators/monitor-performance.decorator.ts
  apps/api/src/core/decorators/retry.decorator.ts
  apps/api/src/core/events/events.controller.ts
  apps/api/src/core/filters/global-exception.filter.ts
  apps/api/src/core/interceptors/logging.interceptor.ts
  apps/api/src/core/monitoring/error-tracking.service.ts
  apps/api/src/core/monitoring/health.service.ts
  apps/api/src/core/monitoring/metrics.service.ts
  apps/api/src/core/types/authenticated-request.ts
  apps/api/src/core/types/index.ts
  apps/api/src/modules/accounts/accounts.controller.ts
  apps/api/src/modules/admin/admin-ops.service.ts
  apps/api/src/modules/admin/admin.controller.ts
  apps/api/src/modules/admin/admin.service.ts
  apps/api/src/modules/analytics/analytics-query.service.ts
  apps/api/src/modules/analytics/analytics.controller.ts
  apps/api/src/modules/analytics/posthog.service.ts
  apps/api/src/modules/billing/billing.controller.ts
  apps/api/src/modules/billing/billing.service.ts
  apps/api/src/modules/categories/categories.controller.ts
  apps/api/src/modules/estate-planning/estate-planning.controller.ts
  apps/api/src/modules/goals/goals.controller.ts
  apps/api/src/modules/households/households.controller.ts
  apps/api/src/modules/jobs/jobs.service.ts
  apps/api/src/modules/jobs/queue.service.ts
  apps/api/src/modules/providers/finicity/finicity.service.ts
  apps/api/src/modules/providers/mx/mx.service.ts
  apps/api/src/modules/providers/orchestrator/circuit-breaker.service.ts
  apps/api/src/modules/providers/orchestrator/provider-orchestrator.service.ts
  apps/api/src/modules/providers/orchestrator/provider.interface.ts
  apps/api/src/modules/providers/orchestrator/rate-limiter.service.ts
  apps/api/src/modules/transaction-execution/transaction-execution.controller.ts
  apps/api/src/modules/users/users.service.ts
Due: eslint --fix, prettier --write

docs(mobile): add ADR-006 for React Context + React Query state management
  docs/adr/006-mobile-state-management.md
Due: prettier --write

docs: update TECH_DEBT.md with Wave 2 remediation items (TD-014 through TD-021)
  TECH_DEBT.md
Due: prettier --write

style: auto-fix prettier formatting in 6 files
  apps/web/src/app/(dashboard)/analytics/page.tsx
  apps/web/src/app/(dashboard)/assets/page.tsx
  apps/web/src/app/(dashboard)/notifications/page.tsx
  apps/web/src/app/(dashboard)/projections/page.tsx
  apps/web/src/app/(dashboard)/reports/page.tsx
Due: eslint --fix, prettier --write

fix(dx): guard pre-push lint against missing DATABASE_URL
  .husky/pre-push
Due: none

style(api): apply lint-staged formatting from Phase 7 type tightening
  apps/api/src/modules/providers/finicity/finicity.service.ts
  apps/api/src/modules/providers/mx/mx.service.ts
  apps/api/src/modules/search/search.controller.ts
Due: eslint --fix, prettier --write

feat(api): add MADFAM CSV import script for Innovaciones MADFAM transactions
  .gitignore
  apps/api/scripts/import-madfam-csv.ts
  apps/api/src/modules/migration/madfam-csv/__tests__/madfam-csv-mapper.spec.ts
  apps/api/src/modules/migration/madfam-csv/madfam-csv-mapper.ts
  apps/api/src/modules/migration/madfam-csv/madfam-csv-types.ts
Due: eslint --fix, prettier --write

fix(api): match isIncomeGroup against actual CSV group names
  apps/api/src/modules/migration/madfam-csv/__tests__/madfam-csv-mapper.spec.ts
  apps/api/src/modules/migration/madfam-csv/madfam-csv-mapper.ts
Due: eslint --fix, prettier --write

feat: enable SPEI bank transfers via Stripe MX customer_balance
  .serena/project.yml
  apps/api/src/modules/billing/__tests__/payment-router.service.spec.ts
  apps/api/src/modules/billing/__tests__/stripe-mx.service.spec.ts
  apps/api/src/modules/billing/services/payment-router.service.ts
  apps/api/src/modules/billing/services/stripe-mx.service.ts
Due: eslint --fix, prettier --write

feat: add KYC/AML integration with MetaMap provider
  apps/api/prisma/schema.prisma
  apps/api/src/app.module.ts
  apps/api/src/modules/kyc/dto/index.ts
  apps/api/src/modules/kyc/dto/start-verification.dto.ts
  apps/api/src/modules/kyc/dto/upload-document.dto.ts
  apps/api/src/modules/kyc/dto/webhook-payload.dto.ts
  apps/api/src/modules/kyc/guards/kyc-verified.guard.ts
  apps/api/src/modules/kyc/kyc.controller.ts
  apps/api/src/modules/kyc/kyc.module.ts
  apps/api/src/modules/kyc/kyc.service.ts
  apps/api/src/modules/kyc/metamap.provider.ts
  apps/api/src/modules/transaction-execution/transaction-execution.controller.ts
  apps/api/src/modules/transaction-execution/transaction-execution.module.ts
Due: eslint --fix, prettier --write, prisma format

feat(auth): add production assertion warning and controller-level local-auth guard
  apps/api/src/core/auth/auth.controller.ts
  apps/api/src/core/auth/auth.module.ts
Due: eslint --fix, prettier --write

feat(api): add customer federation endpoint for PhyneCRM integration
  apps/api/src/modules/billing/billing.module.ts
  apps/api/src/modules/billing/customer-federation.controller.ts
  apps/api/src/modules/billing/guards/federation-auth.guard.ts
  apps/api/src/modules/billing/services/customer-federation.service.ts
Due: eslint --fix, prettier --write

docs: add Belvo Payments vs Stripe MX SPEI evaluation RFC
  docs/rfcs/belvo-payments-evaluation.md
Due: prettier --write

docs: add ADR for Conekta evaluation and Janua payment dependency
  docs/adr/conekta-janua-dependency.md
Due: prettier --write

feat(billing): add Cotiza webhook endpoint for cross-product billing relay
  apps/api/src/modules/billing/billing.module.ts
  apps/api/src/modules/billing/cotiza-webhook.controller.ts
Due: eslint --fix, prettier --write

test: add comprehensive KYC/AML unit tests for service and MetaMap provider
  apps/api/src/modules/kyc/__tests__/kyc.service.spec.ts
  apps/api/src/modules/kyc/__tests__/metamap.provider.spec.ts
Due: eslint --fix, prettier --write

test: add local-auth-disabled guard tests for Janua SSO mode
  apps/api/src/core/auth/__tests__/auth.controller.spec.ts
Due: eslint --fix, prettier --write

test: add customer federation service and auth guard tests
  apps/api/src/modules/billing/__tests__/customer-federation.service.spec.ts
  apps/api/src/modules/billing/__tests__/federation-auth.guard.spec.ts
Due: eslint --fix, prettier --write
