Repository madfam-io/dhanam: changes, and which Codecov flags are due for each by the changed paths.
All: api, web, shared, API, Web, Shared, UI

codecov.yml:

# Codecov Configuration
# https://docs.codecov.com/docs/codecov-yaml

# Validation: https://docs.codecov.com/docs/codecov-yaml#validate-your-repository-yaml
# Command: curl -X POST --data-binary @codecov.yml https://codecov.io/validate

coverage:
  precision: 2
  round: down
  range: "60...100" # Lowered from 70...100

  status:
    project:
      default:
        target: 70% # Lowered from 80% to match reality
        threshold: 2% # Increased flexibility
        base: auto
        if_ci_failed: error
        only_pulls: true # Only enforce on PRs, not main pushes

    patch:
      default:
        target: 80% # KEEP HIGH - enforces quality on NEW code
        threshold: 5%
        base: auto
        if_not_found: success # Don't fail if no coverage changes

    changes:
      default:
        target: 75% # Lowered from 80%
        threshold: 2%

# Comments on pull requests
comment:
  layout: "header, diff, flags, components, footer"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

# Component coverage (per app/package)
component_management:
  default_rules:
    statuses:
      - type: project
        target: 70% # Lowered from 80%
      - type: patch
        target: 80% # Keep new code quality high
  individual_components:
    - component_id: api
      name: API
      paths:
        - apps/api/src/**
    - component_id: web
      name: Web
      paths:
        - apps/web/src/**
    - component_id: shared
      name: Shared
      paths:
        - packages/shared/src/**
    - component_id: ui
      name: UI
      paths:
        - packages/ui/src/**

# Ignore paths
ignore:
  - "**/*.spec.ts"
  - "**/*.test.ts"
  - "**/__tests__/**"
  - "**/test/**"
  - "**/*.d.ts"
  - "**/*.config.ts"
  - "**/*.config.js"
  - "**/dist/**"
  - "**/coverage/**"
  - "**/node_modules/**"
  - "**/.next/**"
  - "**/prisma/migrations/**"
  - "**/prisma/seed.ts"

# Flags for different test types
flags:
  api:
    paths:
      - apps/api/src
    carryforward: true

  web:
    paths:
      - apps/web/src
    carryforward: true

  shared:
    paths:
      - packages/shared/src
    carryforward: true

# GitHub status checks
github_checks:
  annotations: true

# Slack/GitHub notifications (optional)
# slack:
#   url: "secret:SLACK_WEBHOOK_URL"

fix(api): typecheck green-up — Prisma import normalize + Json widening + error narrowing
  apps/api/src/modules/billing/madfam-events.controller.ts
  apps/api/src/modules/billing/services/payment-processor.interface.ts
  apps/api/src/modules/billing/services/product-catalog.service.ts
  apps/api/src/modules/kyc/kyc.service.ts
  apps/api/src/modules/marketplace/dto/marketplace.dto.ts
  apps/api/src/modules/marketplace/services/charge.service.ts
  apps/api/src/modules/marketplace/services/connect-webhook.handler.ts
  apps/api/src/modules/marketplace/services/dispute.service.ts
  apps/api/src/modules/marketplace/services/merchant.service.ts
  apps/api/src/modules/marketplace/services/payout.service.ts
  apps/api/src/modules/marketplace/services/transfer.service.ts
  apps/api/src/modules/users/users.service.ts
Due: api, API

fix(api): typecheck green-up — Prisma import normalize + Json widening + error narrowing (#376)
  apps/api/src/modules/billing/madfam-events.controller.ts
  apps/api/src/modules/billing/services/payment-processor.interface.ts
  apps/api/src/modules/billing/services/product-catalog.service.ts
  apps/api/src/modules/kyc/kyc.service.ts
  apps/api/src/modules/marketplace/dto/marketplace.dto.ts
  apps/api/src/modules/marketplace/services/charge.service.ts
  apps/api/src/modules/marketplace/services/connect-webhook.handler.ts
  apps/api/src/modules/marketplace/services/dispute.service.ts
  apps/api/src/modules/marketplace/services/merchant.service.ts
  apps/api/src/modules/marketplace/services/payout.service.ts
  apps/api/src/modules/marketplace/services/transfer.service.ts
  apps/api/src/modules/users/users.service.ts
Due: api, API

fix(api): clear final 16 typecheck errors (post-#376)
  apps/api/src/modules/analytics/analytics-query.service.ts
  apps/api/src/modules/billing/__tests__/stripe-mx.service.spec.ts
  apps/api/src/modules/billing/services/stripe-connect.service.ts
  apps/api/src/modules/billing/services/stripe-mx.service.ts
  apps/api/src/modules/billing/stripe.service.ts
  apps/api/src/modules/email/tasks/drip-campaign.task.ts
  apps/api/src/modules/marketplace/dto/marketplace.dto.ts
  apps/api/src/modules/providers/finicity/finicity.service.ts
  apps/api/src/modules/providers/mx/mx.service.ts
  apps/api/src/modules/providers/orchestrator/circuit-breaker.service.ts
  apps/api/src/modules/webhook-outbound/services/svix.client.ts
Due: api, API

deploy(preview): pr-392 api digest -> f98b810
  infra/k8s/overlays/preview/kustomization.yaml
Due: none

deploy(preview): pr-392 api digest -> c80ae8b
  infra/k8s/overlays/preview/kustomization.yaml
Due: none

deploy(preview): pr-392 api digest -> fc7f710
  infra/k8s/overlays/preview/kustomization.yaml
Due: none

deploy(preview): pr-392 api digest -> 736c3e7
  infra/k8s/overlays/preview/kustomization.yaml
Due: none

deploy(preview): pr-392 api digest -> 0aee419
  infra/k8s/overlays/preview/kustomization.yaml
Due: none

deploy(preview): pr-392 api digest -> a43984e
  infra/k8s/overlays/preview/kustomization.yaml
Due: none

deploy(preview): pr-392 api digest -> e5d6cd5
  infra/k8s/overlays/preview/kustomization.yaml
Due: none

deploy(preview): pr-392 api digest -> ea33234
  infra/k8s/overlays/preview/kustomization.yaml
Due: none

fix(api): clear referral DTO TDZ at suite-load (debt-2026-04-27 #4)
  apps/api/src/modules/referral/dto/referral-event.dto.ts
Due: api, API

deploy(preview): pr-392 api digest -> 2700a3b
  infra/k8s/overlays/preview/kustomization.yaml
Due: none

deploy(preview): pr-392 api digest -> b949909
  infra/k8s/overlays/preview/kustomization.yaml
Due: none

deploy(preview): pr-392 api digest -> 3fe7c7a
  infra/k8s/overlays/preview/kustomization.yaml
Due: none

fix(api): clear final 16 typecheck errors (post-#376) (#392)
  apps/api/src/modules/analytics/analytics-query.service.ts
  apps/api/src/modules/billing/__tests__/stripe-mx.service.spec.ts
  apps/api/src/modules/billing/services/stripe-connect.service.ts
  apps/api/src/modules/billing/services/stripe-mx.service.ts
  apps/api/src/modules/billing/stripe.service.ts
  apps/api/src/modules/email/tasks/drip-campaign.task.ts
  apps/api/src/modules/marketplace/dto/marketplace.dto.ts
  apps/api/src/modules/providers/finicity/finicity.service.ts
  apps/api/src/modules/providers/mx/mx.service.ts
  apps/api/src/modules/providers/orchestrator/circuit-breaker.service.ts
  apps/api/src/modules/webhook-outbound/services/svix.client.ts
  infra/k8s/overlays/preview/kustomization.yaml
Due: api, API

fix(api): clear referral DTO TDZ at suite-load (debt-2026-04-27 #4) (#393)
  apps/api/src/modules/referral/dto/referral-event.dto.ts
Due: api, API

fix(web): bump @hookform/resolvers to v5 for Zod v4 compat (#212)
  apps/web/package.json
  apps/web/src/components/forms/register-form.test.tsx
  apps/web/src/components/forms/register-form.tsx
  pnpm-lock.yaml
Due: web, Web

fix(web): bump @hookform/resolvers to v5 for Zod v4 compat (#212) (#394)
  apps/web/package.json
  apps/web/src/components/forms/register-form.test.tsx
  apps/web/src/components/forms/register-form.tsx
  pnpm-lock.yaml
Due: web, Web

refactor(api): use shared isPrismaKnownRequestError helper in users.service
  apps/api/src/modules/users/users.service.ts
Due: api, API

refactor(api): use shared isPrismaKnownRequestError helper in users.service (#395)
  apps/api/src/modules/users/users.service.ts
Due: api, API

deploy(preview): pr-385 api digest -> dbf088e
  infra/k8s/overlays/preview/kustomization.yaml
Due: none

deploy(preview): pr-383 api digest -> f30557c
  infra/k8s/overlays/preview/kustomization.yaml
Due: none

fix(ci): tailwind v4 PostCSS plugin + eslint parser config drift
  apps/web/eslint.config.mjs
  apps/web/package.json
  apps/web/postcss.config.js
  pnpm-lock.yaml
Due: none

deploy(preview): pr-396 api digest -> bf3ea43
  infra/k8s/overlays/preview/kustomization.yaml
Due: none

deploy(preview): pr-396 api digest -> adc43d3
  infra/k8s/overlays/preview/kustomization.yaml
Due: none

deploy(preview): pr-396 api digest -> 9210a44
  infra/k8s/overlays/preview/kustomization.yaml
Due: none

deploy(preview): pr-396 api digest -> 3ba6483
  infra/k8s/overlays/preview/kustomization.yaml
Due: none

deploy(preview): pr-396 api digest -> 93c4b25
  infra/k8s/overlays/preview/kustomization.yaml
Due: none

deploy(preview): pr-396 api digest -> 490218f
  infra/k8s/overlays/preview/kustomization.yaml
Due: none

deploy(preview): pr-396 api digest -> fe51213
  infra/k8s/overlays/preview/kustomization.yaml
Due: none

deploy(preview): pr-396 api digest -> 6a05942
  infra/k8s/overlays/preview/kustomization.yaml
Due: none

deploy(preview): pr-396 api digest -> bd36b6c
  infra/k8s/overlays/preview/kustomization.yaml
Due: none

deploy(preview): pr-396 api digest -> ed68c0e
  infra/k8s/overlays/preview/kustomization.yaml
Due: none

deploy(preview): pr-396 api digest -> 06a4ea2
  infra/k8s/overlays/preview/kustomization.yaml
Due: none

fix(web): migrate globals.css to Tailwind v4 (@theme block)
  apps/web/src/styles/globals.css
  apps/web/tailwind.config.ts
Due: web, Web

deploy(preview): pr-396 api digest -> 8fa59d9
  infra/k8s/overlays/preview/kustomization.yaml
Due: none

deploy(preview): pr-396 api digest -> 579bbb7
  infra/k8s/overlays/preview/kustomization.yaml
Due: none

deploy(preview): pr-396 api digest -> cdf72a2
  infra/k8s/overlays/preview/kustomization.yaml
Due: none

deploy(preview): pr-396 api digest -> c646dd7
  infra/k8s/overlays/preview/kustomization.yaml
Due: none
