Repository madfam-io/dhanam: changes, and which Codecov flags are due for each by the changed paths.
All: api, web, shared, API, Web, Shared, UI

fix(ci): use GITHUB_TOKEN for GHCR authentication
  .github/workflows/deploy-k8s.yml
Due: none

fix(docker): copy Prisma generated client to production stage
  apps/api/Dockerfile
Due: none

fix(docker): symlink Prisma runtime for @prisma/client imports
  apps/api/Dockerfile
Due: none

fix(prisma): update imports from @prisma/client/runtime/library to @db
  apps/api/src/__tests__/chaos/database-failure.chaos.spec.ts
  apps/api/src/__tests__/chaos/global-exception-filter.chaos.spec.ts
  apps/api/src/__tests__/chaos/helpers/chaos-utils.ts
  apps/api/src/core/auth/totp.service.ts
  apps/api/src/core/filters/__tests__/global-exception.filter.spec.ts
  apps/api/src/core/filters/global-exception.filter.ts
  apps/api/src/modules/analytics/report.service.spec.ts
  apps/api/src/modules/categories/__tests__/rules.service.spec.ts
  apps/api/src/modules/categories/rules.service.spec.ts
  apps/api/src/modules/esg/enhanced-esg.service.ts
  apps/api/src/modules/esg/esg.service.spec.ts
  apps/api/src/modules/esg/esg.service.ts
  apps/api/src/modules/goals/goal-probability.service.spec.ts
  apps/api/src/modules/jobs/processors/valuation-snapshot.processor.ts
  apps/api/src/modules/manual-assets/manual-assets-mutations.service.spec.ts
  apps/api/src/modules/manual-assets/manual-assets-valuation.service.spec.ts
  apps/api/src/modules/manual-assets/manual-assets.service.spec.ts
  apps/api/src/modules/providers/belvo/belvo.service.ts
  apps/api/src/modules/providers/bitso/bitso.service.ts
  apps/api/src/modules/providers/blockchain/blockchain.service.spec.ts
  apps/api/src/modules/providers/blockchain/blockchain.service.ts
  apps/api/src/modules/providers/finicity/finicity.service.ts
  apps/api/src/modules/providers/mx/mx.service.ts
  apps/api/src/modules/providers/plaid/plaid-webhook.handler.ts
  apps/api/src/modules/providers/plaid/plaid.service.ts
  apps/api/src/modules/transaction-execution/transaction-execution.service.ts
  apps/api/src/modules/transactions/transactions.service.ts
  apps/api/src/modules/users/users.service.ts
  apps/api/src/types/prisma-fallback.d.ts
Due: api, API

fix(prisma): add barrel re-export for Prisma runtime types
  apps/api/src/db/index.ts
  apps/api/tsconfig.json
Due: api, API

fix(prisma): export error classes as both values and types
  apps/api/src/db/index.ts
Due: api, API

fix(types): resolve remaining TypeScript errors for production build
  apps/api/src/core/auth/totp.service.ts
  apps/api/src/core/filters/global-exception.filter.ts
  apps/api/src/modules/manual-assets/real-estate-valuation.service.ts
  apps/api/src/modules/users/users.service.ts
Due: api, API

fix(docker): symlink @prisma/client-runtime-utils for generated client
  apps/api/Dockerfile
Due: none

fix(prisma): remove deprecated datasourceUrl for Prisma 7 compatibility
  apps/api/src/core/prisma/prisma.service.ts
Due: api, API

fix(prisma): set engineType=library for Prisma 7 compatibility
  apps/api/Dockerfile
  apps/api/prisma/schema.prisma
Due: none

fix(prisma): use @prisma/adapter-pg for Prisma 7 client engine
  apps/api/package.json
  apps/api/prisma/schema.prisma
  apps/api/src/core/prisma/prisma.service.ts
  pnpm-lock.yaml
Due: api, API

fix(esg): import BillingModule for UsageLimitGuard dependency
  apps/api/src/modules/esg/esg.module.ts
Due: api, API

fix(modules): import BillingModule in all modules using billing guards
  apps/api/src/modules/goals/goals.module.ts
  apps/api/src/modules/providers/belvo/belvo.module.ts
  apps/api/src/modules/providers/bitso/bitso.module.ts
  apps/api/src/modules/providers/defi/defi.module.ts
  apps/api/src/modules/providers/plaid/plaid.module.ts
  apps/api/src/modules/spaces/spaces.module.ts
Due: api, API

fix(deps): update @fastify/helmet to v13 for Fastify 5 compatibility
  apps/api/package.json
  pnpm-lock.yaml
Due: none

fix(deps): update @fastify/cors to v11 for Fastify 5 compatibility
  apps/api/package.json
  pnpm-lock.yaml
Due: none

fix(api): resolve Fastify 5 duplicate route and pool.end() errors
  apps/api/src/core/prisma/prisma.service.ts
  apps/api/src/modules/users/gdpr.controller.ts
Due: api, API

fix(api): resolve logging interceptor crash and queue init race condition
  apps/api/src/core/interceptors/logging.interceptor.ts
  apps/api/src/modules/jobs/queue.service.ts
Due: api, API

fix(k8s): align container names with live deployment state
  .github/workflows/deploy-enclii.yml
  .github/workflows/deploy-k8s.yml
  .github/workflows/deploy-web-k8s.yml
  infra/k8s/production/web-deployment.yaml
Due: none

fix(ci): use madfam-bot PAT for GHCR push (fixes 403)
  .github/workflows/deploy-k8s.yml
Due: none

fix(web): fix TypeScript error in cookie consent (blocks CI build)
  apps/web/src/providers/PostHogProvider.tsx
Due: web, Web

fix(ci): use GITHUB_TOKEN for GHCR push and disable provenance attestations
  .github/workflows/deploy-k8s.yml
  .github/workflows/deploy-web-k8s.yml
Due: none

fix(ci): rename dhanam-api image to avoid orphaned GHCR package
  .github/workflows/deploy-k8s.yml
  infra/k8s/production/api-deployment.yaml
Due: none

fix(ci): rename dhanam-web image to avoid GHCR package permission issue
  .github/workflows/deploy-web-k8s.yml
  infra/k8s/production/web-deployment.yaml
Due: none

fix(k8s): correct dhanam-web service targetPort 3000 → 4200
  infra/k8s/production/web-deployment.yaml
Due: none

fix(k8s): align dhanam-web ports to 4200 across deployment manifest
  infra/k8s/production/web-deployment.yaml
Due: none

chore(deps): bump @react-navigation/native to 7.1.28 and regenerate lockfile
  apps/mobile/package.json
  pnpm-lock.yaml
Due: none

fix(web): resolve translation keys displaying instead of translated content
  apps/web/src/app/[locale]/landing/page.tsx
  apps/web/src/app/[locale]/layout.tsx
  apps/web/src/app/page.tsx
  apps/web/src/lib/providers.tsx
  packages/shared/src/hooks/useTranslation.ts
Due: web, shared, Web, Shared

fix(ci): Resolve GitHub Actions failures by fixing ESLint, Next.js params, and test environment issues
  apps/api/src/core/auth/totp.service.ts
  apps/api/src/core/filters/global-exception.filter.ts
  apps/api/src/db/index.ts
  apps/api/src/modules/esg/enhanced-esg.service.ts
  apps/api/src/modules/esg/esg.service.ts
  apps/api/src/modules/goals/goals.module.ts
  apps/api/src/modules/jobs/processors/valuation-snapshot.processor.ts
  apps/api/src/modules/manual-assets/real-estate-valuation.service.ts
  apps/api/src/modules/providers/belvo/belvo.service.ts
  apps/api/src/modules/providers/bitso/bitso.service.ts
  apps/api/src/modules/providers/blockchain/blockchain.service.ts
  apps/api/src/modules/providers/finicity/finicity.service.ts
  apps/api/src/modules/providers/mx/mx.service.ts
  apps/api/src/modules/providers/plaid/plaid-webhook.handler.ts
  apps/api/src/modules/providers/plaid/plaid.module.ts
  apps/api/src/modules/providers/plaid/plaid.service.ts
  apps/api/src/modules/transaction-execution/transaction-execution.service.ts
  apps/api/src/modules/transactions/transactions.service.ts
  apps/api/src/modules/users/users.service.ts
  apps/web/.eslintrc.json
  apps/web/package.json
  apps/web/src/app/[locale]/layout.tsx
  apps/web/src/app/page.tsx
  apps/web/src/components/analytics/portfolio-chart.tsx
  apps/web/src/components/analytics/spending-category-chart.tsx
  apps/web/src/components/forms/login-form.test.tsx
  apps/web/src/components/forms/register-form.test.tsx
  packages/config/eslint/nextjs.js
  packages/config/package.json
  pnpm-lock.yaml
Due: api, web, API, Web

fix(ci): Resolve persistent failures by aligning Next.js/React versions and fixing API unit tests
  apps/admin/next-env.d.ts
  apps/admin/package.json
  apps/api/src/modules/providers/mx/mx.service.spec.ts
  apps/web/package.json
  pnpm-lock.yaml
Due: none

fix(web): resolve all explicit any types in components and strict type translations
  apps/api/src/db/index.ts
  apps/api/src/main.ts
  apps/web/src/components/demo/persona-switcher.tsx
  apps/web/src/components/landing/platform-depth.tsx
  apps/web/src/components/landing/pricing.tsx
  apps/web/src/components/landing/social-proof.tsx
  apps/web/src/components/providers/plaid-connect.tsx
Due: api, web, API, Web

feat: Introduce categorization rules and implement API versioning with a `/v1` prefix.
  apps/api/src/core/auth/auth.module.ts
  apps/api/src/core/auth/strategies/jwt.strategy.ts
  apps/api/src/modules/categories/categories.module.ts
  apps/api/src/modules/categories/categories.service.ts
  apps/api/src/modules/categories/categorization-rules.controller.ts
  apps/api/src/modules/categories/dto/index.ts
  apps/api/src/modules/categories/dto/rule.dto.ts
  apps/api/src/modules/email/email.service.ts
  apps/api/src/modules/onboarding/onboarding.service.ts
  apps/api/src/modules/transactions/dto/transactions-filter.dto.ts
  apps/api/src/modules/transactions/transactions.service.ts
  apps/api/test/app.e2e-spec.ts
  apps/api/test/e2e/categories.e2e-spec.ts
  apps/api/test/e2e/fixtures/onboarding.fixtures.ts
  apps/api/test/e2e/onboarding-flow.e2e-spec.ts
  apps/api/test/e2e/preferences-management.e2e-spec.ts
  apps/api/test/e2e/transactions.e2e-spec.ts
  package.json
  pnpm-lock.yaml
Due: api, API

fix: resolve 4 hono security vulnerabilities, ESLint errors, and 13 failing JWT tests
  apps/api/src/core/auth/__tests__/jwt.strategy.spec.ts
  apps/api/src/modules/categories/categories.service.ts
  apps/api/src/modules/categories/categorization-rules.controller.ts
  package.json
  pnpm-lock.yaml
Due: api, API

feat: add llms.txt and llms-full.txt for agent-friendly codebase access
  CLAUDE.md
  README.md
  apps/web/src/app/llms-full.txt/route.ts
  apps/web/src/app/llms.txt/route.ts
  docs/INDEX.md
  llms-full.txt
  llms.txt
  tools/agent-manifest.json
Due: web, Web

fix(ci): add preflight secret validation to all deploy workflows
  .github/workflows/deploy-enclii.yml
  .github/workflows/deploy-k8s.yml
  .github/workflows/deploy-web-k8s.yml
Due: none

fix(ci): align all deploy workflows with Enclii kubeconfig pattern
  .github/workflows/deploy-enclii.yml
  .github/workflows/deploy-k8s.yml
  .github/workflows/deploy-web-k8s.yml
Due: none

feat(ci): add admin deploy workflow and fix image naming
  .github/workflows/deploy-admin-k8s.yml
  infra/k8s/production/admin-deployment.yaml
Due: none

feat(api): add standalone documents module with CSV preview and storage quotas
  apps/api/package.json
  apps/api/prisma/schema.prisma
  apps/api/src/app.module.ts
  apps/api/src/modules/documents/csv-preview.service.ts
  apps/api/src/modules/documents/documents-admin.controller.ts
  apps/api/src/modules/documents/documents.controller.ts
  apps/api/src/modules/documents/documents.module.ts
  apps/api/src/modules/documents/documents.service.ts
  apps/api/src/modules/documents/dto/confirm-upload.dto.ts
  apps/api/src/modules/documents/dto/index.ts
  apps/api/src/modules/documents/dto/list-documents-query.dto.ts
  apps/api/src/modules/documents/dto/request-upload-url.dto.ts
  apps/api/src/modules/documents/dto/update-csv-mapping.dto.ts
  apps/api/src/modules/storage/r2.service.ts
  pnpm-lock.yaml
Due: api, API

feat: add report generation, archive, and sharing system
  apps/api/prisma/schema.prisma
  apps/api/src/core/auth/demo-data/reports.builder.ts
  apps/api/src/modules/analytics/analytics.module.ts
  apps/api/src/modules/analytics/dto/create-saved-report.dto.ts
  apps/api/src/modules/analytics/dto/create-share-token.dto.ts
  apps/api/src/modules/analytics/dto/index.ts
  apps/api/src/modules/analytics/dto/share-report.dto.ts
  apps/api/src/modules/analytics/dto/update-saved-report.dto.ts
  apps/api/src/modules/analytics/report-archive.service.ts
  apps/api/src/modules/analytics/report-collaboration.service.ts
  apps/api/src/modules/analytics/report-share-token.service.ts
  apps/api/src/modules/analytics/report-sharing.controller.ts
  apps/api/src/modules/analytics/reports.controller.ts
  apps/api/src/modules/analytics/saved-report.service.ts
  apps/api/src/modules/analytics/saved-reports.controller.ts
  apps/web/src/app/(dashboard)/reports/page.tsx
  apps/web/src/app/public/report/[token]/page.tsx
  apps/web/src/components/reports/report-history-panel.tsx
  apps/web/src/components/reports/saved-report-card.tsx
  apps/web/src/components/reports/share-link-panel.tsx
  apps/web/src/components/reports/share-management-panel.tsx
  apps/web/src/components/reports/share-report-dialog.tsx
  apps/web/src/lib/api/reports.ts
Due: api, web, API, Web

feat: add enclii.yaml for self-service domain auto-provisioning
  CLAUDE.md
  enclii.yaml
Due: none

fix(web): resolve 19 ESLint errors from reports feature
  apps/web/src/app/(dashboard)/reports/page.tsx
  apps/web/src/app/public/report/[token]/page.tsx
  apps/web/src/components/reports/saved-report-card.tsx
  apps/web/src/components/reports/share-link-panel.tsx
  apps/web/src/lib/api/reports.ts
Due: web, Web

Path conditions:
  api: any of: apps/api/src, but not: **/*.spec.ts, **/*.test.ts, **/__tests__/**, **/test/**, **/*.d.ts, **/*.config.ts, **/*.config.js, **/dist/**, **/coverage/**, **/node_modules/**, **/.next/**, **/prisma/migrations/**, **/prisma/seed.ts
  web: any of: apps/web/src, but not: **/*.spec.ts, **/*.test.ts, **/__tests__/**, **/test/**, **/*.d.ts, **/*.config.ts, **/*.config.js, **/dist/**, **/coverage/**, **/node_modules/**, **/.next/**, **/prisma/migrations/**, **/prisma/seed.ts
  shared: any of: packages/shared/src, but not: **/*.spec.ts, **/*.test.ts, **/__tests__/**, **/test/**, **/*.d.ts, **/*.config.ts, **/*.config.js, **/dist/**, **/coverage/**, **/node_modules/**, **/.next/**, **/prisma/migrations/**, **/prisma/seed.ts
  API: any of: apps/api/src/**, but not: **/*.spec.ts, **/*.test.ts, **/__tests__/**, **/test/**, **/*.d.ts, **/*.config.ts, **/*.config.js, **/dist/**, **/coverage/**, **/node_modules/**, **/.next/**, **/prisma/migrations/**, **/prisma/seed.ts
  Web: any of: apps/web/src/**, but not: **/*.spec.ts, **/*.test.ts, **/__tests__/**, **/test/**, **/*.d.ts, **/*.config.ts, **/*.config.js, **/dist/**, **/coverage/**, **/node_modules/**, **/.next/**, **/prisma/migrations/**, **/prisma/seed.ts
  Shared: any of: packages/shared/src/**, but not: **/*.spec.ts, **/*.test.ts, **/__tests__/**, **/test/**, **/*.d.ts, **/*.config.ts, **/*.config.js, **/dist/**, **/coverage/**, **/node_modules/**, **/.next/**, **/prisma/migrations/**, **/prisma/seed.ts
  UI: any of: packages/ui/src/**, but not: **/*.spec.ts, **/*.test.ts, **/__tests__/**, **/test/**, **/*.d.ts, **/*.config.ts, **/*.config.js, **/dist/**, **/coverage/**, **/node_modules/**, **/.next/**, **/prisma/migrations/**, **/prisma/seed.ts
