Repository madfam-io/dhanam: changes, and which Codecov flags are due for each by the changed paths.
All: api, web, shared, API, Web, Shared, UI

codecov.yml:

# Codecov Configuration
# https://docs.codecov.com/docs/codecov-yaml

# Validation: https://docs.codecov.com/docs/codecov-yaml#validate-your-repository-yaml
# Command: curl -X POST --data-binary @codecov.yml https://codecov.io/validate

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        target: 80%
        threshold: 1%
        base: auto
        if_ci_failed: error

    patch:
      default:
        target: 80%
        threshold: 5%
        base: auto

    changes:
      default:
        target: 80%
        threshold: 1%

# Comments on pull requests
comment:
  layout: "header, diff, flags, components, footer"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

# Component coverage (per app/package)
component_management:
  default_rules:
    statuses:
      - type: project
        target: 80%
  individual_components:
    - component_id: api
      name: API
      paths:
        - apps/api/src/**
    - component_id: web
      name: Web
      paths:
        - apps/web/src/**
    - component_id: shared
      name: Shared
      paths:
        - packages/shared/src/**
    - component_id: ui
      name: UI
      paths:
        - packages/ui/src/**

# Ignore paths
ignore:
  - "**/*.spec.ts"
  - "**/*.test.ts"
  - "**/__tests__/**"
  - "**/test/**"
  - "**/*.d.ts"
  - "**/*.config.ts"
  - "**/*.config.js"
  - "**/dist/**"
  - "**/coverage/**"
  - "**/node_modules/**"
  - "**/.next/**"
  - "**/prisma/migrations/**"
  - "**/prisma/seed.ts"

# Flags for different test types
flags:
  api:
    paths:
      - apps/api/src
    carryforward: true

  web:
    paths:
      - apps/web/src
    carryforward: true

  shared:
    paths:
      - packages/shared/src
    carryforward: true

# GitHub status checks
github_checks:
  annotations: true

# Slack/GitHub notifications (optional)
# slack:
#   url: "secret:SLACK_WEBHOOK_URL"

fix(ci): resolve CI/CD pipeline failures
  .github/workflows/deploy-enclii.yml
  .github/workflows/deploy-k8s.yml
  apps/api/jest.config.js
  apps/api/test/jest-e2e.json
Due: none

fix(ci): disable provenance attestations to fix GHCR 403 error
  .github/workflows/deploy-enclii.yml
  .github/workflows/deploy-k8s.yml
Due: none

fix(ci): disable auto-deploy workflows - Enclii handles deployment
  .github/workflows/deploy-enclii.yml
  .github/workflows/deploy-k8s.yml
Due: none

fix(ci): disable remaining auto-deploy workflows
  .github/workflows/deploy-web-k8s.yml
  .github/workflows/deploy.yml
Due: none

fix(api): add express dependency for type resolution
  apps/api/package.json
  pnpm-lock.yaml
Due: none

fix(api): add @nestjs/platform-express for E2E tests
  apps/api/package.json
  pnpm-lock.yaml
Due: none

fix(api): fix E2E test setup for CI
  apps/api/test/e2e/helpers/test.helper.ts
  apps/api/test/setup.ts
Due: none

fix(api): add @dhanam/esg moduleNameMapper for E2E tests
  apps/api/test/jest-e2e.json
Due: none

fix(ci): make E2E tests non-blocking until test issues are resolved
  .github/workflows/ci.yml
  .github/workflows/test-coverage.yml
Due: none

fix(api): resolve E2E test configuration and schema alignment issues
  apps/api/src/core/auth/__tests__/auth.service.spec.ts
  apps/api/src/core/auth/auth.service.ts
  apps/api/test/e2e/helpers/test.helper.ts
  apps/api/test/jest-e2e.json
Due: api, API

fix(e2e): resolve JWT_SECRET validation and test helper signature issues
  .github/workflows/ci.yml
  .github/workflows/test-coverage.yml
  apps/api/test/e2e/categories.e2e-spec.ts
  apps/api/test/e2e/transactions.e2e-spec.ts
Due: none

fix(e2e): resolve E2E test failures with correct routes and response structures
  apps/api/test/app.e2e-spec.ts
  apps/api/test/e2e/categories.e2e-spec.ts
  apps/api/test/e2e/fixtures/onboarding.fixtures.ts
  apps/api/test/e2e/fixtures/test-data.fixtures.ts
  apps/api/test/e2e/helpers/test.helper.ts
  apps/api/test/e2e/onboarding-flow.e2e-spec.ts
  apps/api/test/e2e/transactions.e2e-spec.ts
Due: none

fix(security): upgrade tar to 7.5.6 to resolve CVE-2026-23950
  package.json
  pnpm-lock.yaml
Due: none

fix(api): resolve test infrastructure issues for reliable CI execution
  apps/api/src/core/auth/__tests__/jwt.strategy.spec.ts
  apps/api/src/core/auth/decorators/current-user.decorator.ts
  apps/api/src/core/auth/strategies/jwt.strategy.ts
  apps/api/src/modules/email/__tests__/email.service.spec.ts
  apps/api/src/modules/email/email.service.ts
  apps/api/src/modules/jobs/queue.service.ts
  apps/api/src/modules/onboarding/onboarding.service.ts
  apps/api/test/e2e/helpers/test.helper.ts
  apps/api/test/e2e/onboarding-flow.e2e-spec.ts
  apps/api/test/jest-e2e.json
  apps/api/test/setup.ts
  infra/docker/docker-compose.yml
Due: api, API

fix(ci): temporarily disable E2E tests to prevent timeout cancellations
  .github/workflows/ci.yml
Due: none

fix(ci): disable E2E tests in test-coverage workflow as well
  .github/workflows/test-coverage.yml
Due: none

fix(security): upgrade lodash to 4.17.23 to resolve CVE-2025-13465
  package.json
  pnpm-lock.yaml
Due: none

chore(admin): add Next.js TypeScript declarations
  apps/admin/next-env.d.ts
Due: none

fix(web): resolve 404 errors on dashboard pages by restructuring routes
  apps/api/src/modules/analytics/analytics.module.ts
  apps/api/src/modules/analytics/reports.controller.ts
  apps/web/src/app/(dashboard)/dashboard/accounts/page.tsx
  apps/web/src/app/(dashboard)/dashboard/analytics/page.tsx
  apps/web/src/app/(dashboard)/dashboard/budgets/page.tsx
  apps/web/src/app/(dashboard)/dashboard/esg/page.tsx
  apps/web/src/app/(dashboard)/dashboard/reports/page.tsx
  apps/web/src/app/(dashboard)/dashboard/settings/page.tsx
  apps/web/src/app/(dashboard)/dashboard/transactions/page.tsx
  apps/web/src/lib/api/preferences.ts
  apps/web/src/lib/api/reports.ts
Due: api, web, API, Web

fix(ci): resolve lint and TypeScript errors failing CI checks
  .husky/pre-push
  apps/api/src/modules/analytics/reports.controller.ts
  apps/web/src/app/(dashboard)/dashboard/analytics/page.tsx
  apps/web/src/app/(dashboard)/dashboard/reports/page.tsx
  apps/web/src/app/(dashboard)/dashboard/settings/page.tsx
  apps/web/src/lib/api/reports.ts
  package.json
Due: api, web, API, Web

fix(web): sync auth cookie with Zustand state to prevent redirect flash
  apps/web/src/lib/hooks/use-auth.ts
Due: web, Web

fix(web): move dashboard pages to root-level routes
  apps/web/src/app/(dashboard)/accounts/page.tsx
  apps/web/src/app/(dashboard)/analytics/page.tsx
  apps/web/src/app/(dashboard)/budgets/page.tsx
  apps/web/src/app/(dashboard)/esg/page.tsx
  apps/web/src/app/(dashboard)/reports/page.tsx
  apps/web/src/app/(dashboard)/settings/page.tsx
  apps/web/src/app/(dashboard)/transactions/page.tsx
  apps/web/src/components/layout/dashboard-nav.tsx
Due: web, Web

feat(lint): add file line limits with ESLint max-lines rule
  apps/api/src/modules/manual-assets/manual-assets-mutations.service.spec.ts
  apps/api/src/modules/manual-assets/manual-assets-valuation.service.spec.ts
  apps/api/src/modules/manual-assets/manual-assets.service.spec.ts
  package.json
  packages/config/eslint/base.js
  scripts/check-file-sizes.js
Due: none

perf: optimize query performance for faster page navigation
  apps/api/prisma/schema.prisma
  apps/api/src/modules/admin/admin.service.ts
  apps/api/src/modules/analytics/analytics.controller.ts
  apps/api/src/modules/analytics/analytics.service.ts
  apps/api/src/modules/budgets/budgets.service.ts
  apps/api/src/modules/categories/categories.service.ts
  apps/api/src/modules/goals/goals-execution.service.ts
  apps/api/src/modules/goals/goals.service.ts
  apps/web/package.json
  apps/web/src/app/(dashboard)/dashboard/page.tsx
  apps/web/src/app/(dashboard)/transactions/page.tsx
  apps/web/src/components/onboarding/email-verification.tsx
  apps/web/src/hooks/useEsgQuery.ts
  apps/web/src/hooks/useGoalsQuery.ts
  apps/web/src/hooks/useHouseholdsQuery.ts
  apps/web/src/lib/api/analytics.ts
  pnpm-lock.yaml
Due: api, web, API, Web

fix(ci): resolve test failures and add missing database migration
  apps/api/prisma/migrations/20250123000001_add_performance_indexes/migration.sql
  apps/api/src/modules/categories/categories.service.spec.ts
  apps/api/src/modules/goals/__tests__/goals-execution.service.spec.ts
  apps/api/src/modules/goals/goals-execution.service.ts
Due: api, API

fix(ci): resolve coverage threshold and migration check failures
  .github/workflows/check-migrations.yml
  apps/api/jest.config.js
Due: none

perf(web): fix slow page loads and space switcher visibility
  .enclii.yml
  apps/web/.env.production
  apps/web/next.config.js
  apps/web/src/app/(admin)/layout.tsx
  apps/web/src/app/(dashboard)/layout.tsx
  apps/web/src/app/page.tsx
  apps/web/src/components/admin/admin-header.tsx
  apps/web/src/components/admin/admin-nav.tsx
  apps/web/src/components/layout/dashboard-header.tsx
  apps/web/src/lib/hooks/use-auth.ts
  apps/web/src/lib/hooks/use-spaces.ts
  apps/web/src/middleware.ts
  apps/web/src/stores/space.ts
  infra/k8s/production/cloudflare-routes.yaml
Due: web, Web

feat(ui): improve empty state UX across dashboard pages
  apps/api/src/core/auth/strategies/janua.strategy.ts
  apps/web/src/app/(dashboard)/analytics/page.tsx
  apps/web/src/app/(dashboard)/dashboard/page.tsx
  apps/web/src/app/(dashboard)/reports/page.tsx
  apps/web/src/app/(dashboard)/retirement/page.tsx
  apps/web/src/app/(dashboard)/scenarios/page.tsx
  apps/web/src/app/(dashboard)/settings/page.tsx
  apps/web/src/components/goals/goal-probability-timeline.tsx
  apps/web/src/components/layout/dashboard-header.tsx
  apps/web/src/components/orders/order-list.tsx
  apps/web/src/lib/api/analytics.ts
  apps/web/src/lib/hooks/use-auth.ts
  apps/web/src/lib/hooks/use-spaces.ts
  packages/ui/src/components/empty-state.tsx
  packages/ui/src/index.ts
Due: api, web, API, Web, UI

feat(api): enhance demo seed data for comprehensive platform demo
  apps/api/package.json
  apps/api/prisma/seed-enhanced.ts
Due: none

docs: comprehensive documentation audit and fixes
  .github/workflows/README.md
  CLAUDE.md
  README.md
  apps/admin/README.md
  docs/DEPLOYMENT.md
  docs/guides/BILLING_INTEGRATION.md
  docs/guides/ESTATE_PLANNING_GUIDE.md
  docs/guides/ML_CAPABILITIES_GUIDE.md
  packages/simulations/README.md
Due: none

test: comprehensive test coverage audit implementation
  README.md
  apps/api/src/modules/accounts/__tests__/accounts.service.spec.ts
  apps/api/src/modules/billing/__tests__/janua-billing.service.spec.ts
  apps/api/src/modules/billing/__tests__/paddle.service.spec.ts
  apps/api/src/modules/billing/__tests__/payment-router.service.spec.ts
  apps/api/src/modules/billing/__tests__/stripe-mx.service.spec.ts
  apps/api/src/modules/email/__tests__/janua-email.service.spec.ts
  apps/api/src/modules/jobs/__tests__/enhanced-jobs.service.spec.ts
  apps/api/src/modules/jobs/__tests__/jobs.service.spec.ts
  apps/api/src/modules/onboarding/__tests__/onboarding.service.spec.ts
  apps/web/src/components/budgets/ready-to-assign.test.tsx
  apps/web/src/components/dashboard/esg-summary-widget.test.tsx
  apps/web/src/components/esg/esg-holdings-breakdown.test.tsx
  apps/web/src/components/esg/esg-insights.test.tsx
  apps/web/src/components/esg/esg-portfolio-summary.test.tsx
  apps/web/src/components/transactions/split-transaction-dialog.test.tsx
  docs/audits/CODEBASE_QUALITY_AUDIT_REPORT.md
  docs/audits/CODE_QUALITY_AUDIT_REPORT.md
  docs/audits/COMPREHENSIVE_CODEBASE_AUDIT_REPORT.md
  packages/esg/jest.config.js
  packages/esg/src/__tests__/dhanam-provider.spec.ts
  packages/esg/src/__tests__/esg-manager.spec.ts
  packages/esg/src/__tests__/portfolio-analyzer.spec.ts
  packages/esg/src/__tests__/scoring.spec.ts
  packages/shared/jest.config.js
  packages/shared/package.json
  packages/shared/src/__tests__/currency.spec.ts
  packages/shared/src/__tests__/date.spec.ts
  packages/shared/src/__tests__/formatters.spec.ts
  packages/shared/src/__tests__/validation.spec.ts
  packages/simulations/README.md
  packages/simulations/src/__tests__/monte-carlo.engine.spec.ts
  pnpm-lock.yaml
Due: web, Web

test(ui): add comprehensive tests for custom UI components (Phase 5)
  packages/ui/jest.config.js
  packages/ui/package.json
  packages/ui/src/__tests__/alert.spec.tsx
  packages/ui/src/__tests__/badge.spec.tsx
  packages/ui/src/__tests__/empty-state.spec.tsx
  packages/ui/src/__tests__/golden-ratio.spec.ts
  packages/ui/src/__tests__/semantic-colors.spec.ts
  packages/ui/src/__tests__/setup.ts
  packages/ui/src/__tests__/tailwind-preset.spec.ts
  packages/ui/src/__tests__/utils.spec.ts
  pnpm-lock.yaml
Due: none

fix(tests): resolve TypeScript errors in test files and enhance pre-commit hook
  .husky/pre-commit
  packages/shared/src/__tests__/formatters.spec.ts
  packages/shared/src/__tests__/validation.spec.ts
  packages/ui/src/__tests__/badge.spec.tsx
  packages/ui/src/__tests__/empty-state.spec.tsx
  packages/ui/src/__tests__/semantic-colors.spec.ts
Due: none

fix(ci): resolve deploy.yml workflow file validation error
  .github/workflows/deploy.yml
Due: none

fix(ci): resolve all failing workflow errors and enhance guardrails
  .github/workflows/check-migrations.yml
  .husky/pre-commit
  .husky/pre-push
  apps/api/prisma/migrations/20250123210000_add_paddle_billing_and_order_error_fields/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/modules/billing/billing.service.ts
  apps/api/src/modules/billing/services/payment-router.service.ts
  apps/api/src/modules/transaction-execution/transaction-execution.service.ts
  apps/web/src/app/(dashboard)/transactions/recurring/page.tsx
  apps/web/src/lib/api/recurring.ts
  package.json
Due: api, web, API, Web

fix(ci): resolve Jest module resolution and schema drift errors
  .github/workflows/ci.yml
  .husky/pre-commit
  .husky/pre-push
  apps/api/jest.config.js
  apps/api/prisma/migrations/20250124000000_add_recurring_and_subscriptions/migration.sql
Due: none

fix(ci): remove duplicate indexes from migration
  apps/api/prisma/migrations/20250124000000_add_recurring_and_subscriptions/migration.sql
Due: none

fix(ci): add @prisma/client moduleNameMapper for test resolution
  apps/api/jest.config.js
Due: none

fix(ci): exclude new untested services from coverage collection
  apps/api/jest.config.js
Due: none
