Repository madfam-io/dhanam: changes, and which Codecov flags are due for each by the changed paths.
All: api, web, shared, API, Web, Shared, UI

fix(web): use React.use() for params in locale layout (SSR crash)
  apps/web/src/app/[locale]/layout.tsx
Due: web, Web

fix(web): remove CookieConsentBanner from root layout (outside I18nProvider)
  apps/web/src/app/layout.tsx
Due: web, Web

fix(auth): prevent JanuaAuthSync from clearing valid PKCE and demo sessions
  apps/web/src/app/demo/page.tsx
  apps/web/src/components/auth-provider.tsx
  apps/web/src/providers/JanuaAuthBridge.tsx
  docs/adr/004-janua-auth-integration.md
Due: web, Web

fix(auth): recover auth state from valid JWT when Zustand store is cleared
  apps/web/src/providers/JanuaAuthBridge.tsx
Due: web, Web

docs(adr): document JWT token recovery mechanism in ADR-004
  docs/adr/004-janua-auth-integration.md
Due: none

fix(csp): use API origin instead of full URL in connect-src directive
  apps/web/next.config.js
Due: none

fix(auth): add multi-strategy fallback so demo tokens work with Janua enabled
  apps/api/src/core/auth/guards/jwt-auth.guard.ts
Due: api, API

fix(i18n): add missing transaction filter keys, fix analytics loading text, handle zero-based demo error
  apps/web/src/app/(dashboard)/budgets/zero-based/page.tsx
  apps/web/src/components/analytics/income-expense-chart.tsx
  apps/web/src/components/analytics/net-worth-chart.tsx
  apps/web/src/components/analytics/portfolio-chart.tsx
  apps/web/src/components/analytics/spending-category-chart.tsx
  packages/shared/src/i18n/en/analytics.ts
  packages/shared/src/i18n/en/budgets.ts
  packages/shared/src/i18n/en/transactions.ts
  packages/shared/src/i18n/es/analytics.ts
  packages/shared/src/i18n/es/budgets.ts
  packages/shared/src/i18n/es/transactions.ts
  packages/shared/src/i18n/pt-BR/analytics.ts
  packages/shared/src/i18n/pt-BR/budgets.ts
  packages/shared/src/i18n/pt-BR/transactions.ts
Due: web, shared, Web, Shared

fix(web): remediate 5 P1 broken pages and 3 P2 i18n gaps from Playwright audit
  CHANGELOG.md
  apps/api/src/core/auth/demo-data.builder.ts
  apps/api/src/core/interceptors/logging.interceptor.ts
  apps/api/src/modules/analytics/__tests__/analytics.service.spec.ts
  apps/api/src/modules/analytics/analytics.service.ts
  apps/api/src/modules/analytics/report.service.ts
  apps/api/src/modules/spaces/spaces.service.ts
  apps/mobile/app/(onboarding)/feature-tour.tsx
  apps/mobile/babel.config.js
  apps/mobile/jest.config.js
  apps/mobile/package.json
  apps/mobile/src/services/notifications.ts
  apps/mobile/src/utils/__tests__/currency.test.ts
  apps/web/src/app/(dashboard)/accounts/page.tsx
  apps/web/src/app/(dashboard)/budgets/page.tsx
  apps/web/src/app/(dashboard)/budgets/zero-based/page.tsx
  apps/web/src/app/(dashboard)/dashboard/page.tsx
  apps/web/src/app/(dashboard)/estate-planning/page.tsx
  apps/web/src/app/(dashboard)/households/page.tsx
  apps/web/src/app/(dashboard)/transactions/page.tsx
  apps/web/src/app/__tests__/accounts-page.test.tsx
  apps/web/src/app/__tests__/budgets-page.test.tsx
  apps/web/src/app/demo/page.tsx
  apps/web/src/components/demo/persona-switcher.tsx
  apps/web/src/hooks/useGoalsQuery.ts
  apps/web/src/hooks/useHouseholdsQuery.ts
  apps/web/src/lib/api/analytics.ts
  apps/web/src/lib/hooks/use-spaces.ts
  apps/web/src/lib/query-keys.ts
  infra/k8s/production/api-deployment.yaml
  infra/k8s/staging/api-deployment.yaml
  packages/shared/src/i18n/en/common.ts
  packages/shared/src/i18n/en/transactions.ts
  packages/shared/src/i18n/es/common.ts
  packages/shared/src/i18n/es/transactions.ts
  packages/shared/src/i18n/pt-BR/common.ts
  packages/shared/src/i18n/pt-BR/transactions.ts
  pnpm-lock.yaml
Due: api, web, shared, API, Web, Shared

fix(web): resolve Prettier formatting errors blocking Docker build
  apps/web/src/app/(dashboard)/accounts/page.tsx
  apps/web/src/app/(dashboard)/budgets/page.tsx
  apps/web/src/app/(dashboard)/budgets/zero-based/page.tsx
  apps/web/src/app/(dashboard)/dashboard/page.tsx
  apps/web/src/app/(dashboard)/estate-planning/page.tsx
  apps/web/src/app/(dashboard)/households/page.tsx
  apps/web/src/lib/hooks/use-spaces.ts
Due: web, Web

fix(web): fix demo transactions blank page and premium gate for demo users
  apps/web/src/app/(dashboard)/transactions/page.tsx
  apps/web/src/app/__tests__/transactions-page.test.tsx
  apps/web/src/components/billing/PremiumGate.test.tsx
  apps/web/src/components/billing/PremiumGate.tsx
  apps/web/src/lib/api/client.test.ts
  apps/web/src/lib/api/client.ts
Due: web, Web

fix(auth): resolve SSO login empty dashboard race condition
  CHANGELOG.md
  apps/api/src/core/auth/__tests__/janua.strategy.spec.ts
  apps/api/src/core/auth/strategies/janua.strategy.ts
  apps/web/src/app/(dashboard)/dashboard/page.tsx
  apps/web/src/app/(dashboard)/layout.tsx
  apps/web/src/app/__tests__/dashboard-page.test.tsx
  apps/web/src/providers/JanuaAuthBridge.tsx
  docs/adr/004-janua-auth-integration.md
Due: api, web, API, Web

feat(web): add WCAG accessibility and mobile responsiveness to dashboard
  apps/web/src/app/(dashboard)/dashboard/page.tsx
  apps/web/src/app/(dashboard)/layout.tsx
  apps/web/src/app/__tests__/dashboard-page.test.tsx
  apps/web/src/components/forms/login-form.test.tsx
  apps/web/src/components/forms/login-form.tsx
  apps/web/src/components/forms/register-form.test.tsx
  apps/web/src/components/forms/register-form.tsx
  apps/web/src/components/layout/dashboard-header.test.tsx
  apps/web/src/components/layout/dashboard-header.tsx
  apps/web/src/components/layout/dashboard-nav.test.tsx
  apps/web/src/components/layout/dashboard-nav.tsx
  apps/web/src/components/layout/mobile-sidebar.tsx
  apps/web/src/components/layout/notification-dropdown.tsx
  apps/web/src/components/theme-toggle.tsx
  apps/web/src/styles/globals.css
  packages/shared/src/i18n/en/common.ts
  packages/shared/src/i18n/es/common.ts
  packages/shared/src/i18n/pt-BR/common.ts
  packages/ui/src/components/sheet.tsx
  packages/ui/src/components/skeleton.tsx
  packages/ui/src/index.ts
Due: web, shared, Web, Shared, UI

feat(billing): make community tier generous for self-hosted users
  apps/api/src/modules/billing/README.md
  apps/api/src/modules/billing/__tests__/billing.controller.spec.ts
  apps/api/src/modules/billing/__tests__/billing.service.spec.ts
  apps/api/src/modules/billing/__tests__/janua-billing.service.spec.ts
  apps/api/src/modules/billing/__tests__/payment-router.service.spec.ts
  apps/api/src/modules/billing/__tests__/usage-limit.guard.spec.ts
  apps/api/src/modules/billing/billing.service.ts
  apps/api/src/modules/billing/guards/provider-connection.guard.ts
  apps/api/src/modules/billing/janua-billing.service.ts
  apps/api/src/modules/billing/services/payment-router.service.ts
  apps/api/src/modules/documents/documents.controller.ts
  apps/api/src/modules/documents/documents.module.ts
  apps/api/src/modules/documents/documents.service.spec.ts
  apps/api/src/modules/documents/documents.service.ts
  apps/web/src/components/billing/PremiumUpsell.tsx
  apps/web/src/components/landing/pricing.tsx
  docs/market-research/pricing-tiers.md
  llms-full.txt
  packages/shared/src/i18n/en/landing.ts
  packages/shared/src/i18n/es/landing.ts
  packages/shared/src/i18n/pt-BR/landing.ts
Due: api, web, shared, API, Web, Shared

style: apply prettier formatting to api source files
  apps/api/src/core/auth/demo-data.builder.ts
  apps/api/src/core/interceptors/logging.interceptor.ts
  apps/api/src/modules/analytics/analytics.service.ts
  apps/api/src/modules/analytics/report.service.ts
Due: api, API

feat(growth): wire analytics into frontend + add lifecycle drip campaigns
  CHANGELOG.md
  apps/api/prisma/schema.prisma
  apps/api/src/modules/email/__tests__/drip-campaign.task.spec.ts
  apps/api/src/modules/email/__tests__/email.service.spec.ts
  apps/api/src/modules/email/email.module.ts
  apps/api/src/modules/email/email.service.ts
  apps/api/src/modules/email/tasks/drip-campaign.task.ts
  apps/api/src/modules/email/templates/drip-day-1-connect.hbs
  apps/api/src/modules/email/templates/drip-day-14-trial.hbs
  apps/api/src/modules/email/templates/drip-day-3-budget.hbs
  apps/api/src/modules/email/templates/drip-day-7-summary.hbs
  apps/api/src/modules/email/templates/drip-reengagement-day-14.hbs
  apps/api/src/modules/email/templates/drip-reengagement-day-7.hbs
  apps/api/src/modules/email/types/index.ts
  apps/web/src/app/(auth)/login/page.tsx
  apps/web/src/app/(auth)/register/page.tsx
  apps/web/src/app/(dashboard)/billing/success/page.tsx
  apps/web/src/app/(dashboard)/budgets/page.tsx
  apps/web/src/app/(dashboard)/dashboard/page.tsx
  apps/web/src/app/__tests__/budgets-page.test.tsx
  apps/web/src/app/__tests__/dashboard-page.test.tsx
  apps/web/src/app/__tests__/login-page.test.tsx
  apps/web/src/app/__tests__/register-page.test.tsx
  apps/web/src/components/onboarding/onboarding-provider.tsx
  apps/web/src/components/onboarding/steps/connect-accounts-step.tsx
  apps/web/src/components/providers/belvo-connect.tsx
  apps/web/src/components/providers/bitso-connect.tsx
  apps/web/src/components/providers/plaid-connect.tsx
  apps/web/src/components/transactions/category-correction-dialog.test.tsx
  apps/web/src/components/transactions/category-correction-dialog.tsx
  apps/web/src/lib/hooks/use-auth.ts
Due: api, web, API, Web

feat(auth): extract auth providers behind AuthProvider/MfaProvider interfaces (A1-A2)
  CHANGELOG.md
  apps/api/.env.example
  apps/api/src/config/configuration.ts
  apps/api/src/core/auth/__tests__/auth.controller.spec.ts
  apps/api/src/core/auth/__tests__/janua-auth.provider.spec.ts
  apps/api/src/core/auth/__tests__/janua-mfa.provider.spec.ts
  apps/api/src/core/auth/__tests__/local-auth.provider.spec.ts
  apps/api/src/core/auth/__tests__/local-mfa.provider.spec.ts
  apps/api/src/core/auth/auth.controller.ts
  apps/api/src/core/auth/auth.module.ts
  apps/api/src/core/auth/guards/jwt-auth.guard.ts
  apps/api/src/core/auth/providers/auth-provider.interface.ts
  apps/api/src/core/auth/providers/index.ts
  apps/api/src/core/auth/providers/janua-auth.provider.ts
  apps/api/src/core/auth/providers/janua-mfa.provider.ts
  apps/api/src/core/auth/providers/local-auth.provider.ts
  apps/api/src/core/auth/providers/local-mfa.provider.ts
  apps/api/src/modules/transaction-execution/__tests__/transaction-execution.service.spec.ts
  apps/api/src/modules/transaction-execution/transaction-execution.service.ts
  apps/web/.env.example
  apps/web/src/components/settings/security-settings.tsx
  apps/web/src/lib/api/auth.ts
Due: api, web, API, Web

fix(lint): add tsconfig path aliases to ESLint import/no-unresolved ignore list
  .serena/project.yml
  apps/api/.eslintrc.js
Due: none

fix(growth): wire rule_created event, add DripEvent migration, update docs
  CLAUDE.md
  apps/api/prisma/migrations/20260314000000_add_drip_events/migration.sql
  apps/web/src/components/budgets/rule-manager.tsx
  docs/IMPLEMENTATION_SUMMARY.md
  docs/LAUNCH_OPERATIONS.md
  llms-full.txt
  tools/agent-manifest.json
Due: web, Web

fix(ci): regenerate lockfile + fix admin test TS errors + ioredis override
  apps/admin/src/app/__tests__/analytics-page.test.tsx
  apps/admin/src/app/__tests__/audit-logs-page.test.tsx
  apps/admin/src/app/__tests__/billing-events-page.test.tsx
  apps/admin/src/app/__tests__/compliance-page.test.tsx
  apps/admin/src/app/__tests__/dashboard-page.test.tsx
  apps/admin/src/app/__tests__/deployment-page.test.tsx
  apps/admin/src/app/__tests__/feature-flags-page.test.tsx
  apps/admin/src/app/__tests__/providers-page.test.tsx
  apps/admin/src/app/__tests__/queues-page.test.tsx
  apps/admin/src/app/__tests__/system-health-page.test.tsx
  apps/admin/src/app/__tests__/users-page.test.tsx
  apps/admin/src/components/__tests__/admin-header.test.tsx
  apps/admin/src/components/__tests__/stats-card.test.tsx
  package.json
  pnpm-lock.yaml
Due: none

fix: resolve all TS errors, update husky hooks, fix lint
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
  apps/api/package.json
  apps/api/src/core/auth/providers/index.ts
  apps/api/src/modules/documents/documents.controller.ts
  apps/api/src/modules/email/tasks/drip-campaign.task.ts
  apps/api/src/types/express.d.ts
  apps/web/src/app/(dashboard)/billing/upgrade/page.tsx
  apps/web/src/app/(dashboard)/transactions/page.tsx
  apps/web/src/components/billing/trial-banner.tsx
  apps/web/src/components/landing/pricing.tsx
  apps/web/src/components/layout/notification-dropdown.tsx
  apps/web/src/components/onboarding/onboarding-provider.tsx
  apps/web/src/types/janua-react-sdk.d.ts
  package.json
  pnpm-lock.yaml
Due: api, web, API, Web

fix: disable max-lines for analytics.service.ts, fix lint-staged config
  .lintstagedrc.json
  apps/api/.eslintrc.js
Due: none

fix(ci,security): resolve lockfile sync, TS errors, and 19 npm audit vulnerabilities
  package.json
  pnpm-lock.yaml
Due: none

fix: resolve CI lockfile desync and 5 security alerts
  CHANGELOG.md
  SECURITY.md
  apps/api/src/core/auth/demo-data.builder.ts
  apps/api/src/modules/search/__tests__/natural-language.service.spec.ts
  apps/api/src/modules/search/search.controller.ts
  package.json
  packages/billing-sdk/.eslintrc.js
  packages/billing-sdk/src/client.spec.ts
  packages/billing-sdk/src/client.ts
  packages/billing-sdk/src/webhook.spec.ts
  packages/billing-sdk/src/webhook.ts
  pnpm-lock.yaml
Due: api, API

feat(analytics): migrate PostHog from Cloud to self-hosted analytics.enclii.dev
  apps/api/.env.example
  apps/api/src/config/configuration.ts
  apps/api/src/config/validation.ts
  apps/api/src/core/analytics/__tests__/posthog.service.spec.ts
  apps/api/src/core/analytics/posthog.service.ts
  apps/api/src/modules/analytics/posthog.service.spec.ts
  apps/api/src/modules/analytics/posthog.service.ts
  apps/api/test/setup.ts
  apps/mobile/.env.example
  apps/web/.env.example
  apps/web/next.config.js
  apps/web/src/hooks/useAnalytics.ts
  apps/web/src/lib/posthog.ts
  apps/web/src/providers/PostHogProvider.tsx
  docs/IMPLEMENTATION_SUMMARY.md
  docs/LAUNCH_OPERATIONS.md
  docs/architecture/IMPLEMENTATION_PROGRESS.md
  docs/guides/IMPLEMENTATION_ROADMAP.md
  docs/guides/POSTHOG_INTEGRATION.md
Due: api, web, API, Web

fix(analytics): update PostHog host from analytics.enclii.dev to analytics.madfam.io
  apps/api/.env.example
  apps/api/src/config/configuration.ts
  apps/api/src/config/validation.ts
  apps/api/src/core/analytics/__tests__/posthog.service.spec.ts
  apps/api/src/core/analytics/posthog.service.ts
  apps/api/src/modules/analytics/posthog.service.spec.ts
  apps/api/src/modules/analytics/posthog.service.ts
  apps/api/test/setup.ts
  apps/mobile/.env.example
  apps/web/.env.example
  apps/web/next.config.js
  apps/web/src/hooks/useAnalytics.ts
  apps/web/src/lib/posthog.ts
  apps/web/src/providers/PostHogProvider.tsx
  docs/IMPLEMENTATION_SUMMARY.md
  docs/LAUNCH_OPERATIONS.md
  docs/architecture/IMPLEMENTATION_PROGRESS.md
  docs/guides/IMPLEMENTATION_ROADMAP.md
  docs/guides/POSTHOG_INTEGRATION.md
Due: api, web, API, Web

style: fix import ordering in 9 API files
  apps/api/src/core/analytics/posthog.service.ts
  apps/api/src/core/auth/auth.controller.ts
  apps/api/src/core/auth/auth.module.ts
  apps/api/src/core/auth/demo-data.builder.ts
  apps/api/src/modules/documents/documents.controller.ts
  apps/api/src/modules/email/email.module.ts
  apps/api/src/modules/email/tasks/drip-campaign.task.ts
  apps/api/src/modules/search/search.controller.ts
  apps/api/src/modules/transaction-execution/transaction-execution.service.ts
Due: api, API

feat(auth): replace custom PKCE with @janua/react-sdk full integration
  .enclii.yml
  CLAUDE.md
  README.md
  SYSTEM_CONTEXT.md
  TECH_DEBT.md
  apps/web/.eslintrc.js
  apps/web/src/__mocks__/@janua/react-sdk.tsx
  apps/web/src/app/(auth)/forgot-password/page.tsx
  apps/web/src/app/(auth)/login/page.tsx
  apps/web/src/app/(auth)/register/page.tsx
  apps/web/src/app/(auth)/reset-password/page.tsx
  apps/web/src/app/__tests__/auth-callback-page.test.tsx
  apps/web/src/app/__tests__/forgot-password-page.test.tsx
  apps/web/src/app/__tests__/login-page.test.tsx
  apps/web/src/app/__tests__/register-page.test.tsx
  apps/web/src/app/__tests__/reset-password-page.test.tsx
  apps/web/src/app/api/auth/callback/[provider]/route.ts
  apps/web/src/app/auth/callback/page.tsx
  apps/web/src/components/layout/dashboard-header.test.tsx
  apps/web/src/components/layout/dashboard-header.tsx
  apps/web/src/components/settings/security-settings.tsx
  apps/web/src/lib/api/auth.ts
  apps/web/src/lib/hooks/use-auth.ts
  apps/web/src/lib/janua-oauth.ts
  apps/web/src/providers/JanuaAuthBridge.tsx
  apps/web/src/types/janua-react-sdk.d.ts
  apps/web/tsconfig.json
  docs/adr/004-janua-auth-integration.md
  infra/k8s/production/api-deployment.yaml
  llms-full.txt
  tools/agent-manifest.json
Due: web, Web

fix(migration): remove CONCURRENTLY from fulltext search indexes
  apps/api/prisma/migrations/20260315000001_add_fulltext_search/migration.sql
Due: none

fix(migration): remove CONCURRENTLY from fulltext search indexes (#259)
  apps/api/prisma/migrations/20260315000001_add_fulltext_search/migration.sql
Due: none

docs: add CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Due: none

fix(analytics): disable PostHog autocapture
  apps/web/src/lib/posthog.ts
Due: web, Web

feat: add category flags and hierarchy for LunchMoney feature parity
  CLAUDE.md
  apps/api/prisma/schema.prisma
  apps/api/scripts/migrate-lunchmoney.ts
  apps/api/src/modules/analytics/analytics-query.service.ts
  apps/api/src/modules/analytics/analytics.service.ts
  apps/api/src/modules/budgets/zero-based.service.spec.ts
  apps/api/src/modules/categories/categories.service.spec.ts
  apps/api/src/modules/categories/categories.service.ts
  apps/api/src/modules/categories/dto/create-category.dto.ts
  apps/api/src/modules/categories/dto/update-category.dto.ts
  apps/api/src/modules/transactions/dto/create-transaction.dto.ts
  apps/api/src/modules/transactions/dto/transactions-filter.dto.ts
  apps/api/src/modules/transactions/dto/update-transaction.dto.ts
  apps/api/src/modules/transactions/transactions.service.spec.ts
  apps/api/src/modules/transactions/transactions.service.ts
  apps/api/test/helpers/test-data-factory.ts
  apps/web/src/lib/api/categories.ts
  apps/web/src/lib/api/transactions.ts
  llms-full.txt
  packages/shared/src/types/transaction.types.ts
Due: api, web, shared, API, Web, Shared

fix: migration script Prisma 7 adapter + timezone + null safety
  apps/api/scripts/migrate-lunchmoney.ts
  apps/api/src/modules/migration/lunchmoney/lunchmoney-client.ts
Due: api, API

Path conditions:
  api: any of: apps/api/src, but not: **/*.spec.ts, **/*.test.ts, **/__tests__/**, **/test/**, **/*.d.ts, **/*.config.ts, **/*.config.js, **/dist/**, **/coverage/**, **/node_modules/**, **/.next/**, **/prisma/migrations/**, **/prisma/seed.ts
  web: any of: apps/web/src, but not: **/*.spec.ts, **/*.test.ts, **/__tests__/**, **/test/**, **/*.d.ts, **/*.config.ts, **/*.config.js, **/dist/**, **/coverage/**, **/node_modules/**, **/.next/**, **/prisma/migrations/**, **/prisma/seed.ts
  shared: any of: packages/shared/src, but not: **/*.spec.ts, **/*.test.ts, **/__tests__/**, **/test/**, **/*.d.ts, **/*.config.ts, **/*.config.js, **/dist/**, **/coverage/**, **/node_modules/**, **/.next/**, **/prisma/migrations/**, **/prisma/seed.ts
  API: any of: apps/api/src/**, but not: **/*.spec.ts, **/*.test.ts, **/__tests__/**, **/test/**, **/*.d.ts, **/*.config.ts, **/*.config.js, **/dist/**, **/coverage/**, **/node_modules/**, **/.next/**, **/prisma/migrations/**, **/prisma/seed.ts
  Web: any of: apps/web/src/**, but not: **/*.spec.ts, **/*.test.ts, **/__tests__/**, **/test/**, **/*.d.ts, **/*.config.ts, **/*.config.js, **/dist/**, **/coverage/**, **/node_modules/**, **/.next/**, **/prisma/migrations/**, **/prisma/seed.ts
  Shared: any of: packages/shared/src/**, but not: **/*.spec.ts, **/*.test.ts, **/__tests__/**, **/test/**, **/*.d.ts, **/*.config.ts, **/*.config.js, **/dist/**, **/coverage/**, **/node_modules/**, **/.next/**, **/prisma/migrations/**, **/prisma/seed.ts
  UI: any of: packages/ui/src/**, but not: **/*.spec.ts, **/*.test.ts, **/__tests__/**, **/test/**, **/*.d.ts, **/*.config.ts, **/*.config.js, **/dist/**, **/coverage/**, **/node_modules/**, **/.next/**, **/prisma/migrations/**, **/prisma/seed.ts
