Repository madfam-io/dhanam: changes, and which Codecov flags are due for each by the changed paths.
All: api, web, shared, API, Web, Shared, UI

fix(sso): wrap useSearchParams in Suspense boundary
  apps/web/src/app/auth/callback/page.tsx
Due: web, Web

docs,security: add production status and fix vulnerabilities
  README.md
  package.json
  pnpm-lock.yaml
Due: none

docs: correct Forge node spec to CPX11
  README.md
Due: none

chore: upgrade to NestJS v11 and flatten migrations
  apps/api/package.json
  apps/api/prisma/migrations/000_error_logs_table/migration.sql
  apps/api/prisma/migrations/000_init/migration.sql
  apps/api/prisma/migrations/20250824063952_init/migration.sql
  apps/api/prisma/migrations/20251119000001_add_subscription_infrastructure/migration.sql
  apps/api/prisma/migrations/20251119000002_add_goal_tracking/migration.sql
  apps/api/prisma/migrations/20251119000003_add_household_models/migration.sql
  apps/api/prisma/migrations/20251119000004_add_estate_planning_models/migration.sql
  apps/api/prisma/migrations/20251125000001_add_janua_billing_fields/migration.sql
  package.json
  pnpm-lock.yaml
Due: none

fix: exclude health probes from rate limiting
  apps/api/src/main.ts
Due: api, API

fix(ci): update pnpm to v9 and fix setup-node action version
  .github/workflows/check-migrations.yml
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/lint.yml
  .github/workflows/test-coverage.yml
Due: none

fix(api/tests): add missing mock providers and skip DB-dependent tests
  apps/api/src/modules/accounts/accounts.service.spec.ts
  apps/api/src/modules/billing/__tests__/billing.controller.spec.ts
  apps/api/src/modules/billing/__tests__/billing.service.spec.ts
  apps/api/src/modules/budgets/__tests__/budgets.service.spec.ts
  apps/api/src/modules/transactions/__tests__/transactions.service.spec.ts
Due: none

fix(api/tests): resolve all test failures across 19 test files
  apps/api/src/core/auth/__tests__/auth.service.spec.ts
  apps/api/src/core/crypto/__tests__/kms.service.spec.ts
  apps/api/src/modules/accounts/accounts.service.spec.ts
  apps/api/src/modules/admin/admin.service.spec.ts
  apps/api/src/modules/billing/__tests__/billing.service.spec.ts
  apps/api/src/modules/categories/categories.service.spec.ts
  apps/api/src/modules/categories/rules.service.spec.ts
  apps/api/src/modules/esg/enhanced-esg.service.spec.ts
  apps/api/src/modules/fx-rates/fx-rates.service.spec.ts
  apps/api/src/modules/jobs/queue.service.spec.ts
  apps/api/src/modules/onboarding/onboarding.service.spec.ts
  apps/api/src/modules/preferences/preferences.service.spec.ts
  apps/api/src/modules/providers/belvo/belvo.service.spec.ts
  apps/api/src/modules/providers/bitso/__tests__/bitso.webhook.spec.ts
  apps/api/src/modules/providers/bitso/bitso.service.spec.ts
  apps/api/src/modules/providers/orchestrator/provider-orchestrator.service.spec.ts
  apps/api/src/modules/providers/plaid/__tests__/plaid.webhook.spec.ts
  apps/api/src/modules/providers/plaid/plaid.service.spec.ts
  apps/api/src/modules/transactions/transaction-splits.service.spec.ts
Due: none

fix(web): redirect landing page auth links to app.dhan.am
  apps/web/src/app/page.tsx
Due: web, Web

fix(web): remove unused router import causing build failure
  apps/web/src/app/page.tsx
Due: web, Web

fix(web): redirect app.dhan.am root to /login instead of landing page
  apps/web/src/app/page.tsx
Due: web, Web

fix: Add /v1 prefix to API URL for frontend apps
  apps/web/.env.production
  infra/k8s/production/admin-deployment.yaml
  infra/k8s/production/web-deployment.yaml
Due: none

ci: Add web app deployment workflow for K8s
  .github/workflows/deploy-web-k8s.yml
Due: none

fix(web): add all NEXT_PUBLIC env vars to next.config.js
  apps/web/next.config.js
Due: none

fix(enclii): correct env var names for Janua SSO
  .enclii.yml
Due: none

fix(enclii): correct Dockerfile path and add build args
  .enclii.yml
Due: none

fix(web): add /auth/callback to public paths in middleware
  apps/web/src/middleware.ts
Due: web, Web

fix(auth): Add cookie marker for middleware auth checking
  apps/web/src/app/auth/callback/page.tsx
  apps/web/src/stores/auth.ts
Due: web, Web

feat(i18n): Add English auth translations and SSO keys
  CLAUDE.md
  packages/shared/src/i18n/en/auth.ts
  packages/shared/src/i18n/en/index.ts
  packages/shared/src/i18n/es/auth.ts
  packages/shared/src/i18n/index.ts
Due: shared, Shared

fix(ci): add attestations permissions and GHCR_PAT fallback for registry auth
  .github/workflows/deploy-web-k8s.yml
Due: none

chore: add Serena MCP project configuration and memories
  .serena/.gitignore
  .serena/memories/dhanam-infrastructure-dependencies.md
  .serena/project.yml
Due: none

fix(web): add NEXT_PUBLIC_JANUA_API_URL for SSO button visibility
  SYSTEM_CONTEXT.md
  infra/k8s/production/web-deployment.yaml
  tools/agent-manifest.json
Due: none

fix(web): use production API URL as default fallback
  apps/web/next.config.js
  apps/web/src/lib/api/client.ts
Due: web, Web

fix(web): Use production API URL as default fallback (#158)
  SYSTEM_CONTEXT.md
  apps/web/next.config.js
  apps/web/src/lib/api/client.ts
  infra/k8s/production/web-deployment.yaml
  tools/agent-manifest.json
Due: web, Web

fix(web): resolve dashboard hydration mismatch and i18n namespace bug
  apps/web/src/app/(dashboard)/layout.tsx
  packages/shared/src/hooks/useTranslation.ts
Due: web, shared, Web, Shared

fix(web): resolve dashboard hydration mismatch and i18n namespace bug (#159)
  apps/web/src/app/(dashboard)/layout.tsx
  packages/shared/src/hooks/useTranslation.ts
Due: web, shared, Web, Shared

fix(web): send empty object for POST/PATCH/PUT without body
  apps/web/src/lib/api/client.ts
Due: web, Web

fix(web): send empty object for POST/PATCH/PUT without body (#160)
  apps/web/src/lib/api/client.ts
Due: web, Web

fix(web): resolve Zustand hydration race condition
  apps/web/src/app/(dashboard)/layout.tsx
  apps/web/src/lib/hooks/use-auth.ts
Due: web, Web

fix(web): resolve Zustand hydration race condition (#161)
  apps/web/src/app/(dashboard)/layout.tsx
  apps/web/src/lib/hooks/use-auth.ts
Due: web, Web

fix(web): resolve CI lint and test failures
  apps/web/src/middleware.ts
  apps/web/test/integration/landing-demo-flow.test.tsx
Due: web, Web

fix(web): fetch user profile from Janua after SSO login
  apps/web/src/app/(dashboard)/layout.tsx
  apps/web/src/lib/hooks/use-auth.ts
Due: web, Web

debug: add console logging to trace refreshUser call flow
  apps/web/src/app/(dashboard)/layout.tsx
  apps/web/src/lib/hooks/use-auth.ts
Due: web, Web

fix(web): fix auth race condition in JanuaProvider and AuthBridge
  apps/web/src/lib/janua-sdk-stub.tsx
  apps/web/src/providers/JanuaAuthBridge.tsx
Due: web, Web

fix(web): resolve infinite skeleton by fixing Zustand hydration race condition
  apps/web/src/lib/hooks/use-auth.ts
  apps/web/src/providers/JanuaAuthBridge.tsx
Due: web, Web

fix(infra): correct Enclii repository URL to madfam-org
  .enclii.yml
Due: none

fix(infra): stabilize Enclii deployment configuration
  .enclii.yml
  .github/workflows/deploy-enclii.yml
  .github/workflows/deploy-web-k8s.yml
  infra/k8s/production/web-deployment.yaml
  scripts/enclii-deploy.sh
Due: none

feat(api): increase deployment confidence with health checks, graceful shutdown, and monitoring
  .enclii.yml
  .github/workflows/ci.yml
  .github/workflows/deploy-enclii.yml
  apps/api/jest.config.js
  apps/api/package.json
  apps/api/src/core/analytics/__tests__/posthog.service.spec.ts
  apps/api/src/core/auth/__tests__/guest-auth.service.spec.ts
  apps/api/src/core/auth/guards/__tests__/roles.guard.spec.ts
  apps/api/src/core/filters/__tests__/global-exception.filter.spec.ts
  apps/api/src/core/monitoring/__tests__/error-tracking.service.spec.ts
  apps/api/src/core/monitoring/deployment-monitor.service.ts
  apps/api/src/core/monitoring/health.service.ts
  apps/api/src/core/monitoring/monitoring.controller.ts
  apps/api/src/core/monitoring/monitoring.module.ts
  apps/api/src/main.ts
  apps/api/src/modules/admin/guards/__tests__/admin.guard.spec.ts
  apps/api/src/modules/jobs/queue.service.ts
  apps/api/src/modules/spaces/guards/__tests__/space.guard.spec.ts
  apps/api/test/e2e/categories.e2e-spec.ts
  apps/api/test/e2e/transactions.e2e-spec.ts
  apps/api/test/smoke/jest-smoke.json
  apps/api/test/smoke/smoke.spec.ts
Due: api, API

Path conditions:
  api: any of: apps/api/src, but not: **/*.spec.ts, **/*.test.ts, **/__tests__/**, **/test/**, **/*.d.ts, **/*.config.ts, **/*.config.js, **/dist/**, **/coverage/**, **/node_modules/**, **/.next/**, **/prisma/migrations/**, **/prisma/seed.ts
  web: any of: apps/web/src, but not: **/*.spec.ts, **/*.test.ts, **/__tests__/**, **/test/**, **/*.d.ts, **/*.config.ts, **/*.config.js, **/dist/**, **/coverage/**, **/node_modules/**, **/.next/**, **/prisma/migrations/**, **/prisma/seed.ts
  shared: any of: packages/shared/src, but not: **/*.spec.ts, **/*.test.ts, **/__tests__/**, **/test/**, **/*.d.ts, **/*.config.ts, **/*.config.js, **/dist/**, **/coverage/**, **/node_modules/**, **/.next/**, **/prisma/migrations/**, **/prisma/seed.ts
  API: any of: apps/api/src/**, but not: **/*.spec.ts, **/*.test.ts, **/__tests__/**, **/test/**, **/*.d.ts, **/*.config.ts, **/*.config.js, **/dist/**, **/coverage/**, **/node_modules/**, **/.next/**, **/prisma/migrations/**, **/prisma/seed.ts
  Web: any of: apps/web/src/**, but not: **/*.spec.ts, **/*.test.ts, **/__tests__/**, **/test/**, **/*.d.ts, **/*.config.ts, **/*.config.js, **/dist/**, **/coverage/**, **/node_modules/**, **/.next/**, **/prisma/migrations/**, **/prisma/seed.ts
  Shared: any of: packages/shared/src/**, but not: **/*.spec.ts, **/*.test.ts, **/__tests__/**, **/test/**, **/*.d.ts, **/*.config.ts, **/*.config.js, **/dist/**, **/coverage/**, **/node_modules/**, **/.next/**, **/prisma/migrations/**, **/prisma/seed.ts
  UI: any of: packages/ui/src/**, but not: **/*.spec.ts, **/*.test.ts, **/__tests__/**, **/test/**, **/*.d.ts, **/*.config.ts, **/*.config.js, **/dist/**, **/coverage/**, **/node_modules/**, **/.next/**, **/prisma/migrations/**, **/prisma/seed.ts
