Repository madfam-io/dhanam: changes, and which Codecov flags are due for each by the changed paths.
All: api, web, shared, API, Web, Shared, UI

codecov.yml:

# Codecov Configuration
# https://docs.codecov.com/docs/codecov-yaml

# Validation: https://docs.codecov.com/docs/codecov-yaml#validate-your-repository-yaml
# Command: curl -X POST --data-binary @codecov.yml https://codecov.io/validate

coverage:
  precision: 2
  round: down
  range: "60...100" # Lowered from 70...100

  status:
    project:
      default:
        target: 70% # Lowered from 80% to match reality
        threshold: 2% # Increased flexibility
        base: auto
        if_ci_failed: error
        only_pulls: true # Only enforce on PRs, not main pushes

    patch:
      default:
        target: 80% # KEEP HIGH - enforces quality on NEW code
        threshold: 5%
        base: auto
        if_not_found: success # Don't fail if no coverage changes

    changes:
      default:
        target: 75% # Lowered from 80%
        threshold: 2%

# Comments on pull requests
comment:
  layout: "header, diff, flags, components, footer"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

# Component coverage (per app/package)
component_management:
  default_rules:
    statuses:
      - type: project
        target: 70% # Lowered from 80%
      - type: patch
        target: 80% # Keep new code quality high
  individual_components:
    - component_id: api
      name: API
      paths:
        - apps/api/src/**
    - component_id: web
      name: Web
      paths:
        - apps/web/src/**
    - component_id: shared
      name: Shared
      paths:
        - packages/shared/src/**
    - component_id: ui
      name: UI
      paths:
        - packages/ui/src/**

# Ignore paths
ignore:
  - "**/*.spec.ts"
  - "**/*.test.ts"
  - "**/__tests__/**"
  - "**/test/**"
  - "**/*.d.ts"
  - "**/*.config.ts"
  - "**/*.config.js"
  - "**/dist/**"
  - "**/coverage/**"
  - "**/node_modules/**"
  - "**/.next/**"
  - "**/prisma/migrations/**"
  - "**/prisma/seed.ts"

# Flags for different test types
flags:
  api:
    paths:
      - apps/api/src
    carryforward: true

  web:
    paths:
      - apps/web/src
    carryforward: true

  shared:
    paths:
      - packages/shared/src
    carryforward: true

# GitHub status checks
github_checks:
  annotations: true

# Slack/GitHub notifications (optional)
# slack:
#   url: "secret:SLACK_WEBHOOK_URL"

feat(web): overhaul landing page — expand feature coverage, fix copy, extract components
  apps/web/src/app/page.tsx
  apps/web/src/components/landing/features-grid.tsx
  apps/web/src/components/landing/final-cta.tsx
  apps/web/src/components/landing/footer.tsx
  apps/web/src/components/landing/hero.tsx
  apps/web/src/components/landing/how-it-works.tsx
  apps/web/src/components/landing/pricing.tsx
  apps/web/src/components/landing/problem-solution.tsx
  apps/web/src/components/landing/social-proof.tsx
Due: web, Web

feat: fix 5 seed data coverage gaps — collectibles, documents, reports, cashflow
  apps/api/prisma/schema.prisma
  apps/api/prisma/seed-enhanced.ts
  apps/api/prisma/seed/features.ts
  apps/api/prisma/seed/metadata.ts
Due: none

fix(security): remove sneaks-api, implement KicksDB adapter — close 6 CVEs
  apps/api/package.json
  apps/api/src/modules/collectibles-valuation/adapters/kicksdb.adapter.spec.ts
  apps/api/src/modules/collectibles-valuation/adapters/kicksdb.adapter.ts
  apps/api/src/modules/collectibles-valuation/adapters/sneaks.adapter.spec.ts
  apps/api/src/modules/collectibles-valuation/adapters/sneaks.adapter.ts
  apps/api/src/modules/collectibles-valuation/collectibles-valuation.module.ts
  apps/api/src/modules/collectibles-valuation/collectibles-valuation.service.spec.ts
  apps/api/src/modules/collectibles-valuation/collectibles-valuation.service.ts
  apps/api/src/modules/manual-assets/manual-assets.controller.ts
  pnpm-lock.yaml
Due: api, API

feat: add persona-based demo suite, SEO for dhan.am, and full dashboard preview
  .enclii.yml
  apps/api/prisma/seed/advanced.ts
  apps/api/prisma/seed/transactions.ts
  apps/api/prisma/seed/users.ts
  apps/api/src/core/auth/auth.controller.ts
  apps/api/src/core/auth/auth.module.ts
  apps/api/src/core/auth/demo-auth.service.ts
  apps/api/src/core/auth/demo-data.builder.ts
  apps/api/src/core/auth/guest-auth.service.ts
  apps/web/src/app/demo/page.tsx
  apps/web/src/app/layout.tsx
  apps/web/src/app/robots.ts
  apps/web/src/app/sitemap.ts
  apps/web/src/components/demo/demo-mode-banner.tsx
  apps/web/src/components/demo/persona-switcher.tsx
  apps/web/src/components/layout/dashboard-header.tsx
  apps/web/src/lib/api/auth.ts
  apps/web/src/middleware.ts
  infra/k8s/production/cloudflare-routes.yaml
  packages/shared/src/i18n/en/common.ts
  packages/shared/src/i18n/es/common.ts
Due: api, web, shared, API, Web, Shared

feat(demo): phase 3 — notifications, rules, tour, insights, and achievement system
  apps/api/src/core/auth/demo-data.builder.ts
  apps/api/src/core/auth/demo-data/notifications.builder.ts
  apps/api/src/core/auth/demo-data/rules.builder.ts
  apps/web/src/app/(dashboard)/analytics/page.tsx
  apps/web/src/app/(dashboard)/dashboard/page.tsx
  apps/web/src/app/(dashboard)/gaming/page.tsx
  apps/web/src/app/(dashboard)/notifications/page.tsx
  apps/web/src/components/demo/demo-tour.tsx
  apps/web/src/components/insights/insight-cards.tsx
  apps/web/src/components/insights/savings-streak.tsx
  apps/web/src/components/layout/dashboard-header.tsx
  apps/web/src/components/layout/notification-dropdown.tsx
Due: api, web, API, Web

feat(demo): add previously untracked demo-data builder modules
  apps/api/src/core/auth/demo-data/analytics.builder.ts
  apps/api/src/core/auth/demo-data/assets.builder.ts
  apps/api/src/core/auth/demo-data/cashflow.builder.ts
  apps/api/src/core/auth/demo-data/connections.builder.ts
  apps/api/src/core/auth/demo-data/esg.builder.ts
  apps/api/src/core/auth/demo-data/estate.builder.ts
  apps/api/src/core/auth/demo-data/goals.builder.ts
  apps/api/src/core/auth/demo-data/household.builder.ts
  apps/api/src/core/auth/demo-data/recurring.builder.ts
  apps/api/src/core/auth/demo-data/reports.builder.ts
  apps/api/src/core/auth/demo-data/simulations.builder.ts
  apps/api/src/core/auth/demo-data/templates.ts
  apps/api/src/core/auth/demo-data/transactions.builder.ts
  apps/api/src/core/auth/demo-data/types.ts
  apps/api/src/core/auth/demo-data/zero-based.builder.ts
Due: api, API

fix(security): resolve 8 dependency vulnerability alerts
  apps/web/next-env.d.ts
  apps/web/package.json
  package.json
  pnpm-lock.yaml
Due: none

feat(demo): enhance demo experience with 13 UX improvements across 6 phases
  apps/web/package.json
  apps/web/src/app/(dashboard)/dashboard/page.tsx
  apps/web/src/app/(dashboard)/error.tsx
  apps/web/src/app/(dashboard)/layout.tsx
  apps/web/src/app/(dashboard)/transactions/page.tsx
  apps/web/src/app/global-error.tsx
  apps/web/src/components/demo/demo-tour.tsx
  apps/web/src/components/insights/insight-cards.tsx
  apps/web/src/components/insights/savings-streak.tsx
  apps/web/src/components/keyboard-shortcuts.tsx
  apps/web/src/components/layout/dashboard-header.tsx
  apps/web/src/components/layout/dashboard-nav.tsx
  apps/web/src/components/motion/animated-number.tsx
  apps/web/src/components/motion/page-transition.tsx
  apps/web/src/components/search/search-command.tsx
  apps/web/src/components/theme-toggle.tsx
  apps/web/src/components/transactions/merchant-icon.tsx
  apps/web/src/components/transactions/transaction-filters.tsx
  apps/web/src/lib/api/transactions.ts
  apps/web/src/lib/celebrations.ts
  pnpm-lock.yaml
Due: web, Web

feat(landing): full audit and transformation of landing page
  apps/api/src/core/auth/demo-data.builder.ts
  apps/api/src/core/auth/demo-data/analytics.builder.ts
  apps/api/src/core/auth/demo-data/assets.builder.ts
  apps/api/src/core/auth/demo-data/connections.builder.ts
  apps/api/src/core/auth/demo-data/estate.builder.ts
  apps/api/src/core/auth/demo-data/goals.builder.ts
  apps/api/src/core/auth/demo-data/household.builder.ts
  apps/api/src/core/auth/demo-data/notifications.builder.ts
  apps/api/src/core/auth/demo-data/recurring.builder.ts
  apps/api/src/core/auth/demo-data/rules.builder.ts
  apps/api/src/core/auth/demo-data/transactions.builder.ts
  apps/api/src/core/auth/demo-data/zero-based.builder.ts
  apps/web/src/app/[locale]/landing/page.tsx
  apps/web/src/app/demo/page.tsx
  apps/web/src/components/landing/features-grid.tsx
  apps/web/src/components/landing/final-cta.tsx
  apps/web/src/components/landing/footer.tsx
  apps/web/src/components/landing/hero.tsx
  apps/web/src/components/landing/how-it-works.tsx
  apps/web/src/components/landing/persona-cards.tsx
  apps/web/src/components/landing/platform-depth.tsx
  apps/web/src/components/landing/pricing.tsx
  apps/web/src/components/landing/problem-solution.tsx
  apps/web/src/components/landing/security-trust.tsx
  apps/web/src/components/landing/social-proof.tsx
  packages/shared/src/i18n/en/landing.ts
  packages/shared/src/i18n/es/landing.ts
Due: api, web, shared, API, Web, Shared

fix(db): use snake_case column name in subscription tier migration
  apps/api/prisma/migrations/20250130000000_expand_subscription_tiers/migration.sql
Due: none

fix(db): split enum migration to avoid PG transaction constraint
  apps/api/prisma/migrations/20250130000000_expand_subscription_tiers/migration.sql
  apps/api/prisma/migrations/20250130000001_migrate_subscription_tier_data/migration.sql
Due: none

fix(mobile): update subscription tier references from premium to pro
  apps/mobile/app/(tabs)/more/billing.tsx
  apps/mobile/app/(tabs)/more/projections.tsx
  apps/mobile/app/(tabs)/more/retirement.tsx
  apps/mobile/app/(tabs)/more/scenarios.tsx
  apps/mobile/src/services/api.ts
Due: none

fix(ci): resolve 3 failing CI workflows on main
  apps/api/prisma/migrations/20250201000000_add_estate_planning_income_goals_pe_reports/migration.sql
  apps/api/src/core/auth/__tests__/guest-auth.service.spec.ts
  apps/web/test/integration/landing-demo-flow.test.tsx
Due: none

fix(ci): resolve all pre-existing CI test failures
  apps/api/jest.config.js
  apps/api/test/jest-e2e.json
  apps/web/src/components/demo/demo-mode-banner.test.tsx
  apps/web/src/components/forms/register-form.test.tsx
  apps/web/src/components/layout/dashboard-header.test.tsx
  apps/web/src/components/layout/dashboard-nav.test.tsx
Due: web, Web

fix(ci): add uuid transform and align coverage thresholds with CI
  apps/api/jest.config.js
  apps/api/test/jest-e2e.json
Due: none

fix(ci): resolve throttler type error and add schema migration
  apps/api/prisma/migrations/20250202000000_soc2_soft_delete_retention/migration.sql
  apps/api/src/core/security/rate-limiting.module.ts
Due: api, API

fix(ci): use ThrottlerStorage interface instead of class for Redis storage
  apps/api/src/core/security/rate-limiting.module.ts
Due: api, API

fix(ci): update tests for SOC 2 changes (mocks, soft delete, throttler type)
  apps/api/src/core/auth/__tests__/auth.service.spec.ts
  apps/api/src/core/auth/guards/__tests__/roles.guard.spec.ts
  apps/api/src/core/security/rate-limiting.module.ts
  apps/api/src/modules/users/__tests__/users.service.spec.ts
Due: api, API

fix(ci): resolve type error in api client and update r2 upload tests
  apps/api/src/modules/storage/r2.service.spec.ts
  apps/web/src/lib/api/client.ts
Due: web, Web

fix(ci): update r2 upload tests with correct magic bytes and MIME types
  apps/api/src/modules/storage/r2.service.spec.ts
Due: none

fix(ci): lower coverage thresholds to account for new SOC 2 modules
  apps/api/jest.config.js
Due: none

fix: resolve E2E test failures and close remaining SOC 2 security gaps
  apps/api/package.json
  apps/api/src/core/monitoring/monitoring.controller.ts
  apps/api/src/core/utils/webhook.util.ts
  apps/api/src/main.ts
  apps/api/src/modules/providers/belvo/belvo.module.ts
  apps/api/src/modules/providers/bitso/bitso.module.ts
  apps/api/src/modules/providers/plaid/plaid.module.ts
  apps/web/src/providers/PostHogProvider.tsx
  pnpm-lock.yaml
Due: api, web, API, Web

fix(security): resolve all 15 CodeQL code scanning alerts
  apps/api/src/core/auth/auth.service.ts
  apps/api/src/core/auth/demo-data.builder.ts
  apps/api/src/core/auth/demo-data/transactions.builder.ts
  apps/api/src/core/monitoring/monitoring.controller.ts
  apps/api/src/core/security/rate-limiting.module.ts
  apps/api/src/core/utils/webhook.util.ts
  apps/api/src/main.ts
  apps/api/src/modules/esg/dto/index.ts
  apps/api/src/modules/esg/dto/symbols.dto.ts
  apps/api/src/modules/esg/esg.controller.ts
  apps/api/src/modules/providers/belvo/belvo.module.ts
  apps/api/src/modules/providers/blockchain/blockchain.service.ts
  apps/api/src/modules/search/search.controller.ts
  packages/esg/src/providers/dhanam-provider.ts
  packages/esg/src/services/esg-manager.ts
  packages/shared/src/test-utils.ts
Due: api, shared, API, Shared

feat(billing): add public checkout endpoint, webhook handler, and Janua role dispatch
  apps/api/src/modules/billing/__tests__/billing.controller.spec.ts
  apps/api/src/modules/billing/__tests__/billing.service.spec.ts
  apps/api/src/modules/billing/billing.controller.ts
  apps/api/src/modules/billing/billing.service.ts
  apps/api/src/modules/billing/dto/checkout-query.dto.ts
  apps/api/src/modules/billing/dto/index.ts
  apps/api/src/modules/billing/stripe.service.ts
Due: api, API

fix(infra): harden deployments with securityContext, bot identity, and consistent imagePullSecrets
  .github/workflows/deploy-enclii.yml
  .github/workflows/deploy-k8s.yml
  .github/workflows/deploy-web-k8s.yml
  apps/api/Dockerfile
  infra/k8s/production/admin-deployment.yaml
  infra/k8s/production/api-deployment.yaml
Due: none

feat(security): add seccompProfile to all deployment security contexts
  infra/k8s/production/admin-deployment.yaml
  infra/k8s/production/api-deployment.yaml
  infra/k8s/production/web-deployment.yaml
Due: none

fix(k8s): complete security and env config for all deployments
  infra/k8s/production/admin-deployment.yaml
  infra/k8s/production/api-deployment.yaml
  infra/k8s/production/web-deployment.yaml
Due: none

fix(k8s): replace :latest with :main tag for Kyverno compliance
  infra/k8s/production/admin-deployment.yaml
  infra/k8s/production/api-deployment.yaml
  infra/k8s/production/web-deployment.yaml
Due: none

build: replace :latest image tags with :main in CI workflows
  .github/workflows/deploy-enclii.yml
  .github/workflows/deploy-k8s.yml
  .github/workflows/deploy-web-k8s.yml
Due: none

fix(infra): increase dhanam-api resources and add startup probe
  infra/k8s/production/api-deployment.yaml
Due: none

fix(redis): use REDIS_URL env var for all Redis connections
  apps/api/src/core/auth/session.service.ts
  apps/api/src/core/redis/redis.service.ts
Due: api, API

fix(docker): add DATABASE_URL for Prisma postinstall during deps stage
  apps/api/Dockerfile
Due: none

fix(docker): copy prisma schema in deps stage for postinstall
  apps/api/Dockerfile
Due: none

fix(billing): add type assertions for Prisma enums
  apps/api/src/modules/billing/billing.service.ts
Due: api, API

fix(ci): add DATABASE_URL to pnpm install steps for Prisma postinstall
  .github/workflows/ci.yml
  .github/workflows/lint.yml
  .github/workflows/test-coverage.yml
Due: none

fix(ci): add Prisma generate step before ESLint
  .github/workflows/lint.yml
Due: none

fix(eslint): ignore @prisma/client/runtime in import/no-unresolved
  apps/api/.eslintrc.js
Due: none
