Repository madfam-io/dhanam: changes, and which Codecov flags are due for each by the changed paths.
All: api, web, shared, API, Web, Shared, UI

codecov.yml:

# Codecov Configuration
# https://docs.codecov.com/docs/codecov-yaml

# Validation: https://docs.codecov.com/docs/codecov-yaml#validate-your-repository-yaml
# Command: curl -X POST --data-binary @codecov.yml https://codecov.io/validate

coverage:
  precision: 2
  round: down
  range: "60...100" # Lowered from 70...100

  status:
    project:
      default:
        target: 70% # Lowered from 80% to match reality
        threshold: 2% # Increased flexibility
        base: auto
        if_ci_failed: error
        only_pulls: true # Only enforce on PRs, not main pushes

    patch:
      default:
        target: 80% # KEEP HIGH - enforces quality on NEW code
        threshold: 5%
        base: auto
        if_not_found: success # Don't fail if no coverage changes

    changes:
      default:
        target: 75% # Lowered from 80%
        threshold: 2%

# Comments on pull requests
comment:
  layout: "header, diff, flags, components, footer"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

# Component coverage (per app/package)
component_management:
  default_rules:
    statuses:
      - type: project
        target: 70% # Lowered from 80%
      - type: patch
        target: 80% # Keep new code quality high
  individual_components:
    - component_id: api
      name: API
      paths:
        - apps/api/src/**
    - component_id: web
      name: Web
      paths:
        - apps/web/src/**
    - component_id: shared
      name: Shared
      paths:
        - packages/shared/src/**
    - component_id: ui
      name: UI
      paths:
        - packages/ui/src/**

# Ignore paths
ignore:
  - "**/*.spec.ts"
  - "**/*.test.ts"
  - "**/__tests__/**"
  - "**/test/**"
  - "**/*.d.ts"
  - "**/*.config.ts"
  - "**/*.config.js"
  - "**/dist/**"
  - "**/coverage/**"
  - "**/node_modules/**"
  - "**/.next/**"
  - "**/prisma/migrations/**"
  - "**/prisma/seed.ts"

# Flags for different test types
flags:
  api:
    paths:
      - apps/api/src
    carryforward: true

  web:
    paths:
      - apps/web/src
    carryforward: true

  shared:
    paths:
      - packages/shared/src
    carryforward: true

# GitHub status checks
github_checks:
  annotations: true

# Slack/GitHub notifications (optional)
# slack:
#   url: "secret:SLACK_WEBHOOK_URL"

test(api): raise test coverage to 90%+ on all metrics (98.64% stmts, 90.15% branches)
  apps/api/jest.config.js
  apps/api/src/core/auth/__tests__/auth.service.spec.ts
  apps/api/src/core/auth/__tests__/session.service.spec.ts
  apps/api/src/core/auth/__tests__/totp.service.spec.ts
  apps/api/src/core/auth/auth.module.ts
  apps/api/src/modules/analytics/dto/create-saved-report.dto.ts
  apps/api/src/modules/analytics/dto/update-saved-report.dto.ts
  apps/api/src/modules/analytics/report-archive.service.spec.ts
  apps/api/src/modules/analytics/report-archive.service.ts
  apps/api/src/modules/analytics/report-collaboration.service.spec.ts
  apps/api/src/modules/analytics/report-collaboration.service.ts
  apps/api/src/modules/analytics/report-share-token.service.spec.ts
  apps/api/src/modules/analytics/report-share-token.service.ts
  apps/api/src/modules/analytics/report-sharing.controller.ts
  apps/api/src/modules/analytics/reports.controller.ts
  apps/api/src/modules/analytics/saved-report.service.spec.ts
  apps/api/src/modules/analytics/saved-report.service.ts
  apps/api/src/modules/analytics/saved-reports.controller.ts
  apps/api/src/modules/categories/categories.module.ts
  apps/api/src/modules/categories/dto/rule.dto.ts
  apps/api/src/modules/documents/csv-preview.service.spec.ts
  apps/api/src/modules/documents/documents.service.spec.ts
  apps/api/src/modules/email/email.service.ts
  apps/api/src/modules/gaming/adapters/axie.adapter.spec.ts
  apps/api/src/modules/gaming/adapters/enjin.adapter.spec.ts
  apps/api/src/modules/gaming/adapters/gala.adapter.spec.ts
  apps/api/src/modules/gaming/adapters/illuvium.adapter.spec.ts
  apps/api/src/modules/gaming/adapters/immutable.adapter.spec.ts
  apps/api/src/modules/gaming/adapters/sandbox.adapter.spec.ts
  apps/api/src/modules/gaming/adapters/star-atlas.adapter.spec.ts
  apps/api/src/modules/gaming/gaming.service.spec.ts
  apps/api/src/modules/gaming/sandbox.service.spec.ts
  apps/api/src/modules/onboarding/onboarding.service.ts
  apps/api/src/modules/providers/plaid/__tests__/plaid.utils.spec.ts
  apps/api/src/modules/providers/plaid/plaid-webhook.handler.spec.ts
  apps/api/src/modules/storage/r2.service.spec.ts
  apps/api/src/modules/transactions/transactions.service.ts
  apps/api/src/modules/users/__tests__/users.service.spec.ts
  apps/api/test/helpers/api-mock-factory.ts
Due: api, API

fix(api): resolve all 26 E2E test failures in CI
  .github/workflows/ci.yml
  .github/workflows/test-coverage.yml
  apps/api/test/app.e2e-spec.ts
  apps/api/test/e2e/helpers/e2e-app.helper.ts
  apps/api/test/e2e/helpers/test.helper.ts
  apps/api/test/e2e/onboarding-flow.e2e-spec.ts
  apps/api/test/e2e/preferences-management.e2e-spec.ts
Due: none

fix(api): add root /health endpoint for external monitoring
  apps/api/src/main.ts
  infra/k8s/production/api-deployment.yaml
Due: api, API

fix(api): add missing DB migration and resilient cleanDatabase for E2E
  apps/api/prisma/migrations/20250205000000_add_reports_sharing_and_documents/migration.sql
  apps/api/test/e2e/helpers/test.helper.ts
Due: none

fix(k8s): revert API probes to tcpSocket until new image is deployed
  infra/k8s/production/api-deployment.yaml
Due: none

fix(api): resolve remaining E2E failures — tier limits and unimplemented endpoints
  apps/api/test/app.e2e-spec.ts
  apps/api/test/e2e/helpers/test.helper.ts
  apps/api/test/e2e/onboarding-flow.e2e-spec.ts
  apps/api/test/e2e/preferences-management.e2e-spec.ts
Due: none

fix(api): include subscriptionTier in JWT strategy user object
  apps/api/src/core/auth/__tests__/jwt.strategy.spec.ts
  apps/api/src/core/auth/strategies/jwt.strategy.ts
Due: api, API

fix(api): relax onboarding progress assertion for skipped optional steps
  apps/api/test/e2e/onboarding-flow.e2e-spec.ts
Due: none

fix(ci): decouple Docker build from deploy credentials
  .github/workflows/deploy-admin-k8s.yml
  .github/workflows/deploy-enclii.yml
  .github/workflows/deploy-k8s.yml
  .github/workflows/deploy-web-k8s.yml
Due: none

fix(k8s): switch API probes from tcpSocket to httpGet /health
  infra/k8s/production/api-deployment.yaml
Due: none

feat: add kustomize auto-deploy pipeline with lifecycle event tracking
  .github/workflows/deploy-admin-k8s.yml
  .github/workflows/deploy-enclii.yml
  .github/workflows/deploy-k8s.yml
  .github/workflows/deploy-web-k8s.yml
  infra/k8s/production/admin-deployment.yaml
  infra/k8s/production/api-deployment.yaml
  infra/k8s/production/kustomization.yaml
  infra/k8s/production/web-deployment.yaml
Due: none

fix(ci): use path negation instead of paths-ignore (cannot coexist with paths)
  .github/workflows/deploy-admin-k8s.yml
  .github/workflows/deploy-k8s.yml
  .github/workflows/deploy-web-k8s.yml
Due: none

fix(ci): remove secrets context from job-level if conditions
  .github/workflows/deploy-admin-k8s.yml
  .github/workflows/deploy-k8s.yml
  .github/workflows/deploy-web-k8s.yml
Due: none

fix: add git pull --rebase for concurrent digest commits, complete enclii.yaml
  .github/workflows/deploy-admin-k8s.yml
  .github/workflows/deploy-k8s.yml
  .github/workflows/deploy-web-k8s.yml
  enclii.yaml
Due: none

fix(ci): replace git rebase with fetch/reset retry loop for concurrent digest commits
  .github/workflows/deploy-admin-k8s.yml
  .github/workflows/deploy-k8s.yml
  .github/workflows/deploy-web-k8s.yml
Due: none

fix(k8s): add revisionHistoryLimit: 3 to all deployments
  infra/k8s/production/admin-deployment.yaml
  infra/k8s/production/api-deployment.yaml
  infra/k8s/production/web-deployment.yaml
Due: none

feat(infra): add PDBs + startupProbes for all dhanam services
  infra/k8s/production/admin-deployment.yaml
  infra/k8s/production/pdb.yaml
  infra/k8s/production/web-deployment.yaml
Due: none

feat(ci): add cosign image signing to all 4 deploy workflows
  .github/workflows/deploy-admin-k8s.yml
  .github/workflows/deploy-enclii.yml
  .github/workflows/deploy-k8s.yml
  .github/workflows/deploy-web-k8s.yml
Due: none

perf(api): split /health into fast basic check and full diagnostic endpoint
  apps/api/src/core/monitoring/health.service.ts
  apps/api/src/main.ts
  apps/api/src/modules/jobs/queue.service.ts
  infra/k8s/production/api-deployment.yaml
Due: api, API

feat(web): add full demo platform via /demo/* URL rewriting
  apps/web/src/app/(dashboard)/layout.tsx
  apps/web/src/app/demo/page.tsx
  apps/web/src/app/demo/sitemap.ts
  apps/web/src/components/demo/persona-switcher.tsx
  apps/web/src/components/keyboard-shortcuts.tsx
  apps/web/src/components/layout/dashboard-header.test.tsx
  apps/web/src/components/layout/dashboard-header.tsx
  apps/web/src/components/layout/dashboard-nav.test.tsx
  apps/web/src/components/layout/dashboard-nav.tsx
  apps/web/src/lib/contexts/demo-navigation-context.test.tsx
  apps/web/src/lib/contexts/demo-navigation-context.tsx
  apps/web/src/lib/hooks/use-demo-router.ts
  apps/web/src/middleware.ts
Due: web, Web

fix(ci): correct build args in deploy-web-k8s.yml to fix demo login 404
  .github/workflows/deploy-web-k8s.yml
Due: none

fix(web): add I18nProvider to root Providers to fix production login crash
  apps/web/src/app/page.tsx
  apps/web/src/lib/providers.tsx
  packages/shared/src/i18n/en/auth.ts
  packages/shared/src/i18n/es/auth.ts
Due: web, shared, Web, Shared

feat(auth): upgrade Janua SDK to 0.1.1 with MFA for billing operations
  apps/web/package.json
  apps/web/src/app/(dashboard)/billing/page.tsx
  apps/web/src/components/billing/MFAGate.tsx
  apps/web/src/providers/JanuaAuthBridge.tsx
Due: web, Web

fix(infra): remediate TD-002 — database provisioning via Enclii API
  TECH_DEBT.md
  docs/DEPLOYMENT.md
  docs/LAUNCH_OPERATIONS.md
  llms-full.txt
  scripts/README.md
  scripts/provision-db.sh
Due: none

fix(staging): copy deployment manifests instead of cross-dir references
  infra/k8s/staging/api-deployment.yaml
  infra/k8s/staging/kustomization.yaml
  infra/k8s/staging/web-deployment.yaml
Due: none

fix: sync pnpm-lock.yaml with package.json
  pnpm-lock.yaml
Due: none

fix: remediate 11 browser test findings from production audit
  CLAUDE.md
  apps/api/src/core/auth/__tests__/demo-auth.service.spec.ts
  apps/api/src/core/auth/demo-auth.service.ts
  apps/web/e2e/auth.spec.ts
  apps/web/next.config.js
  apps/web/src/__tests__/middleware.test.ts
  apps/web/src/app/(auth)/forgot-password/page.tsx
  apps/web/src/app/(auth)/reset-password/page.tsx
  apps/web/src/app/__tests__/forgot-password-page.test.tsx
  apps/web/src/app/__tests__/reset-password-page.test.tsx
  apps/web/src/components/cookie-consent-banner.tsx
  apps/web/src/components/locale-switcher/LocaleSwitcher.tsx
  apps/web/src/lib/hooks/use-auth.ts
  apps/web/src/middleware.ts
  packages/shared/src/i18n/pt-BR/landing.ts
  test-results/BROWSER-TEST-REPORT.md
Due: api, web, shared, API, Web, Shared

fix(api): make provider keys optional for production startup
  apps/api/src/config/validation.ts
Due: api, API

fix(prisma): add url to datasource for container migrations
  apps/api/prisma/schema.prisma
Due: none

infra(k8s): stabilize dhanam production deployment
  infra/k8s/production/_cloudflare-routes-reference.yaml
  infra/k8s/production/_secrets-template.yaml
  infra/k8s/production/api-deployment.yaml
  infra/k8s/production/kustomization.yaml
  infra/k8s/production/network-policies.yaml
Due: none

fix(prisma): remove url from schema for Prisma 7.x compatibility
  apps/api/Dockerfile
  apps/api/prisma/schema.prisma
Due: none

fix(web): remediate 10 browser test bugs (B6, B10-B13, B16-B19)
  CHANGELOG.md
  apps/web/next.config.js
  apps/web/src/app/[locale]/landing/page.tsx
  apps/web/src/app/layout.tsx
  apps/web/src/app/not-found.tsx
  apps/web/src/components/forms/register-form.test.tsx
  apps/web/src/components/forms/register-form.tsx
  apps/web/src/lib/hooks/use-auth.ts
  apps/web/src/middleware.ts
  test-results/01-landing-hero-en.png
  test-results/02-landing-full-en.png
  test-results/03-login-page.png
  test-results/04-register-page.png
  test-results/05-demo-page.png
  test-results/06-mobile-landing-hero.png
  test-results/07-mobile-landing-full.png
  test-results/08-mobile-login.png
  test-results/BROWSER-TEST-REPORT.md
Due: web, Web

fix(web,api): resolve ESG route conflict, wire billing product param, fix pre-existing build errors
  apps/api/src/modules/billing/__tests__/billing.service.spec.ts
  apps/api/src/modules/billing/billing.service.ts
  apps/web/src/__tests__/middleware.test.ts
  apps/web/src/app/(admin)/admin/spaces/page.tsx
  apps/web/src/app/(admin)/admin/system-health/page.tsx
  apps/web/src/app/(legal)/esg-methodology/page.tsx
  apps/web/src/app/robots.ts
  apps/web/src/components/admin/cache-controls.tsx
  apps/web/src/components/admin/compliance-actions.tsx
  apps/web/src/components/admin/deployment-status.tsx
  apps/web/src/components/admin/health-status-card.tsx
  apps/web/src/components/admin/provider-status-table.tsx
  apps/web/src/components/admin/space-details-modal.tsx
  apps/web/src/components/billing/MFAGate.tsx
  apps/web/src/components/landing/footer.tsx
  apps/web/src/lib/api/admin.ts
  apps/web/src/middleware.ts
  apps/web/src/providers/JanuaAuthBridge.tsx
  test-results/BROWSER-TEST-REPORT.md
Due: api, web, API, Web

fix(lint): resolve mobile ESLint errors blocking CI
  apps/mobile/package.json
  apps/mobile/src/components/TransactionFilter.tsx
  pnpm-lock.yaml
Due: none

fix(web): prevent JanuaAuthBridge SSR crash that collapsed provider tree
  apps/web/src/providers/JanuaAuthBridge.tsx
Due: web, Web

fix(web): use dynamic import to prevent @janua/react-sdk SSR module crash
  apps/web/src/lib/providers.tsx
Due: web, Web
